# WeRateDogs Twitter Data Wrangling Project
## for Udacity Data Analyst nanodegree data wrangling project

Rubric at https://review.udacity.com/#!/rubrics/1136/view

Student: Cherie Goodenough

Date: 01/20/2019

#### Table of Contents:
1. [Gather](#gather)
2. [Assess](#assess)
    1. [twitter-archive-enhanced data](#wrd-assess)
    1. [breed prediction data](#breed-assess)
    1. [likes and retweets counts data](#counts-assess)
3. [Clean](#clean)
    1. [Quality]
        1. [twitter_archive-enhanced data](#wrd-qual)
        1. [breed prediction data](#breed-qual)
        1. [likes and retweets counts data](#counts-qual)
    1. [Tidinesss](#tidy)
        1. [twitter_archive-enhanced data](#wrd-tidy)
        1. [breed prediction data](#breed-tidy)
        1. [likes and retweets counts data](#counts-tidy)
1. [Analysis](#analysis)

<a id='gather'></a>
## Gather

There are three initial sources of data for this project:
1. Archive file twitter_archive_enhanced.csv - This file was provided to us by WeRateDogs via udacity. It contains rating, tweet texts and tweet IDs for 5000 tweets. It is not up to date and I will not attempt to do the latest tweets because it will not line up with the second source, which is:
2. Another data file provided by Udacity instructor which used an AI algorithm (not provided) to predict the breed of each rated dog based on the image in the rating tweet. This is a .tsv file located at https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv
3. I will use the Twitter API and Tweepy library to get at least likes and retweets for each tweet. This information is not in the provided archive.

In [1]:
#load required libraries
import pandas as pd
import requests
import os
import tweepy

In [2]:
# load and quick look at archive file
wrd_df = pd.read_csv('twitter-archive-enhanced.csv')
wrd_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [3]:
# And the provided file with breed prediction
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
r = requests.get(url)
with open(url.split('/')[-1],mode='wb') as file: # Note to self, 'wb' means open writeable and binary
    file.write(r.content)
breed_df = pd.read_csv(url.split('/')[-1],sep='\t')
breed_df.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [4]:
# Finally, enhance with more data from twitter. First, get authenticated
consumer_key = '6S4FUsi29sHWvaMswVhohbKnv'
consumer_secret = '32cIJWEl8OHzsYZocvRTRoKF3w7P1nGW8ySqYoLJUqXNVhz6pl'
access_token = '1964849383-pwJac4Z4Ca91fWPfIYgkICoEyW5VP9VgcydgNHL'
access_secret = 'zeYDFb1urVXxExL3v4vJNOh5Yj05ESVLhCXyRI7U5UJXA'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth,wait_on_rate_limit=True,wait_on_rate_limit_notify=True)

In [5]:
# create dataframe with tweet_id, url, favorite_count, and retweet_count for each id in wrd_df
# include a couple of print statements and a timer to keep the query rate down

# I started out just putting all of the retrieved data for each tweet into a json file, but this was unweildy and make accessing 
# the data I wanted painful, as well as not grabbing the tweet_id easily. I looked around and was guided by Jonathan Allen's 
# method on git up at https://github.com/JonathanAllen84/Wrangling-WeRateDogs/blob/master/wrangle_act.ipynb

from timeit import default_timer as timer
import json
not_found = {}
tweet_data = {}
start = timer()
for tid in wrd_df['tweet_id']:
    try:
        tweet = api.get_status(tid,tweet_mode='extended')
        print("Found id: ",tid)
        tweet_data[tweet.id] = []
        try:
            media = tweet.entities['media']
            tweet_data[tweet.id].append({
                'url': tweet.entities['media'][0]['expanded_url'],
                'favorite_count': tweet.favorite_count,
                'retweet_count': tweet.retweet_count
            })
        except KeyError as e:
            print(tid, 'no url')
            tweet_data[tweet.id].append({
                'url': '',
                'favorite_count': tweet.favorite_count,
                'retweet_count': tweet.retweet_count
            })
    except tweepy.TweepError as e:
        print('Tweet not found:', tid)
        not_found[tid] = e
        pass
with open('tweet_json.txt','w') as myfile:
    json.dump(tweet_data,myfile)
print(timer() - start)

Found id:  892420643555336193
Found id:  892177421306343426
Found id:  891815181378084864
Found id:  891689557279858688
Found id:  891327558926688256
Found id:  891087950875897856
Found id:  890971913173991426
Found id:  890729181411237888
Found id:  890609185150312448
Found id:  890240255349198849
Found id:  890006608113172480
Found id:  889880896479866881
Found id:  889665388333682689
Found id:  889638837579907072
Found id:  889531135344209921
Found id:  889278841981685760
Found id:  888917238123831296
Found id:  888804989199671297
Found id:  888554962724278272
Tweet not found: 888202515573088257
Found id:  888078434458587136
Found id:  887705289381826560
Found id:  887517139158093824
Found id:  887473957103951883
Found id:  887343217045368832
Found id:  887101392804085760
Found id:  886983233522544640
Found id:  886736880519319552
Found id:  886680336477933568
Found id:  886366144734445568
Found id:  886267009285017600
886267009285017600 no url
Found id:  886258384151887873
Found id:  886054160059072513
886054160059072513 no url
Found id:  885984800019947520
Found id:  885528943205470208
Found id:  885518971528720385
885518971528720385 no url
Found id:  885311592912609280
Found id:  885167619883638784
Found id:  884925521741709313
Found id:  884876753390489601
Found id:  884562892145688576
Found id:  884441805382717440
Found id:  884247878851493888
884247878851493888 no url
Found id:  884162670584377345
Found id:  883838122936631299
Found id:  883482846933004288
Found id:  883360690899218434
Found id:  883117836046086144
Found id:  882992080364220416
Found id:  882762694511734784
Found id:  882627270321602560
Found id:  882268110199369728
Found id:  882045870035918850
Found id:  881906580714921986
Found id:  881666595344535552
Found id:  881633300179243008
881633300179243008 no url
Found id:  881536004380872706
Found id:  881268444196462592
Found id:  880935762899988482
Found id:  880872448815771648
Found id:  880465832366813184
Found id:  880221127280381952
Found id:  880095782870896641
Found id:  879862464715927552
Found id:  879674319642796034
879674319642796034 no url
Found id:  879492040517615616
Found id:  879415818425184262
Found id:  879376492567855104
Found id:  879130579576475649
879130579576475649 no url
Found id:  879050749262655488
Found id:  879008229531029506
Found id:  878776093423087618
Found id:  878604707211726852
878604707211726852 no url
Found id:  878404777348136964
878404777348136964 no url
Found id:  878316110768087041
878316110768087041 no url
Found id:  878281511006478336
Found id:  878057613040115712
Found id:  877736472329191424
Found id:  877611172832227328
Found id:  877556246731214848
Found id:  877316821321428993
Found id:  877201837425926144
Found id:  876838120628539392
Found id:  876537666061221889
876537666061221889 no url
Found id:  876484053909872640
Found id:  876120275196170240
Found id:  875747767867523072
Found id:  875144289856114688
Found id:  875097192612077568
875097192612077568 no url
Found id:  875021211251597312
Found id:  874680097055178752
Found id:  874434818259525634
874434818259525634 no url
Found id:  874296783580663808
Found id:  874057562936811520
Found id:  874012996292530176
Tweet not found: 873697596434513921
Found id:  873580283840344065
Found id:  873337748698140672
873337748698140672 no url
Found id:  873213775632977920
Found id:  872967104147763200
Found id:  872820683541237760
Tweet not found: 872668790621863937
Found id:  872620804844003328
Found id:  872486979161796608
Found id:  872261713294495745
Found id:  872122724285648897
Found id:  871879754684805121
Found id:  871762521631449091
Found id:  871515927908634625
Found id:  871166179821445120
871166179821445120 no url
Found id:  871102520638267392
871102520638267392 no url
Found id:  871032628920680449
Found id:  870804317367881728
Found id:  870726314365509632
870726314365509632 no url
Found id:  870656317836468226
Found id:  870374049280663552
Found id:  870308999962521604
Found id:  870063196459192321
Tweet not found: 869988702071779329
Found id:  869772420881756160
Found id:  869702957897576449
Found id:  869596645499047938
Found id:  869227993411051520
Found id:  868880397819494401
Found id:  868639477480148993
868639477480148993 no url
Found id:  868622495443632128
Found id:  868552278524837888
Found id:  867900495410671616
Found id:  867774946302451713
Found id:  867421006826221569
Found id:  867072653475098625
Found id:  867051520902168576
Tweet not found: 866816280283807744
Found id:  866720684873056260
866720684873056260 no url
Found id:  866686824827068416
Found id:  866450705531457537
Found id:  866334964761202691
Found id:  866094527597207552
866094527597207552 no url
Found id:  865718153858494464
Found id:  865359393868664832
Found id:  865006731092295680
Found id:  864873206498414592
Found id:  864279568663928832
Found id:  864197398364647424
Found id:  863907417377173506
Found id:  863553081350529029
Found id:  863471782782697472
863471782782697472 no url
Found id:  863432100342583297
Found id:  863427515083354112
863427515083354112 no url
Found id:  863079547188785154
Found id:  863062471531167744
Found id:  862831371563274240
Found id:  862722525377298433
Found id:  862457590147678208
Found id:  862096992088072192
Tweet not found: 861769973181624320
Found id:  861383897657036800
Found id:  861288531465048066
Found id:  861005113778896900
Found id:  860981674716409858
860981674716409858 no url
Found id:  860924035999428608
Found id:  860563773140209665
Found id:  860524505164394496
Found id:  860276583193509888
Found id:  860184849394610176
Found id:  860177593139703809
860177593139703809 no url
Found id:  859924526012018688
Found id:  859851578198683649
Found id:  859607811541651456
Found id:  859196978902773760
Found id:  859074603037188101
Found id:  858860390427611136
858860390427611136 no url
Found id:  858843525470990336
Found id:  858471635011153920
Found id:  858107933456039936
Found id:  857989990357356544
Found id:  857746408056729600
Found id:  857393404942143489
Found id:  857263160327368704
Found id:  857214891891077121
857214891891077121 no url
Found id:  857062103051644929
857062103051644929 no url
Found id:  857029823797047296
Found id:  856602993587888130
856602993587888130 no url
Found id:  856543823941562368
Found id:  856526610513747968
Found id:  856330835276025856
856330835276025856 no url
Found id:  856288084350160898
856288084350160898 no url
Found id:  856282028240666624
Found id:  855862651834028034
855862651834028034 no url
Found id:  855860136149123072
855860136149123072 no url
Found id:  855857698524602368
855857698524602368 no url
Found id:  855851453814013952
Found id:  855818117272018944
855818117272018944 no url
Found id:  855459453768019968
Found id:  855245323840757760
855245323840757760 no url
Found id:  855138241867124737
855138241867124737 no url
Found id:  854732716440526848
Found id:  854482394044301312
Found id:  854365224396361728
Found id:  854120357044912130
Found id:  854010172552949760
Found id:  853760880890318849
Found id:  853639147608842240
Found id:  853299958564483072
Found id:  852936405516943360
852936405516943360 no url
Found id:  852912242202992640
Found id:  852672615818899456
Found id:  852553447878664193
Found id:  852311364735569921
Found id:  852226086759018497
Found id:  852189679701164033
Found id:  851953902622658560
Found id:  851861385021730816
Found id:  851591660324737024
Found id:  851464819735769094
Found id:  851224888060895234
Found id:  850753642995093505
Found id:  850380195714523136
Found id:  850333567704068097
850333567704068097 no url
Found id:  850145622816686080
Found id:  850019790995546112
Found id:  849776966551130114
Found id:  849668094696017920
849668094696017920 no url
Found id:  849412302885593088
Found id:  849336543269576704
Found id:  849051919805034497
Found id:  848690551926992896
Found id:  848324959059550208
Found id:  848213670039564288
848213670039564288 no url
Found id:  848212111729840128
Found id:  847978865427394560
847978865427394560 no url
Found id:  847971574464610304
Found id:  847962785489326080
Found id:  847842811428974592
Found id:  847617282490613760
847617282490613760 no url
Found id:  847606175596138505

Found id:  847251039262605312
Found id:  847157206088847362
Found id:  847116187444137987
Found id:  846874817362120707
Found id:  846514051647705089
Found id:  846505985330044928
846505985330044928 no url
Found id:  846153765933735936
Found id:  846139713627017216
846139713627017216 no url
Found id:  846042936437604353
Found id:  845812042753855489
Found id:  845677943972139009
Tweet not found: 845459076796616705
Found id:  845397057150107648
Found id:  845306882940190720
Found id:  845098359547420673
845098359547420673 no url
Found id:  844979544864018432
Found id:  844973813909606400
Found id:  844704788403113984
Found id:  844580511645339650
Found id:  844223788422217728
Found id:  843981021012017153
843981021012017153 no url
Found id:  843856843873095681
Found id:  843604394117681152
Found id:  843235543001513987
Tweet not found: 842892208864923648
Found id:  842846295480000512
Found id:  842765311967449089
Found id:  842535590457499648
Found id:  842163532590374912
Found id:  842115215311396866
Found id:  841833993020538882
Found id:  841680585030541313
Found id:  841439858740625411
Found id:  841320156043304961
841320156043304961 no url
Found id:  841314665196081154
Found id:  841077006473256960
Found id:  840761248237133825
840761248237133825 no url
Found id:  840728873075638272
840728873075638272 no url
Found id:  840698636975636481
840698636975636481 no url
Found id:  840696689258311684
Found id:  840632337062862849
Found id:  840370681858686976
Found id:  840268004936019968
Found id:  839990271299457024
Found id:  839549326359670784
Found id:  839290600511926273
Found id:  839239871831150596
Found id:  838952994649550848
838952994649550848 no url
Found id:  838921590096166913
Found id:  838916489579200512
Found id:  838831947270979586
838831947270979586 no url
Found id:  838561493054533637
Found id:  838476387338051585
Found id:  838201503651401729
838201503651401729 no url
Found id:  838150277551247360
838150277551247360 no url
Found id:  838085839343206401
838085839343206401 no url
Found id:  838083903487373313
Found id:  837820167694528512
Found id:  837482249356513284
Found id:  837471256429613056
Found id:  837366284874571778
Found id:  837110210464448512
Tweet not found: 837012587749474308
Found id:  836989968035819520
Found id:  836753516572119041
Found id:  836677758902222849
Found id:  836648853927522308
836648853927522308 no url
Found id:  836397794269200385
836397794269200385 no url
Found id:  836380477523124226
Found id:  836260088725786625
Found id:  836001077879255040
Found id:  835685285446955009
835685285446955009 no url
Found id:  835574547218894849
Found id:  835536468978302976
835536468978302976 no url
Found id:  835309094223372289
835309094223372289 no url
Found id:  835297930240217089
Found id:  835264098648616962
Found id:  835246439529840640
835246439529840640 no url
Found id:  835172783151792128
Found id:  835152434251116546
Found id:  834931633769889797
Found id:  834786237630337024
Found id:  834574053763584002
Found id:  834477809192075265
834477809192075265 no url
Found id:  834458053273591808
Found id:  834209720923721728
Found id:  834167344700198914
Found id:  834089966724603904
834089966724603904 no url
Found id:  834086379323871233
Found id:  833863086058651648
Found id:  833826103416520705
Found id:  833732339549220864
833732339549220864 no url
Found id:  833722901757046785
Found id:  833479644947025920
Found id:  833124694597443584
Found id:  832998151111966721
Found id:  832769181346996225
Found id:  832757312314028032
Found id:  832682457690300417
832682457690300417 no url
Found id:  832645525019123713
832645525019123713 no url
Found id:  832636094638288896
Found id:  832397543355072512
Found id:  832369877331693569
Found id:  832273440279240704
Found id:  832215909146226688
832215909146226688 no url
Found id:  832215726631055365
Found id:  832088576586297345
832088576586297345 no url
Found id:  832040443403784192
Found id:  832032802820481025
Found id:  831939777352105988
Found id:  831926988323639298
831926988323639298 no url
Found id:  831911600680497154
Found id:  831670449226514432
Found id:  831650051525054464
Found id:  831552930092285952
Found id:  831322785565769729
Found id:  831315979191906304
Found id:  831309418084069378
Found id:  831262627380748289
Found id:  830956169170665475
Found id:  830583320585068544
Found id:  830173239259324417
830173239259324417 no url
Found id:  830097400375152640
Found id:  829878982036299777
Found id:  829861396166877184
Found id:  829501995190984704
Found id:  829449946868879360
Found id:  829374341691346946
Found id:  829141528400556032
Found id:  829011960981237760
Found id:  828801551087042563
828801551087042563 no url
Found id:  828770345708580865
Found id:  828708714936930305
Found id:  828650029636317184
Found id:  828409743546925057
Found id:  828408677031882754
Found id:  828381636999917570
Found id:  828376505180889089
Found id:  828372645993398273
Found id:  828361771580813312
828361771580813312 no url
Found id:  828046555563323392
Found id:  828011680017821696
Found id:  827933404142436356
Found id:  827653905312006145
Found id:  827600520311402496
Found id:  827324948884643840
Tweet not found: 827228250799742977
Found id:  827199976799354881
Found id:  826958653328592898
Found id:  826848821049180160
Found id:  826615380357632002
826615380357632002 no url
Found id:  826598799820865537
826598799820865537 no url
Found id:  826598365270007810
Found id:  826476773533745153
Found id:  826240494070030336
Found id:  826204788643753985
Found id:  826115272272650244
Found id:  825876512159186944
Found id:  825829644528148480
Found id:  825535076884762624
Found id:  825147591692263424
Found id:  825120256414846976
825120256414846976 no url
Found id:  825026590719483904
Found id:  824796380199809024
Found id:  824775126675836928
Found id:  824663926340194305
Found id:  824325613288833024
Found id:  824297048279236611
Found id:  824025158776213504
824025158776213504 no url
Found id:  823939628516474880
Found id:  823719002937630720
823719002937630720 no url
Found id:  823699002998870016
Found id:  823581115634085888
Found id:  823333489516937216
823333489516937216 no url
Found id:  823322678127919110
Found id:  823269594223824897
Found id:  822975315408461824
Found id:  822872901745569793
Found id:  822859134160621569
Found id:  822647212903690241
Found id:  822610361945911296
Found id:  822489057087389700
Found id:  822462944365645825
Found id:  822244816520155136
Found id:  822163064745328640
822163064745328640 no url
Found id:  821886076407029760
Found id:  821813639212650496
Found id:  821765923262631936
Found id:  821522889702862852
Found id:  821421320206483457
821421320206483457 no url
Found id:  821407182352777218
Found id:  821153421864615936
821153421864615936 no url
Found id:  821149554670182400
Found id:  821107785811234820
Found id:  821044531881721856
Found id:  820837357901512704
820837357901512704 no url
Found id:  820749716845686786
Found id:  820690176645140481
Found id:  820494788566847489
820494788566847489 no url
Found id:  820446719150292993
Found id:  820314633777061888
Found id:  820078625395449857
Found id:  820013781606658049
820013781606658049 no url
Found id:  819952236453363712
Found id:  819924195358416896
Found id:  819711362133872643
Found id:  819588359383371776
Found id:  819347104292290561
Found id:  819238181065359361
819238181065359361 no url
Found id:  819227688460238848
Found id:  819015337530290176
Found id:  819015331746349057
Found id:  819006400881917954
Found id:  819004803107983360
Found id:  818646164899774465
818646164899774465 no url
Found id:  818627210458333184
Found id:  818614493328580609
Found id:  818588835076603904
Found id:  818536468981415936
Found id:  818307523543449600
818307523543449600 no url
Found id:  818259473185828864
Found id:  818145370475810820
Found id:  817908911860748288
817908911860748288 no url
Found id:  817827839487737858
Found id:  817777686764523521
Found id:  817536400337801217
Found id:  817502432452313088
817502432452313088 no url
Found id:  817423860136083457
Found id:  817415592588222464
Found id:  817181837579653120
Found id:  817171292965273600
Found id:  817120970343411712

Found id:  817056546584727552
Found id:  816829038950027264
Found id:  816816676327063552
Found id:  816697700272001025
Found id:  816450570814898180
Found id:  816336735214911488
Found id:  816091915477250048
Found id:  816062466425819140
816062466425819140 no url
Found id:  816014286006976512
Found id:  815990720817401858
Found id:  815966073409433600
Found id:  815745968457060357
815745968457060357 no url
Found id:  815736392542261248
Found id:  815639385530101762
Found id:  815390420867969024
Found id:  814986499976527872
Found id:  814638523311648768
Found id:  814578408554463233
814578408554463233 no url
Found id:  814530161257443328
Found id:  814153002265309185
Found id:  813944609378369540
Found id:  813910438903693312
Found id:  813812741911748608
Found id:  813800681631023104
Found id:  813217897535406080
Found id:  813202720496779264
Found id:  813187593374461952
Found id:  813172488309972993
Found id:  813157409116065792
Found id:  813142292504645637
Found id:  813130366689148928
813130366689148928 no url
Found id:  813127251579564032
Found id:  813112105746448384
Found id:  813096984823349248
Found id:  813081950185472002
Found id:  813066809284972545
Found id:  813051746834595840
Found id:  812781120811126785
Tweet not found: 812747805718642688
Found id:  812709060537683968
Found id:  812503143955202048
Found id:  812466873996607488
Found id:  812372279581671427
Found id:  811985624773361665
Found id:  811744202451197953
Found id:  811647686436880384
811647686436880384 no url
Found id:  811627233043480576
Found id:  811386762094317568
Found id:  810984652412424192
Found id:  810896069567610880
Found id:  810657578271330305
Found id:  810284430598270976
Found id:  810254108431155201
Found id:  809920764300447744
Found id:  809808892968534016
Found id:  809448704142938112
Found id:  809220051211603969
Found id:  809084759137812480
Found id:  808838249661788160
Found id:  808733504066486276
Found id:  808501579447930884
Found id:  808344865868283904
808344865868283904 no url
Found id:  808134635716833280
Found id:  808106460588765185
Found id:  808001312164028416
Found id:  807621403335917568
Found id:  807106840509214720
Found id:  807059379405148160
Found id:  807010152071229440
Found id:  806629075125202948
Found id:  806620845233815552
806620845233815552 no url
Found id:  806576416489959424
806576416489959424 no url
Found id:  806542213899489280
Found id:  806242860592926720
Found id:  806219024703037440
Found id:  805958939288408065
Found id:  805932879469572096
Found id:  805826884734976000
Found id:  805823200554876929
805823200554876929 no url
Found id:  805520635690676224
Found id:  805487436403003392
Found id:  805207613751304193
Found id:  804738756058218496
Found id:  804475857670639616
804475857670639616 no url
Found id:  804413760345620481
Found id:  804026241225523202
Found id:  803773340896923648
Found id:  803692223237865472
Found id:  803638050916102144
Found id:  803380650405482500
Found id:  803321560782307329
803321560782307329 no url
Found id:  803276597545603072
Found id:  802952499103731712
Found id:  802624713319034886
Found id:  802600418706604034
802600418706604034 no url
Found id:  802572683846291456
Found id:  802323869084381190
Found id:  802265048156610565
Tweet not found: 802247111496568832
Found id:  802239329049477120
Found id:  802185808107208704
802185808107208704 no url
Found id:  801958328846974976
Found id:  801854953262350336
801854953262350336 no url
Found id:  801538201127157760
Found id:  801285448605831168
Found id:  801167903437357056
Found id:  801127390143516673
801127390143516673 no url
Found id:  801115127852503040
Found id:  800859414831898624
800859414831898624 no url
Found id:  800855607700029440
800855607700029440 no url
Found id:  800751577355128832
Found id:  800513324630806528
Found id:  800459316964663297
Found id:  800443802682937345
Found id:  800388270626521089
Found id:  800188575492947969
800188575492947969 no url
Found id:  800141422401830912
Found id:  800018252395122689
Found id:  799774291445383169
Found id:  799757965289017345
Found id:  799422933579902976
Found id:  799308762079035393
799308762079035393 no url
Found id:  799297110730567681
Found id:  799063482566066176
Found id:  798933969379225600
Found id:  798925684722855936
Found id:  798705661114773508
798705661114773508 no url
Found id:  798701998996647937
798701998996647937 no url
Found id:  798697898615730177
Found id:  798694562394996736
Found id:  798686750113755136
798686750113755136 no url
Found id:  798682547630837760
798682547630837760 no url
Found id:  798673117451325440
Found id:  798665375516884993
Found id:  798644042770751489
Found id:  798628517273620480
Found id:  798585098161549313
798585098161549313 no url
Found id:  798576900688019456
798576900688019456 no url
Found id:  798340744599797760
Found id:  798209839306514432
Found id:  797971864723324932
Found id:  797545162159308800
Found id:  797236660651966464
Found id:  797165961484890113
797165961484890113 no url
Found id:  796904159865868288
796904159865868288 no url
Found id:  796865951799083009
Found id:  796759840936919040
Found id:  796563435802726400
796563435802726400 no url
Found id:  796484825502875648
Found id:  796387464403357696
Found id:  796177847564038144
Found id:  796149749086875649
Found id:  796125600683540480
796125600683540480 no url
Found id:  796116448414461957
Found id:  796080075804475393
Found id:  796031486298386433
Found id:  795464331001561088
Found id:  795400264262053889
Found id:  795076730285391872
Found id:  794983741416415232
Found id:  794926597468000259
Found id:  794355576146903043
Found id:  794332329137291264
Found id:  794205286408003585
Found id:  793962221541933056
Found id:  793845145112371200
Found id:  793614319594401792
Found id:  793601777308463104
Found id:  793500921481273345
Found id:  793286476301799424
Found id:  793271401113350145
Found id:  793256262322548741
Found id:  793241302385262592
Found id:  793226087023144960
Found id:  793210959003287553
Found id:  793195938047070209
Found id:  793180763617361921
Found id:  793165685325201412
Found id:  793150605191548928
Found id:  793135492858580992
Found id:  793120401413079041
Found id:  792913359805018113
Found id:  792883833364439040
Found id:  792773781206999040
Found id:  792394556390137856
Found id:  792050063153438720
Found id:  791821351946420224
791821351946420224 no url
Found id:  791784077045166082
791784077045166082 no url
Found id:  791780927877898241
791780927877898241 no url
Found id:  791774931465953280
791774931465953280 no url
Found id:  791672322847637504
Found id:  791406955684368384
Found id:  791312159183634433
Found id:  791026214425268224
Found id:  790987426131050500
Found id:  790946055508652032
Found id:  790723298204217344
Found id:  790698755171364864
Found id:  790581949425475584
Found id:  790337589677002753
Found id:  790277117346975746
Found id:  790227638568808452
790227638568808452 no url
Found id:  789986466051088384
Found id:  789960241177853952
789960241177853952 no url
Found id:  789903600034189313
789903600034189313 no url
Found id:  789628658055020548
Found id:  789599242079838210
Found id:  789530877013393408
Found id:  789314372632018944
789314372632018944 no url
Found id:  789280767834746880
789280767834746880 no url
Found id:  789268448748703744
Found id:  789137962068021249
Found id:  788908386943430656
Found id:  788765914992902144
Found id:  788552643979468800
788552643979468800 no url
Found id:  788412144018661376
Found id:  788178268662984705
Found id:  788150585577050112
Found id:  788070120937619456
Found id:  788039637453406209
Found id:  787810552592695296
Found id:  787717603741622272
Found id:  787397959788929025
Found id:  787322443945877504
Found id:  787111942498508800
787111942498508800 no url
Found id:  786963064373534720
Found id:  786729988674449408
786729988674449408 no url
Found id:  786709082849828864
Found id:  786664955043049472
Found id:  786595970293370880
Found id:  786363235746385920
Found id:  786286427768250368
786286427768250368 no url
Found id:  786233965241827333
Found id:  786051337297522688
786051337297522688 no url
Found id:  786036967502913536
Found id:  785927819176054784
Found id:  785872687017132033

Found id:  785639753186217984
Found id:  785533386513321988
Found id:  785515384317313025
785515384317313025 no url
Found id:  785264754247995392
Found id:  785170936622350336
Found id:  784826020293709826
Found id:  784517518371221505
Found id:  784431430411685888
Found id:  784183165795655680
784183165795655680 no url
Found id:  784057939640352768
784057939640352768 no url
Found id:  783839966405230592
Found id:  783821107061198850
Found id:  783695101801398276
Found id:  783466772167098368
Found id:  783391753726550016
Found id:  783347506784731136
Found id:  783334639985389568
Found id:  783085703974514689
Found id:  782969140009107456
Found id:  782747134529531904
Found id:  782722598790725632
Found id:  782598640137187329
Found id:  782305867769217024
Found id:  782021823840026624
Found id:  781955203444699136
Found id:  781661882474196992
Found id:  781655249211752448
781655249211752448 no url
Found id:  781524693396357120
Found id:  781308096455073793
781308096455073793 no url
Found id:  781251288990355457
Found id:  781163403222056960
Found id:  780931614150983680
Found id:  780858289093574656
Found id:  780800785462489090
Found id:  780601303617732608
Found id:  780543529827336192
Found id:  780496263422808064
Found id:  780476555013349377
Found id:  780459368902959104
Found id:  780192070812196864
Found id:  780092040432480260
780092040432480260 no url
Found id:  780074436359819264
780074436359819264 no url
Found id:  779834332596887552
Found id:  779377524342161408
Found id:  779124354206535695
779124354206535695 no url
Found id:  779123168116150273
Found id:  779056095788752897
Found id:  778990705243029504
Found id:  778774459159379968
778774459159379968 no url
Found id:  778764940568104960
778764940568104960 no url
Found id:  778748913645780993
Found id:  778650543019483137
Found id:  778624900596654080
Found id:  778408200802557953
Found id:  778396591732486144
Found id:  778383385161035776
Found id:  778286810187399168
Found id:  778039087836069888
Found id:  778027034220126208
Found id:  777953400541634568
777953400541634568 no url
Found id:  777885040357281792
Found id:  777684233540206592
Found id:  777641927919427584
Found id:  777621514455814149
Found id:  777189768882946048
Found id:  776819012571455488
Found id:  776813020089548800
Found id:  776477788987613185
Found id:  776249906839351296
776249906839351296 no url
Found id:  776218204058357768
Found id:  776201521193218049
Found id:  776113305656188928
Found id:  776088319444877312
Found id:  775898661951791106
Found id:  775842724423557120
Found id:  775733305207554048
Found id:  775729183532220416
Found id:  775364825476165632
Found id:  775350846108426240
775350846108426240 no url
Tweet not found: 775096608509886464
Found id:  775085132600442880
Found id:  774757898236878852
Found id:  774639387460112384
Found id:  774314403806253056
Found id:  773985732834758656
Found id:  773922284943896577
Found id:  773704687002451968
Found id:  773670353721753600
Found id:  773547596996571136
Found id:  773336787167145985
773336787167145985 no url
Found id:  773308824254029826
Found id:  773247561583001600
Found id:  773191612633579521
Found id:  772877495989305348
Found id:  772826264096874500
Found id:  772615324260794368
Found id:  772581559778025472
Found id:  772193107915964416
Found id:  772152991789019136
Found id:  772117678702071809
Found id:  772114945936949249
Found id:  772102971039580160
Found id:  771908950375665664
771908950375665664 no url
Found id:  771770456517009408
Found id:  771500966810099713
Found id:  771380798096281600
Found id:  771171053431250945
Found id:  771136648247640064
Found id:  771102124360998913
Found id:  771014301343748096
Found id:  771004394259247104
Found id:  770787852854652928
Found id:  770772759874076672
Tweet not found: 770743923962707968
Found id:  770655142660169732
Found id:  770414278348247044
Found id:  770293558247038976
Found id:  770093767776997377
Found id:  770069151037685760
Found id:  769940425801170949
Found id:  769695466921623552
Found id:  769335591808995329
769335591808995329 no url
Found id:  769212283578875904
Found id:  768970937022709760
Found id:  768909767477751808
768909767477751808 no url
Found id:  768855141948723200
Found id:  768609597686943744
Found id:  768596291618299904
Found id:  768554158521745409
768554158521745409 no url
Found id:  768473857036525572
Found id:  768193404517830656
Found id:  767884188863397888
Found id:  767754930266464257
Found id:  767500508068192258
Found id:  767191397493538821
Found id:  767122157629476866
Found id:  766864461642756096
766864461642756096 no url
Found id:  766793450729734144
Found id:  766714921925144576
766714921925144576 no url
Found id:  766693177336135680
Found id:  766423258543644672
Found id:  766313316352462849
Found id:  766078092750233600
Found id:  766069199026450432
Found id:  766008592277377025
Found id:  765719909049503744
Found id:  765669560888528897
Found id:  765395769549590528
Found id:  765371061932261376
Found id:  765222098633691136
Found id:  764857477905154048
Found id:  764259802650378240
Found id:  763956972077010945
763956972077010945 no url
Found id:  763837565564780549
Found id:  763183847194451968
Found id:  763167063695355904
763167063695355904 no url
Found id:  763103485927849985
Found id:  762699858130116608
Found id:  762471784394268675
Found id:  762464539388485633
Found id:  762316489655476224
Found id:  762035686371364864
Found id:  761976711479193600
Found id:  761750502866649088
Found id:  761745352076779520
Found id:  761672994376806400
Found id:  761599872357261312
Found id:  761371037149827077
Found id:  761334018830917632
Found id:  761292947749015552
Found id:  761227390836215808
Found id:  761004547850530816
Found id:  760893934457552897
Found id:  760656994973933572
Found id:  760641137271070720
Found id:  760539183865880579
Found id:  760521673607086080
760521673607086080 no url
Found id:  760290219849637889
Found id:  760252756032651264
Found id:  760190180481531904
Found id:  760153949710192640
760153949710192640 no url
Found id:  759943073749200896
759943073749200896 no url
Found id:  759923798737051648
Found id:  759846353224826880
Found id:  759793422261743616
Found id:  759566828574212096
Found id:  759557299618865152
Found id:  759447681597108224
Found id:  759446261539934208
759446261539934208 no url
Found id:  759197388317847553
Found id:  759159934323924993
Found id:  759099523532779520
Found id:  759047813560868866
Found id:  758854675097526272
Found id:  758828659922702336

Rate limit reached. Sleeping for: 716

Found id:  758740312047005698
Found id:  758474966123810816
Found id:  758467244762497024
Found id:  758405701903519748
Found id:  758355060040593408
Found id:  758099635764359168
758099635764359168 no url
Found id:  758041019896193024
Found id:  757741869644341248
Found id:  757729163776290825
Found id:  757725642876129280
Found id:  757611664640446465
Found id:  757597904299253760
Found id:  757596066325864448
Found id:  757400162377592832
Found id:  757393109802180609
Found id:  757354760399941633
Found id:  756998049151549440
Found id:  756939218950160384
Found id:  756651752796094464
Found id:  756526248105566208
Found id:  756303284449767430
Found id:  756288534030475264
Found id:  756275833623502848
Found id:  755955933503782912
Found id:  755206590534418437
Found id:  755110668769038337
Found id:  754874841593970688
Found id:  754856583969079297
Found id:  754747087846248448
Found id:  754482103782404096
Found id:  754449512966619136
Found id:  754120377874386944
Tweet not found: 754011816964026368
Found id:  753655901052166144
Found id:  753420520834629632
Found id:  753398408988139520
Found id:  753375668877008896
Found id:  753298634498793472
753298634498793472 no url
Found id:  753294487569522689
Found id:  753039830821511168
753039830821511168 no url
Found id:  753026973505581056
Found id:  752932432744185856
752932432744185856 no url
Found id:  752917284578922496
Found id:  752701944171524096
752701944171524096 no url
Found id:  752682090207055872
Found id:  752660715232722944
Found id:  752568224206688256
752568224206688256 no url
Found id:  752519690950500352
Found id:  752334515931054080
Found id:  752309394570878976
Found id:  752173152931807232
Found id:  751950017322246144
751950017322246144 no url
Found id:  751937170840121344
Found id:  751830394383790080
Found id:  751793661361422336
751793661361422336 no url
Found id:  751598357617971201
Found id:  751583847268179968
Found id:  751538714308972544
Found id:  751456908746354688
Found id:  751251247299190784
Found id:  751205363882532864
Found id:  751132876104687617
Found id:  750868782890057730
Found id:  750719632563142656
Found id:  750506206503038976
Found id:  750429297815552001
Found id:  750383411068534784
Found id:  750381685133418496
750381685133418496 no url
Found id:  750147208377409536
Found id:  750132105863102464
Found id:  750117059602808832
Found id:  750101899009982464
Found id:  750086836815486976
Found id:  750071704093859840
Found id:  750056684286914561
Found id:  750041628174217216
Found id:  750026558547456000
Found id:  750011400160841729
Found id:  749996283729883136
Found id:  749981277374128128
Found id:  749774190421639168
Found id:  749417653287129088
Found id:  749403093750648834
Found id:  749395845976588288
Found id:  749317047558017024
Found id:  749075273010798592
749075273010798592 no url
Found id:  749064354620928000
Found id:  749036806121881602
Found id:  748977405889503236
Found id:  748932637671223296
Found id:  748705597323898880
Found id:  748699167502000129
Found id:  748692773788876800
Found id:  748575535303884801
Found id:  748568946752774144
Found id:  748346686624440324
Found id:  748337862848962560
748337862848962560 no url
Found id:  748324050481647620
Found id:  748307329658011649
Found id:  748220828303695873
748220828303695873 no url
Found id:  747963614829678593
Found id:  747933425676525569
Found id:  747885874273214464
Found id:  747844099428986880
Found id:  747816857231626240
Found id:  747651430853525504
747651430853525504 no url
Found id:  747648653817413632
747648653817413632 no url
Found id:  747600769478692864
Found id:  747594051852075008
Found id:  747512671126323200
Found id:  747461612269887489
Found id:  747439450712596480
747439450712596480 no url
Found id:  747242308580548608
747242308580548608 no url
Found id:  747219827526344708
Found id:  747204161125646336
Found id:  747103485104099331
Found id:  746906459439529985
Found id:  746872823977771008
Found id:  746818907684614144
Found id:  746790600704425984
Found id:  746757706116112384
746757706116112384 no url
Found id:  746726898085036033
Found id:  746542875601690625
746542875601690625 no url
Found id:  746521445350707200
746521445350707200 no url
Found id:  746507379341139972
Found id:  746369468511756288
Found id:  746131877086527488
Found id:  746056683365994496
Found id:  745789745784041472
Found id:  745712589599014916
Found id:  745433870967832576
Found id:  745422732645535745
Found id:  745314880350101504
Found id:  745074613265149952
745074613265149952 no url
Found id:  745057283344719872
Found id:  744995568523612160
Found id:  744971049620602880
Found id:  744709971296780288
Found id:  744334592493166593
Found id:  744234799360020481
Found id:  744223424764059648
744223424764059648 no url
Found id:  743980027717509120
Found id:  743895849529389061
Found id:  743835915802583040
743835915802583040 no url
Found id:  743609206067040256
Found id:  743595368194129920
Found id:  743545585370791937
Found id:  743510151680958465
Found id:  743253157753532416
Found id:  743222593470234624
Found id:  743210557239623680
Found id:  742534281772302336
742534281772302336 no url
Found id:  742528092657332225
Found id:  742465774154047488
Found id:  742423170473463808
Found id:  742385895052087300
Found id:  742161199639494656
Found id:  742150209887731712
Found id:  741793263812808706
Found id:  741743634094141440
Found id:  741438259667034112
Found id:  741303864243200000
Found id:  741099773336379392
741099773336379392 no url
Found id:  741067306818797568
Found id:  740995100998766593
Found id:  740711788199743490
Found id:  740699697422163968
Found id:  740676976021798912
Found id:  740373189193256964
Found id:  740365076218183684
Found id:  740359016048689152
Found id:  740214038584557568
Found id:  739979191639244800
Found id:  739932936087216128
Found id:  739844404073074688
Found id:  739623569819336705
739623569819336705 no url
Found id:  739606147276148736
Found id:  739544079319588864
Found id:  739485634323156992
Found id:  739238157791694849
Found id:  738891149612572673
738891149612572673 no url
Found id:  738885046782832640
Found id:  738883359779196928
Found id:  738537504001953792
Found id:  738402415918125056
Found id:  738184450748633089
Found id:  738166403467907072
Found id:  738156290900254721
Found id:  737826014890496000
Found id:  737800304142471168
Found id:  737678689543020544
Found id:  737445876994609152
Found id:  737322739594330112
Found id:  737310737551491075
Found id:  736736130620620800
Found id:  736392552031657984
736392552031657984 no url
Found id:  736365877722001409
Found id:  736225175608430592
Found id:  736010884653420544
Found id:  735991953473572864
Found id:  735648611367784448
Found id:  735635087207878657
Found id:  735274964362878976
Found id:  735256018284875776
Found id:  735137028879360001
Found id:  734912297295085568
Found id:  734787690684657664
Found id:  734776360183431168
Found id:  734559631394082816
734559631394082816 no url
Found id:  733828123016450049
Found id:  733822306246479872
Found id:  733482008106668032
Found id:  733460102733135873
Found id:  733109485275860992
Found id:  732732193018155009
Found id:  732726085725589504
Found id:  732585889486888962
Found id:  732375214819057664
Found id:  732005617171337216
Found id:  731285275100512256
Found id:  731156023742988288
Found id:  730924654643314689
Found id:  730573383004487680
Found id:  730427201120833536
Found id:  730211855403241472
Found id:  730196704625098752
Found id:  729854734790754305
Found id:  729838605770891264
Found id:  729823566028484608
Found id:  729463711119904772
Found id:  729113531270991872
Found id:  728986383096946689
Found id:  728760639972315136
Found id:  728751179681943552
Found id:  728653952833728512
Found id:  728409960103686147
Found id:  728387165835677696
Found id:  728046963732717569
Found id:  728035342121635841
Found id:  728015554473250816
Found id:  727685679342333952
Found id:  727644517743104000
Found id:  727524757080539137
Found id:  727314416056803329
Found id:  727286334147182592
Found id:  727175381690781696
Found id:  727155742655025152
727155742655025152 no url
Found id:  726935089318363137

Found id:  726887082820554753
Found id:  726828223124897792
Found id:  726224900189511680
Found id:  725842289046749185
Found id:  725786712245440512
Found id:  725729321944506368
Found id:  725458796924002305
725458796924002305 no url
Found id:  724983749226668032
Found id:  724771698126512129
Found id:  724405726123311104
Found id:  724049859469295616
Found id:  724046343203856385
Found id:  724004602748780546
Found id:  723912936180330496
Found id:  723688335806480385
Found id:  723673163800948736
Found id:  723179728551723008
Found id:  722974582966214656
Found id:  722613351520608256
Found id:  721503162398597120
Found id:  721001180231503872
Found id:  720785406564900865
Found id:  720775346191278080
Found id:  720415127506415616
Found id:  720389942216527872
Found id:  720340705894408192
Found id:  720059472081784833
Found id:  720043174954147842
Found id:  719991154352222208
Found id:  719704490224398336
Found id:  719551379208073216
Found id:  719367763014393856
Found id:  719339463458033665
Found id:  719332531645071360
Found id:  718971898235854848
Found id:  718939241951195136
Found id:  718631497683582976
Found id:  718613305783398402
Found id:  718540630683709445
Found id:  718460005985447936
Found id:  718454725339934721
Found id:  718246886998687744
Found id:  718234618122661888
Found id:  717841801130979328
Found id:  717790033953034240
Found id:  717537687239008257
Found id:  717428917016076293
717428917016076293 no url
Found id:  717421804990701568
Found id:  717047459982213120
Found id:  717009362452090881
Found id:  716802964044845056
Found id:  716791146589110272
Found id:  716730379797970944
716730379797970944 no url
Found id:  716447146686459905
716447146686459905 no url
Found id:  716439118184652801
Found id:  716285507865542656
Found id:  716080869887381504
Found id:  715928423106027520
Found id:  715758151270801409
715758151270801409 no url
Found id:  715733265223708672
Found id:  715704790270025728
715704790270025728 no url
Found id:  715696743237730304
Found id:  715680795826982913
Found id:  715360349751484417
Found id:  715342466308784130
Found id:  715220193576927233
Found id:  715200624753819648
Found id:  715009755312439296
Found id:  714982300363173890
Found id:  714962719905021952
714962719905021952 no url
Found id:  714957620017307648
Found id:  714631576617938945
Found id:  714606013974974464
Found id:  714485234495041536
714485234495041536 no url
Found id:  714258258790387713
Found id:  714251586676113411
Found id:  714214115368108032
Found id:  714141408463036416
Found id:  713919462244790272
Found id:  713909862279876608
713909862279876608 no url
Found id:  713900603437621249
Found id:  713761197720473600
Found id:  713411074226274305
Found id:  713177543487135744
Found id:  713175907180089344
Found id:  712809025985978368
Found id:  712717840512598017
Found id:  712668654853337088
Found id:  712438159032893441
Found id:  712309440758808576
712309440758808576 no url
Found id:  712097430750289920
Found id:  712092745624633345
Found id:  712085617388212225
Found id:  712065007010385924
Found id:  711998809858043904
Found id:  711968124745228288
Found id:  711743778164514816
Found id:  711732680602345472
Found id:  711694788429553666
Found id:  711652651650457602
Found id:  711363825979756544
Found id:  711306686208872448
Found id:  711008018775851008
Found id:  710997087345876993
Found id:  710844581445812225
Found id:  710833117892898816
Found id:  710658690886586372
Found id:  710609963652087808
710609963652087808 no url
Found id:  710588934686908417
Found id:  710296729921429505
710296729921429505 no url
Found id:  710283270106132480
Found id:  710272297844797440
Found id:  710269109699739648
Found id:  710153181850935296
Found id:  710140971284037632
Found id:  710117014656950272
Found id:  709918798883774466
Found id:  709901256215666688
Found id:  709852847387627521
Found id:  709566166965075968
Found id:  709556954897764353
Found id:  709519240576036864
Found id:  709449600415961088
Found id:  709409458133323776
Found id:  709225125749587968
Found id:  709207347839836162
Found id:  709198395643068416
Found id:  709179584944730112
709179584944730112 no url
Found id:  709158332880297985
Found id:  709042156699303936
Found id:  708853462201716736
708853462201716736 no url
Found id:  708845821941387268
Found id:  708834316713893888
Found id:  708810915978854401
Found id:  708738143638450176
Found id:  708711088997666817
Found id:  708479650088034305
Found id:  708469915515297792
Found id:  708400866336894977
708400866336894977 no url
Found id:  708356463048204288
Found id:  708349470027751425
Found id:  708149363256774660
Found id:  708130923141795840
Found id:  708119489313951744
Found id:  708109389455101952
Found id:  708026248782585858
Found id:  707995814724026368
Found id:  707983188426153984
707983188426153984 no url
Found id:  707969809498152960
Found id:  707776935007539200
Found id:  707741517457260545
Found id:  707738799544082433
707738799544082433 no url
Found id:  707693576495472641
Found id:  707629649552134146
707629649552134146 no url
Found id:  707610948723478529
Found id:  707420581654872064
Found id:  707411934438625280
Found id:  707387676719185920
Found id:  707377100785885184
Found id:  707315916783140866
Found id:  707297311098011648
Found id:  707059547140169728
Found id:  707038192327901184
Found id:  707021089608753152
Found id:  707014260413456384
Found id:  706904523814649856
706904523814649856 no url
Found id:  706901761596989440
Found id:  706681918348251136
Found id:  706644897839910912
Found id:  706593038911545345
Found id:  706538006853918722
Found id:  706516534877929472
Found id:  706346369204748288
Found id:  706310011488698368
Found id:  706291001778950144
Found id:  706265994973601792
Found id:  706169069255446529
706169069255446529 no url
Found id:  706166467411222528
Found id:  706153300320784384
706153300320784384 no url
Found id:  705975130514706432
Found id:  705970349788291072
Found id:  705898680587526145
Found id:  705786532653883392
Found id:  705591895322394625
Found id:  705475953783398401
Found id:  705442520700944385
Found id:  705428427625635840
Found id:  705239209544720384
Found id:  705223444686888960
Found id:  705102439679201280
Found id:  705066031337840642
Found id:  704871453724954624
Found id:  704859558691414016
Found id:  704847917308362754
Found id:  704819833553219584
Found id:  704761120771465216
Found id:  704499785726889984
Found id:  704491224099647488
704491224099647488 no url
Found id:  704480331685040129
Found id:  704364645503647744
Found id:  704347321748819968
Found id:  704134088924532736
704134088924532736 no url
Found id:  704113298707505153
Found id:  704054845121142784
Found id:  703774238772166656
Found id:  703769065844768768
Found id:  703631701117943808
Found id:  703611486317502464
Found id:  703425003149250560
Found id:  703407252292673536
Found id:  703382836347330562
Found id:  703356393781329922
Found id:  703268521220972544
Found id:  703079050210877440
Found id:  703041949650034688
Found id:  702932127499816960
Found id:  702899151802126337
702899151802126337 no url
Found id:  702684942141153280
Found id:  702671118226825216
Found id:  702598099714314240
Found id:  702539513671897089
Found id:  702332542343577600
702332542343577600 no url
Found id:  702321140488925184
Found id:  702276748847800320
Found id:  702217446468493312
Found id:  701981390485725185
Found id:  701952816642965504
Found id:  701889187134500865
Found id:  701805642395348998
701805642395348998 no url
Found id:  701601587219795968
Found id:  701570477911896070
Found id:  701545186879471618
Found id:  701214700881756160
Found id:  700890391244103680
Found id:  700864154249383937
Found id:  700847567345688576
Found id:  700796979434098688
Found id:  700747788515020802
Found id:  700518061187723268
Found id:  700505138482569216
Found id:  700462010979500032
Found id:  700167517596164096
Found id:  700151421916807169
Found id:  700143752053182464
Found id:  700062718104104960
Found id:  700029284593901568
Found id:  700002074055016451
Found id:  699801817392291840
Found id:  699788877217865730
Found id:  699779630832685056
Found id:  699775878809702401

Found id:  699691744225525762
Found id:  699446877801091073
Found id:  699434518667751424
Found id:  699423671849451520
Found id:  699413908797464576
Found id:  699370870310113280
Found id:  699323444782047232
Found id:  699088579889332224
Found id:  699079609774645248
Found id:  699072405256409088
Found id:  699060279947165696
699060279947165696 no url
Found id:  699036661657767936
Found id:  698989035503689728
Found id:  698953797952008193
Found id:  698907974262222848
Found id:  698710712454139905
Found id:  698703483621523456
Found id:  698635131305795584
Found id:  698549713696649216
Found id:  698355670425473025
Found id:  698342080612007937
Found id:  698262614669991936
Found id:  698195409219559425
Found id:  698178924120031232
Found id:  697995514407682048
Found id:  697990423684476929
Found id:  697943111201378304
Found id:  697881462549430272
Found id:  697630435728322560
697630435728322560 no url
Found id:  697616773278015490
Found id:  697596423848730625
Found id:  697575480820686848
Found id:  697516214579523584
697516214579523584 no url
Found id:  697482927769255936
Found id:  697463031882764288
Found id:  697270446429966336
Found id:  697259378236399616
Found id:  697255105972801536
Found id:  697242256848379904
Found id:  696900204696625153
Found id:  696894894812565505
Found id:  696886256886657024
Found id:  696877980375769088
Found id:  696754882863349760
Found id:  696744641916489729
696744641916489729 no url
Found id:  696713835009417216
Found id:  696518437233913856
696518437233913856 no url
Found id:  696490539101908992
696490539101908992 no url
Found id:  696488710901260288
Found id:  696405997980676096
Found id:  696100768806522880
696100768806522880 no url
Found id:  695816827381944320
Found id:  695794761660297217
Found id:  695767669421768709
Found id:  695629776980148225
Found id:  695446424020918272
Found id:  695409464418041856
Found id:  695314793360662529
Found id:  695095422348574720
Found id:  695074328191332352
Found id:  695064344191721472
Found id:  695051054296211456
Found id:  694925794720792577
694925794720792577 no url
Found id:  694905863685980160
Found id:  694669722378485760
Found id:  694356675654983680
Found id:  694352839993344000
Found id:  694342028726001664
694342028726001664 no url
Found id:  694329668942569472
Found id:  694206574471057408
Found id:  694183373896572928
Found id:  694001791655137281
Found id:  693993230313091072
693993230313091072 no url
Found id:  693942351086120961
Found id:  693647888581312512
Found id:  693644216740769793
693644216740769793 no url
Found id:  693642232151285760
Found id:  693629975228977152
Found id:  693622659251335168
Found id:  693590843962331137
Found id:  693582294167244802
693582294167244802 no url
Found id:  693486665285931008
Found id:  693280720173801472
Found id:  693267061318012928
693267061318012928 no url
Found id:  693262851218264065
Found id:  693231807727280129
Found id:  693155686491000832
Found id:  693109034023534592
Found id:  693095443459342336
Found id:  692919143163629568
Found id:  692905862751522816
Found id:  692901601640583168
Found id:  692894228850999298
Found id:  692828166163931137
Found id:  692752401762250755
Found id:  692568918515392513
Found id:  692535307825213440
Found id:  692530551048294401
Found id:  692423280028966913
692423280028966913 no url
Found id:  692417313023332352
Found id:  692187005137076224
Found id:  692158366030913536
Found id:  692142790915014657
Found id:  692041934689402880
692041934689402880 no url
Found id:  692017291282812928
Found id:  691820333922455552
Found id:  691793053716221953
691793053716221953 no url
Found id:  691756958957883396
Found id:  691675652215414786
Found id:  691483041324204033
Found id:  691459709405118465
Found id:  691444869282295808
Found id:  691416866452082688
Found id:  691321916024623104
Found id:  691096613310316544
Found id:  691090071332753408
Found id:  690989312272396288
690989312272396288 no url
Found id:  690959652130045952
Found id:  690938899477221376
Found id:  690932576555528194
Found id:  690735892932222976
Found id:  690728923253055490
Found id:  690690673629138944
Found id:  690649993829576704
Found id:  690607260360429569
690607260360429569 no url
Found id:  690597161306841088
Found id:  690400367696297985
Found id:  690374419777196032
Found id:  690360449368465409
Found id:  690348396616552449
690348396616552449 no url
Found id:  690248561355657216
Found id:  690021994562220032
Found id:  690015576308211712
Found id:  690005060500217858
Found id:  689999384604450816
Found id:  689993469801164801
689993469801164801 no url
Found id:  689977555533848577
Found id:  689905486972461056
Found id:  689877686181715968
Found id:  689835978131935233
Found id:  689661964914655233
Found id:  689659372465688576
Found id:  689623661272240129
Found id:  689599056876867584
Found id:  689557536375177216
Found id:  689517482558820352
Found id:  689289219123089408
Found id:  689283819090870273
Found id:  689280876073582592
Found id:  689275259254616065
Found id:  689255633275777024
689255633275777024 no url
Found id:  689154315265683456
Found id:  689143371370250240
Found id:  688916208532455424
Found id:  688908934925697024
Found id:  688898160958271489
Found id:  688894073864884227
Found id:  688828561667567616
Found id:  688804835492233216
Found id:  688789766343622656
Found id:  688547210804498433
Found id:  688519176466644993
Found id:  688385280030670848
Found id:  688211956440801280
Found id:  688179443353796608
Found id:  688116655151435777
Found id:  688064179421470721
Found id:  687841446767013888
687841446767013888 no url
Found id:  687826841265172480
Found id:  687818504314159109
Found id:  687807801670897665
Found id:  687732144991551489
687732144991551489 no url
Found id:  687704180304273409
Found id:  687664829264453632
Found id:  687494652870668288
Found id:  687480748861947905
Found id:  687476254459715584
Found id:  687460506001633280
Found id:  687399393394311168
687399393394311168 no url
Found id:  687317306314240000
Found id:  687312378585812992
Found id:  687127927494963200
Found id:  687124485711986689
Found id:  687109925361856513
Found id:  687102708889812993
Found id:  687096057537363968
Found id:  686947101016735744
Found id:  686760001961103360
686760001961103360 no url
Found id:  686749460672679938
Found id:  686730991906516992
Found id:  686683045143953408
Found id:  686618349602762752
Found id:  686606069955735556
Found id:  686394059078897668
686394059078897668 no url
Found id:  686386521809772549
Found id:  686377065986265092
Found id:  686358356425093120
Found id:  686286779679375361
686286779679375361 no url
Found id:  686050296934563840
Found id:  686035780142297088
686035780142297088 no url
Found id:  686034024800862208
Found id:  686007916130873345
Found id:  686003207160610816
Found id:  685973236358713344
Found id:  685943807276412928
Found id:  685906723014619143
Found id:  685681090388975616
685681090388975616 no url
Found id:  685667379192414208
Found id:  685663452032069632
Found id:  685641971164143616
Found id:  685547936038666240
Found id:  685532292383666176
Found id:  685325112850124800
Found id:  685321586178670592
Found id:  685315239903100929
Found id:  685307451701334016
Found id:  685268753634967552
Found id:  685198997565345792
Found id:  685169283572338688
Found id:  684969860808454144
684969860808454144 no url
Found id:  684959798585110529
Found id:  684940049151070208
Found id:  684926975086034944
Found id:  684914660081053696
Found id:  684902183876321280
Found id:  684880619965411328
Found id:  684830982659280897
684830982659280897 no url
Found id:  684800227459624960
Found id:  684594889858887680
Found id:  684588130326986752
684588130326986752 no url
Found id:  684567543613382656
Found id:  684538444857667585
Found id:  684481074559381504
Found id:  684460069371654144
Found id:  684241637099323392
Found id:  684225744407494656
Found id:  684222868335505415
Found id:  684200372118904832
Found id:  684195085588783105
Found id:  684188786104872960
Found id:  684177701129875456
Found id:  684147889187209216
684147889187209216 no url
Found id:  684122891630342144
Found id:  684097758874210310
Found id:  683857920510050305
Found id:  683852578183077888

Found id:  683849932751646720
Found id:  683834909291606017
Found id:  683828599284170753
Found id:  683773439333797890
Found id:  683742671509258241
Found id:  683515932363329536
683515932363329536 no url
Found id:  683498322573824003
Found id:  683481228088049664
Found id:  683462770029932544
Found id:  683449695444799489
Found id:  683391852557561860
Found id:  683357973142474752
Found id:  683142553609318400
Found id:  683111407806746624
Found id:  683098815881154561
Found id:  683078886620553216
Found id:  683030066213818368
Found id:  682962037429899265
Found id:  682808988178739200
682808988178739200 no url
Found id:  682788441537560576
Found id:  682750546109968385
Found id:  682697186228989953
Found id:  682662431982772225
Found id:  682638830361513985
Found id:  682429480204398592
Found id:  682406705142087680
Found id:  682393905736888321
Found id:  682389078323662849
Found id:  682303737705140231
Found id:  682259524040966145
Found id:  682242692827447297
Found id:  682088079302213632
682088079302213632 no url
Found id:  682059653698686977
Found id:  682047327939461121
Found id:  682032003584274432
Found id:  682003177596559360
Found id:  681981167097122816
Found id:  681891461017812993
Found id:  681694085539872773
Found id:  681679526984871937
Found id:  681654059175129088
Found id:  681610798867845120
Found id:  681579835668455424
Found id:  681523177663676416
Found id:  681340665377193984
681340665377193984 no url
Found id:  681339448655802368
Found id:  681320187870711809
Found id:  681302363064414209
Found id:  681297372102656000
Found id:  681281657291280384
Found id:  681261549936340994
Found id:  681242418453299201
Found id:  681231109724700672
Found id:  681193455364796417
Found id:  680970795137544192
Found id:  680959110691590145
Found id:  680940246314430465
Found id:  680934982542561280
Found id:  680913438424612864
Found id:  680889648562991104
Found id:  680836378243002368
Found id:  680805554198020098
680805554198020098 no url
Found id:  680801747103793152
Found id:  680798457301471234
Found id:  680609293079592961
Found id:  680583894916304897
Found id:  680497766108381184
Found id:  680494726643068929
Found id:  680473011644985345
Found id:  680440374763077632
Found id:  680221482581123072
Found id:  680206703334408192
Found id:  680191257256136705
Found id:  680176173301628928
Found id:  680161097740095489
Found id:  680145970311643136
Found id:  680130881361686529
Found id:  680115823365742593
Found id:  680100725817409536
Found id:  680085611152338944
Found id:  680070545539371008
Tweet not found: 680055455951884288
Found id:  679877062409191424
Found id:  679872969355714560
679872969355714560 no url
Found id:  679862121895714818
Found id:  679854723806179328
Found id:  679844490799091713
Found id:  679828447187857408
Found id:  679777920601223168
Found id:  679736210798047232
Found id:  679729593985699840
Found id:  679722016581222400
Found id:  679530280114372609
Found id:  679527802031484928
Found id:  679511351870550016
Found id:  679503373272485890
Found id:  679475951516934144
Found id:  679462823135686656
Found id:  679405845277462528
679405845277462528 no url
Found id:  679158373988876288
Found id:  679148763231985668
Found id:  679132435750195208
Found id:  679111216690831360
Found id:  679062614270468097
Found id:  679047485189439488
Found id:  679001094530465792
679001094530465792 no url
Found id:  678991772295516161
Found id:  678969228704284672
Found id:  678800283649069056
Found id:  678798276842360832
Found id:  678774928607469569
Found id:  678767140346941444
Found id:  678764513869611008
Found id:  678755239630127104
Found id:  678740035362037760
Found id:  678708137298427904
678708137298427904 no url
Found id:  678675843183484930
Found id:  678643457146150913
Found id:  678446151570427904
Found id:  678424312106393600
Found id:  678410210315247616
Found id:  678399652199309312
Found id:  678396796259975168
Found id:  678389028614488064
Found id:  678380236862578688
Found id:  678341075375947776
Found id:  678334497360859136
Found id:  678278586130948096
Found id:  678255464182861824
Found id:  678023323247357953
678023323247357953 no url
Found id:  678021115718029313
Found id:  677961670166224897
677961670166224897 no url
Found id:  677918531514703872
Found id:  677895101218201600
Found id:  677716515794329600
Found id:  677700003327029250
Found id:  677698403548192770
Found id:  677687604918272002
Found id:  677673981332312066
Found id:  677662372920729601
Found id:  677644091929329666
Found id:  677573743309385728
Found id:  677565715327688705
Found id:  677557565589463040
Found id:  677547928504967168
Found id:  677530072887205888
Found id:  677335745548390400
677335745548390400 no url
Found id:  677334615166730240
Found id:  677331501395156992
Found id:  677328882937298944
Found id:  677314812125323265
Found id:  677301033169788928
Found id:  677269281705472000
Found id:  677228873407442944
Found id:  677187300187611136

Rate limit reached. Sleeping for: 715

Found id:  676975532580409345
Found id:  676957860086095872
Found id:  676949632774234114
Found id:  676948236477857792
Found id:  676946864479084545
Found id:  676942428000112642
Found id:  676936541936185344
Found id:  676916996760600576
676916996760600576 no url
Found id:  676897532954456065
Found id:  676864501615042560
Found id:  676821958043033607
Found id:  676819651066732545
Found id:  676811746707918848
Found id:  676776431406465024
Found id:  676617503762681856
Found id:  676613908052996102
Found id:  676606785097199616
Found id:  676603393314578432
Found id:  676593408224403456
676593408224403456 no url
Found id:  676590572941893632
676590572941893632 no url
Found id:  676588346097852417
Found id:  676582956622721024
Found id:  676575501977128964
Found id:  676533798876651520
Found id:  676496375194980353
Found id:  676470639084101634
Found id:  676440007570247681
Found id:  676430933382295552
Found id:  676263575653122048
Found id:  676237365392908289
Found id:  676219687039057920
Found id:  676215927814406144
Found id:  676191832485810177
Found id:  676146341966438401
Found id:  676121918416756736
676121918416756736 no url
Found id:  676101918813499392
Found id:  676098748976615425
Found id:  676089483918516224
Found id:  675898130735476737
Found id:  675891555769696257
Found id:  675888385639251968
Found id:  675878199931371520
Found id:  675870721063669760
Found id:  675853064436391936
Found id:  675849018447167488
675849018447167488 no url
Found id:  675845657354215424
Found id:  675822767435051008
Found id:  675820929667219457
Found id:  675798442703122432
Found id:  675781562965868544
Found id:  675740360753160193
Found id:  675710890956750848
Found id:  675707330206547968
Found id:  675706639471788032
Found id:  675534494439489536
Found id:  675531475945709568
Found id:  675522403582218240
Found id:  675517828909424640
Found id:  675501075957489664
Found id:  675497103322386432
Found id:  675489971617296384
Found id:  675483430902214656
Found id:  675432746517426176
Found id:  675372240448454658
Found id:  675362609739206656
Found id:  675354435921575936
Found id:  675349384339542016
Found id:  675334060156301312
Found id:  675166823650848770
Found id:  675153376133427200
Found id:  675149409102012420
Found id:  675147105808306176
Found id:  675146535592706048
Found id:  675145476954566656
Found id:  675135153782571009
Found id:  675113801096802304
Found id:  675111688094527488
Found id:  675109292475830276
Found id:  675047298674663426
Found id:  675015141583413248
Found id:  675006312288268288
Found id:  675003128568291329
Found id:  674999807681908736
Found id:  674805413498527744
Found id:  674800520222154752
Found id:  674793399141146624
Found id:  674790488185167872
Found id:  674788554665512960
Found id:  674781762103414784
Found id:  674774481756377088
Found id:  674767892831932416
Found id:  674764817387900928
Found id:  674754018082705410
Found id:  674752233200820224
Found id:  674743008475090944
Found id:  674742531037511680
674742531037511680 no url
Found id:  674739953134403584
Found id:  674737130913071104
Found id:  674690135443775488
Found id:  674670581682434048
Found id:  674664755118911488
Found id:  674646392044941312
Found id:  674644256330530816
Found id:  674638615994089473
Found id:  674632714662858753
Found id:  674606911342424069
674606911342424069 no url
Found id:  674468880899788800
Found id:  674447403907457024
Found id:  674436901579923456
Found id:  674422304705744896
Found id:  674416750885273600
Found id:  674410619106390016
Found id:  674394782723014656
Found id:  674372068062928900
Found id:  674330906434379776
674330906434379776 no url
Found id:  674318007229923329
Found id:  674307341513269249
674307341513269249 no url
Found id:  674291837063053312
Found id:  674271431610523648
Found id:  674269164442398721
Found id:  674265582246694913
Found id:  674262580978937856
Found id:  674255168825880576
Found id:  674082852460433408
Found id:  674075285688614912
Found id:  674063288070742018
Found id:  674053186244734976
Found id:  674051556661161984
Found id:  674045139690631169
Found id:  674042553264685056
Found id:  674038233588723717
Found id:  674036086168010753
Found id:  674024893172875264
Found id:  674019345211760640
Found id:  674014384960745472
Found id:  674008982932058114
Found id:  673956914389192708
Found id:  673919437611909120
Found id:  673906403526995968
Found id:  673887867907739649
Found id:  673716320723169284
673716320723169284 no url
Found id:  673715861853720576
Found id:  673711475735838725
Found id:  673709992831262724
Found id:  673708611235921920
Found id:  673707060090052608
Found id:  673705679337693185
Found id:  673700254269775872
Found id:  673697980713705472
Found id:  673689733134946305
Found id:  673688752737402881
Found id:  673686845050527744
Found id:  673680198160809984
Found id:  673662677122719744
Found id:  673656262056419329
Found id:  673636718965334016
Found id:  673612854080196609
Found id:  673583129559498752
Found id:  673580926094458881
Found id:  673576835670777856
Found id:  673363615379013632
Found id:  673359818736984064
Found id:  673355879178194945
Found id:  673352124999274496
Found id:  673350198937153538
Found id:  673345638550134785
Found id:  673343217010679808
Found id:  673342308415348736
Found id:  673320132811366400
Found id:  673317986296586240
Found id:  673295268553605120
Found id:  673270968295534593
Found id:  673240798075449344
Found id:  673213039743795200
Found id:  673148804208660480
Found id:  672997845381865473
Found id:  672995267319328768
Found id:  672988786805112832
Found id:  672984142909456390
Found id:  672980819271634944
Found id:  672975131468300288
Found id:  672970152493887488
Found id:  672968025906282496
Found id:  672964561327235073
Found id:  672902681409806336
Found id:  672898206762672129
Found id:  672884426393653248
Found id:  672877615439593473
Found id:  672834301050937345
Found id:  672828477930868736
Found id:  672640509974827008
Found id:  672622327801233409
Found id:  672614745925664768
Found id:  672609152938721280
Found id:  672604026190569472
Found id:  672594978741354496
Found id:  672591762242805761
Found id:  672591271085670400
Found id:  672538107540070400
Found id:  672523490734551040
Found id:  672488522314567680
Found id:  672482722825261057
Found id:  672481316919734272
Found id:  672475084225949696
Found id:  672466075045466113
Found id:  672272411274932228
Found id:  672267570918129665
Found id:  672264251789176834
Found id:  672256522047614977
Found id:  672254177670729728
Found id:  672248013293752320
Found id:  672245253877968896
Found id:  672239279297454080
Found id:  672231046314901505
Found id:  672222792075620352
Found id:  672205392827572224
Found id:  672169685991993344
Found id:  672160042234327040
Found id:  672139350159835138
Found id:  672125275208069120
Found id:  672095186491711488
Found id:  672082170312290304
Found id:  672068090318987265
Found id:  671896809300709376
Found id:  671891728106971137
Found id:  671882082306625538
Found id:  671879137494245376
Found id:  671874878652489728
Found id:  671866342182637568
Found id:  671855973984772097
Found id:  671789708968640512
Found id:  671768281401958400
Found id:  671763349865160704
Found id:  671744970634719232
Found id:  671743150407421952
Found id:  671735591348891648
Found id:  671729906628341761
Found id:  671561002136281088
Found id:  671550332464455680
671550332464455680 no url
Found id:  671547767500775424
Found id:  671544874165002241
Found id:  671542985629241344
Found id:  671538301157904385
Found id:  671536543010570240
Found id:  671533943490011136
Found id:  671528761649688577
Found id:  671520732782923777
Found id:  671518598289059840
Found id:  671511350426865664
Found id:  671504605491109889
Found id:  671497587707535361
Found id:  671488513339211776
Found id:  671486386088865792
Found id:  671485057807351808
Found id:  671390180817915904
Found id:  671362598324076544
Found id:  671357843010908160
Found id:  671355857343524864
Found id:  671347597085433856
Found id:  671186162933985280
Found id:  671182547775299584
Found id:  671166507850801152
Found id:  671163268581498880
Found id:  671159727754231808

Found id:  671154572044468225
Found id:  671151324042559489
Found id:  671147085991960577
Found id:  671141549288370177
Found id:  671138694582165504
Found id:  671134062904504320
Found id:  671122204919246848
Found id:  671115716440031232
Found id:  671109016219725825
Found id:  670995969505435648
Found id:  670842764863651840
Found id:  670840546554966016
Found id:  670838202509447168
Found id:  670833812859932673
Found id:  670832455012716544
Found id:  670826280409919488
Found id:  670823764196741120
Found id:  670822709593571328
Found id:  670815497391357952
Found id:  670811965569282048
Found id:  670807719151067136
Found id:  670804601705242624
Found id:  670803562457407488
Found id:  670797304698376195
Found id:  670792680469889025
Found id:  670789397210615808
Found id:  670786190031921152
Found id:  670783437142401025
Found id:  670782429121134593
Found id:  670780561024270336
Found id:  670778058496974848
Found id:  670764103623966721
Found id:  670755717859713024
Found id:  670733412878163972
Found id:  670727704916926465
Found id:  670717338665226240
Found id:  670704688707301377
Found id:  670691627984359425
Found id:  670679630144274432
Found id:  670676092097810432
Found id:  670668383499735048
Found id:  670474236058800128
Found id:  670468609693655041
Found id:  670465786746662913
Found id:  670452855871037440
Found id:  670449342516494336
Found id:  670444955656130560
Found id:  670442337873600512
Found id:  670435821946826752
Found id:  670434127938719744
Found id:  670433248821026816
Found id:  670428280563085312
Found id:  670427002554466305
Found id:  670421925039075328
Found id:  670420569653809152
Found id:  670417414769758208
Found id:  670411370698022913
Found id:  670408998013820928
Found id:  670403879788544000
Found id:  670385711116361728
Found id:  670374371102445568
Found id:  670361874861563904
Found id:  670338931251150849
Found id:  670319130621435904
Found id:  670303360680108032
Found id:  670290420111441920
Found id:  670093938074779648
Found id:  670086499208155136
Found id:  670079681849372674
Found id:  670073503555706880
Found id:  670069087419133954
Found id:  670061506722140161
Found id:  670055038660800512
Found id:  670046952931721218
Found id:  670040295598354432
Found id:  670037189829525505
Found id:  670003130994700288
Found id:  669993076832759809
Found id:  669972011175813120
Found id:  669970042633789440
Found id:  669942763794931712
Found id:  669926384437997569
Found id:  669923323644657664
Found id:  669753178989142016
Found id:  669749430875258880
Found id:  669684865554620416
669684865554620416 no url
Found id:  669683899023405056
Found id:  669682095984410625
Found id:  669680153564442624
Found id:  669661792646373376
Found id:  669625907762618368
Found id:  669603084620980224
Found id:  669597912108789760
Found id:  669583744538451968
Found id:  669573570759163904
Found id:  669571471778410496
Found id:  669567591774625800
Found id:  669564461267722241
Found id:  669393256313184256
Found id:  669375718304980992
Found id:  669371483794317312
Found id:  669367896104181761
Found id:  669363888236994561
Found id:  669359674819481600
Found id:  669354382627049472
Found id:  669353438988365824
Found id:  669351434509529089
Found id:  669328503091937280
Found id:  669327207240699904
Found id:  669324657376567296
Found id:  669216679721873412
Found id:  669214165781868544
Found id:  669203728096960512
Found id:  669037058363662336
Found id:  669015743032369152
Found id:  669006782128353280
Found id:  669000397445533696
Found id:  668994913074286592
Found id:  668992363537309700
Found id:  668989615043424256
Found id:  668988183816871936
Found id:  668986018524233728
Found id:  668981893510119424
Found id:  668979806671884288
Found id:  668975677807423489
Found id:  668967877119254528
668967877119254528 no url
Found id:  668960084974809088
Found id:  668955713004314625
Found id:  668932921458302977
Found id:  668902994700836864
Found id:  668892474547511297
Found id:  668872652652679168
Found id:  668852170888998912
Found id:  668826086256599040
Found id:  668815180734689280
Found id:  668779399630725120
Found id:  668655139528511488
Found id:  668645506898350081
Found id:  668643542311546881
Found id:  668641109086707712
Found id:  668636665813057536
Found id:  668633411083464705
Found id:  668631377374486528
Found id:  668627278264475648
Found id:  668625577880875008
Found id:  668623201287675904
Found id:  668620235289837568
Found id:  668614819948453888
Found id:  668587383441514497
668587383441514497 no url
Found id:  668567822092664832
Found id:  668544745690562560
Found id:  668542336805281792
Found id:  668537837512433665
Found id:  668528771708952576
Found id:  668507509523615744
Found id:  668496999348633600
Found id:  668484198282485761
Found id:  668480044826800133
Found id:  668466899341221888
Found id:  668297328638447616
Found id:  668291999406125056
Found id:  668286279830867968
Found id:  668274247790391296
Found id:  668268907921326080
Found id:  668256321989451776
Found id:  668248472370458624
Found id:  668237644992782336
Found id:  668226093875376128
Found id:  668221241640230912
Found id:  668204964695683073
Found id:  668190681446379520
Found id:  668171859951755264
Found id:  668154635664932864
Found id:  668142349051129856
Found id:  668113020489474048
Found id:  667937095915278337
Found id:  667924896115245057
Found id:  667915453470232577
Found id:  667911425562669056
Found id:  667902449697558528
Found id:  667886921285246976
Found id:  667885044254572545
Found id:  667878741721415682
Found id:  667873844930215936
Found id:  667866724293877760
Found id:  667861340749471744
Found id:  667832474953625600
Found id:  667806454573760512
Found id:  667801013445750784
Found id:  667793409583771648
Found id:  667782464991965184
Found id:  667773195014021121
Found id:  667766675769573376
Found id:  667728196545200128
Found id:  667724302356258817
Found id:  667550904950915073
Found id:  667550882905632768
Found id:  667549055577362432
Found id:  667546741521195010
Found id:  667544320556335104
Found id:  667538891197542400
Found id:  667534815156183040
Found id:  667530908589760512
Found id:  667524857454854144
Found id:  667517642048163840
Found id:  667509364010450944
Found id:  667502640335572993
Found id:  667495797102141441
Found id:  667491009379606528
Found id:  667470559035432960
Found id:  667455448082227200
Found id:  667453023279554560
Found id:  667443425659232256
Found id:  667437278097252352
Found id:  667435689202614272
Found id:  667405339315146752
Found id:  667393430834667520
Found id:  667369227918143488
Found id:  667211855547486208
Found id:  667200525029539841
Found id:  667192066997374976
Found id:  667188689915760640
Found id:  667182792070062081
Found id:  667177989038297088
Found id:  667176164155375616
Found id:  667174963120574464
Found id:  667171260800061440
Found id:  667165590075940865
Found id:  667160273090932737
Found id:  667152164079423490
Found id:  667138269671505920
Found id:  667119796878725120
Found id:  667090893657276420
Found id:  667073648344346624
Found id:  667070482143944705
667070482143944705 no url
Found id:  667065535570550784
Found id:  667062181243039745
Found id:  667044094246576128
Found id:  667012601033924608
Found id:  666996132027977728
Found id:  666983947667116034
Found id:  666837028449972224
Found id:  666835007768551424
Found id:  666826780179869698
Found id:  666817836334096384
Found id:  666804364988780544
Found id:  666786068205871104
Found id:  666781792255496192
Found id:  666776908487630848
Found id:  666739327293083650
Found id:  666701168228331520
Found id:  666691418707132416
Found id:  666649482315059201
Found id:  666644823164719104
Found id:  666454714377183233
Found id:  666447344410484738
Found id:  666437273139982337
Found id:  666435652385423360
Found id:  666430724426358785
Found id:  666428276349472768
Found id:  666421158376562688
Found id:  666418789513326592
Found id:  666411507551481857
Found id:  666407126856765440
Found id:  666396247373291520
Found id:  666373753744588802
Found id:  666362758909284353
Found id:  666353288456101888
Found id:  666345417576210432
Found id:  666337882303524864

Found id:  666293911632134144
Found id:  666287406224695296
Found id:  666273097616637952
Found id:  666268910803644416
Found id:  666104133288665088
Found id:  666102155909144576
Found id:  666099513787052032
Found id:  666094000022159362
Found id:  666082916733198337
Found id:  666073100786774016
Found id:  666071193221509120
Found id:  666063827256086533
Found id:  666058600524156928
Found id:  666057090499244032
Found id:  666055525042405380
Found id:  666051853826850816
Found id:  666050758794694657
Found id:  666049248165822465
Found id:  666044226329800704
Found id:  666033412701032449
Found id:  666029285002620928
Found id:  666020888022790149
1922.7781458000002

In [6]:
for x in not_found.keys():
    print( x, not_found[x])

888202515573088257 [{'code': 144, 'message': 'No status found with that ID.'}]
873697596434513921 [{'code': 144, 'message': 'No status found with that ID.'}]
872668790621863937 [{'code': 144, 'message': 'No status found with that ID.'}]
869988702071779329 [{'code': 144, 'message': 'No status found with that ID.'}]
866816280283807744 [{'code': 144, 'message': 'No status found with that ID.'}]
861769973181624320 [{'code': 144, 'message': 'No status found with that ID.'}]
845459076796616705 [{'code': 144, 'message': 'No status found with that ID.'}]
842892208864923648 [{'code': 144, 'message': 'No status found with that ID.'}]
837012587749474308 [{'code': 144, 'message': 'No status found with that ID.'}]
827228250799742977 [{'code': 144, 'message': 'No status found with that ID.'}]
812747805718642688 [{'code': 144, 'message': 'No status found with that ID.'}]
802247111496568832 [{'code': 144, 'message': 'No status found with that ID.'}]
775096608509886464 [{'code': 144, 'message': 'No status found with that ID.'}]
770743923962707968 [{'code': 144, 'message': 'No status found with that ID.'}]
754011816964026368 [{'code': 144, 'message': 'No status found with that ID.'}]
680055455951884288 [{'code': 144, 'message': 'No status found with that ID.'}]

In [7]:
len(not_found)

16

In [8]:
with open ('tweet_json.txt') as myfile:
    json_tweets = json.load(myfile)
counts_df = pd.DataFrame(list(json_tweets.items()), columns=['tweet_id','temp_data'])
counts_df.head()

             tweet_id                                          temp_data
0  892420643555336193  [{'url': 'https://twitter.com/dog_rates/status...
1  892177421306343426  [{'url': 'https://twitter.com/dog_rates/status...
2  891815181378084864  [{'url': 'https://twitter.com/dog_rates/status...
3  891689557279858688  [{'url': 'https://twitter.com/dog_rates/status...
4  891327558926688256  [{'url': 'https://twitter.com/dog_rates/status...

In [9]:
counts_df['temp_data'][1]

[{'url': 'https://twitter.com/dog_rates/status/892177421306343426/photo/1',
  'favorite_count': 32593,
  'retweet_count': 6119}]

In [10]:
counts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 2 columns):
tweet_id     2340 non-null object
temp_data    2340 non-null object
dtypes: object(2)
memory usage: 36.6+ KB

<a id='assess'></a>
## Assess

**Data Quality** is evaluated on the following dimensions:

 - Completeness: Are there missing records or not? Are there specific rows, columns, or cells missing?
 
 - Validity: records don't conform to a defined schema. A schema is a defined set of rules for data. These rules can be real-world constraints (e.g. negative height is impossible) and table-specific constraints (e.g. unique key constraints in tables). In this case, each record needs to be a rating of a dog, which as we will see is not always the case.
 
 - Accuracy: inaccurate data is wrong data that is valid. It adheres to the defined schema, but it is still incorrect. Example: a patient's weight that is 5 lbs too heavy because the scale was faulty.
 
 - Consistency: inconsistent data is both valid and accurate, but there are multiple correct ways of referring to the same thing. Consistency, i.e., a standard format, in columns that represent the same data across tables and/or within tables is desired.

 
**Data Tidiness** is evaluated on the following dimensions:
 - Each variable has a column
 - Each observation is in a single row
 - Each observational unit has its own table
 
**Schema**
 - Only observations about dogs were included in the analysis
 - An observation was considered a dog if at least one of the three dog/not-dog predictions was True
 - Only original tweets are valid (no reply-to or retweets)
 - Missing data in the dog type (doggo, floofer, etc) is acceptable and that information is retained.
 - All denominators must be 10

#### Assess: Twitter Archive data
<a id="wrd-assess"></a>

In [11]:
# wrd_df used excel to visually assess. Excel not happy with importing the long integers for ids. Nothing obviously amiss,
# except there are several columns that are unlikely to be used. Drop those when appropriate and clearly not useful

# programmatic assessment here
wrd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

1. tweet_id is integer (as are other ids but we won't use them)
1. time_stamp is string
1. There are a bunch without reply_to or retweeted information, but that makes sense. Seem's like it's worth looking at the expanded urls to see if there is some formatting issue.

In [12]:
wrd_df.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

Ok, so that max number is way out there.

In [13]:
high_rate_list = wrd_df[wrd_df.rating_numerator > 20].index.values.tolist()

In [14]:
for i in high_rate_list:
    print(i, wrd_df.loc[i,'text'],wrd_df.loc[i,'rating_numerator'])
    print( '\n')

188 @dhmontgomery We also gave snoop dogg a 420/10 but I think that predated your research 420


189 @s8n You tried very hard to portray this good boy as not so good, but you have ultimately failed. His goodness shines through. 666/10 666


290 @markhoppus 182/10 182


313 @jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho 960


340 RT @dog_rates: This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wu 75


433 The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd 84


516 Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer.
Keep Sam smiling by clicking and sharing this link:
https://t.co/98tB8y7y7t https://t.co/LouL5vdvxx 24


695 This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS 75


763 This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back https://t.co/QFaUiIHxHq 27


902 Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE 165


979 This is Atticus. He's quite simply America af. 1776/10 https://t.co/GRXwMxLBkh 1776


1120 Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv 204


1202 This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq 50


1228 Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1 99


1254 Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12 80


1274 From left to right:
Cletus, Jerome, Alejandro, Burp, &amp; Titson
None know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK 45


1351 Here is a whole flock of puppers.  60/50 I'll take the lot https://t.co/9dpcw6MdWa 60


1433 Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ 44


1634 Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3 143


1635 Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55 121


1712 Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD 26


1779 IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq 144


1843 Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw 88


2074 After so many requests... here you go.

Good dogg. 420/10 https://t.co/yfAAo1gdeY 420

 - A bunch need to be converted to be out of ten
 - Udactity rating_numerator extract failed when decimal values were used (340 Logan, 695 Logan (again) ,793 Sophie, 1712 this is a group)
 - 313 jomny 960 should be 13, denominator should be 10, name not capitalized

In [15]:
wrd_df[wrd_df.rating_numerator == 1776]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
979,749981277374128128,NaN,NaN,2016-07-04 15:00:45 +0000,"<a href=""https://about.twitter.com/products/tw...",This is Atticus. He's quite simply America af....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/749981277...,1776,10,Atticus,None,None,None,None

In [16]:
print(wrd_df.iloc[979][5])

This is Atticus. He's quite simply America af. 1776/10 https://t.co/GRXwMxLBkh

In [17]:
# Got the code for embedding tweets here: 
# https://github.com/jupyter/notebook/issues/2790
# go to tweet and choose Embed Tweet, paste it into s (see below)

class Tweet(object):
    def __init__(self, embed_str=None):
        self.embed_str = embed_str

    def _repr_html_(self):
        return self.embed_str

In [18]:
s  = ("""
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This is Atticus. He&#39;s quite simply America af. 1776/10 <a href="https://t.co/GRXwMxLBkh">pic.twitter.com/GRXwMxLBkh</a></p>&mdash; WeRateDogs (@dog_rates) <a href="https://twitter.com/dog_rates/status/749981277374128128?ref_src=twsrc%5Etfw">July 4, 2016</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
""")
Tweet(s)

OK, it's "correct." I guess that's a risk of analyzing data from a humorous source.

In [19]:
# what about the denominator of 170
wrd_df[wrd_df.rating_denominator == 170]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to this unbelievably well behaved sq...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023...,204,170,this,None,None,None,None

In [20]:
print(wrd_df.iloc[1120][5])

Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv

And another funny-but-correct value:

In [21]:
s = ("""
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once <a href="https://t.co/yGQI3He3xv">pic.twitter.com/yGQI3He3xv</a></p>&mdash; WeRateDogs (@dog_rates) <a href="https://twitter.com/dog_rates/status/731156023742988288?ref_src=twsrc%5Etfw">May 13, 2016</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
""")
Tweet(s)

The moral of this story is that I'm not going to worry too much about "accuracy" for this dataset. "They're all good dogs, Brent." https://twitter.com/brant/status/775407594802335744

##### Breed prediction data
<a id="breed-assess"></a>

In [22]:
# visual assessment shows that there are several tweets with more than one photo and that not all of the predictions match

# Also, some of the predictions are wrong, if funny. 
s = ("""
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This is a curly Ticonderoga named Pepe. No feet. Loves to jet ski. 11/10 would hug until forever <a href="https://t.co/cyDfaK8NBc">pic.twitter.com/cyDfaK8NBc</a></p>&mdash; WeRateDogs (@dog_rates) <a href="https://twitter.com/dog_rates/status/666983947667116034?ref_src=twsrc%5Etfw">November 18, 2015</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
""")

Tweet(s)

This guy is categorized as a swab, a chainsaw, and a wig! Hilarious! I don't think this is an issue of quality or tidiness, just something to be aware of - some of these are not well classified by the AI algorithm.

As for the multiple photos, this is a tidiness issue.

In [23]:
breed_df[breed_df.p1 == 'swab']

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
51,666983947667116034,https://pbs.twimg.com/media/CUGaXDhW4AY9JUH.jpg,1,swab,0.589446,False,chain_saw,0.190142,False,wig,0.03451,False

In [24]:
# Now for some programmatic assessment of the breed predictions
breed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

There's no missing data, which is amazing, and the data types are all appropriate.

In [25]:
breed_df.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

The ranges of the number of images and the confidence intervals are all reasonable, although the 1 as the max in the confidence interval is pretty bold

In [26]:
breed_df[breed_df.p1_conf == 1]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
106,667866724293877760,https://pbs.twimg.com/media/CUS9PlUWwAANeAD.jpg,1,jigsaw_puzzle,1.0,False,prayer_rug,1.011300e-08,False,doormat,1.740170e-10,False

In [27]:
breed_df.iloc[106]

tweet_id                                 667866724293877760
jpg_url     https://pbs.twimg.com/media/CUS9PlUWwAANeAD.jpg
img_num                                                   1
p1                                            jigsaw_puzzle
p1_conf                                                   1
p1_dog                                                False
p2                                               prayer_rug
p2_conf                                          1.0113e-08
p2_dog                                                False
p3                                                  doormat
p3_conf                                         1.74017e-10
p3_dog                                                False
Name: 106, dtype: object

This is an image with a dog looking at a jigsaw puzzle which is the main focus of the photo. This is accurate, but doesn't meet the schema.

In [28]:
breed_df[breed_df.tweet_id == breed_df.iloc[106][0]]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
106,667866724293877760,https://pbs.twimg.com/media/CUS9PlUWwAANeAD.jpg,1,jigsaw_puzzle,1.0,False,prayer_rug,1.011300e-08,False,doormat,1.740170e-10,False

In [29]:
# check for no dog results
breed_df[(breed_df.p1_dog != True) & (breed_df.p2_dog != True) & (breed_df.p3_dog != True)]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,4.588540e-02,False,terrapin,1.788530e-02,False
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,3.391940e-02,False,partridge,5.206580e-05,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,8.554740e-02,False,bookcase,7.947970e-02,False
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,1.525000e-02,False,great_grey_owl,1.320720e-02,False
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,2.402450e-03,False,hamster,4.608630e-04,False
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,2.714850e-01,False,gar,1.899450e-01,False
45,666786068205871104,https://pbs.twimg.com/media/CUDmZIkWcAAIPPe.jpg,1,snail,0.999888,False,slug,5.514170e-05,False,acorn,2.625800e-05,False
50,666837028449972224,https://pbs.twimg.com/media/CUEUva1WsAA2jPb.jpg,1,triceratops,0.442113,False,armadillo,1.140710e-01,False,common_iguana,4.325530e-02,False
51,666983947667116034,https://pbs.twimg.com/media/CUGaXDhW4AY9JUH.jpg,1,swab,0.589446,False,chain_saw,1.901420e-01,False,wig,3.450970e-02,False
53,667012601033924608,https://pbs.twimg.com/media/CUG0bC0U8AAw2su.jpg,1,hyena,0.987230,False,African_hunting_dog,1.260080e-02,False,coyote,5.735010e-05,False
56,667065535570550784,https://pbs.twimg.com/media/CUHkkJpXIAA2w3n.jpg,1,jigsaw_puzzle,0.560001,False,doormat,1.032590e-01,False,space_heater,4.256800e-02,False
69,667188689915760640,https://pbs.twimg.com/media/CUJUk2iWUAAVtOv.jpg,1,vacuum,0.335830,False,swab,2.652780e-01,False,toilet_tissue,1.407030e-01,False
73,667369227918143488,https://pbs.twimg.com/media/CUL4xR9UkAEdlJ6.jpg,1,teddy,0.709545,False,bath_towel,1.272850e-01,False,Christmas_stocking,2.856750e-02,False
77,667437278097252352,https://pbs.twimg.com/media/CUM2qWaWoAUZ06L.jpg,1,porcupine,0.989154,False,bath_towel,6.300490e-03,False,badger,9.663400e-04,False
78,667443425659232256,https://pbs.twimg.com/media/CUM8QZwW4AAVsBl.jpg,1,goose,0.980815,False,drake,6.917770e-03,False,hen,5.255170e-03,False
93,667549055577362432,https://pbs.twimg.com/media/CUOcVCwWsAERUKY.jpg,1,electric_fan,0.984377,False,spotlight,7.736710e-03,False,lampshade,1.901230e-03,False
94,667550882905632768,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1,web_site,0.998258,False,dishwasher,2.010840e-04,False,oscilloscope,1.417360e-04,False
96,667724302356258817,https://pbs.twimg.com/media/CUQ7tv3W4AA3KlI.jpg,1,ibex,0.619098,False,bighorn,1.251190e-01,False,ram,7.467320e-02,False
98,667766675769573376,https://pbs.twimg.com/media/CURiQMnUAAAPT2M.jpg,1,fire_engine,0.883493,False,tow_truck,7.473390e-02,False,jeep,1.277260e-02,False
100,667782464991965184,https://pbs.twimg.com/media/CURwm3cUkAARcO6.jpg,1,lorikeet,0.466149,False,hummingbird,8.301100e-02,False,African_grey,5.424740e-02,False
106,667866724293877760,https://pbs.twimg.com/media/CUS9PlUWwAANeAD.jpg,1,jigsaw_puzzle,1.000000,False,prayer_rug,1.011300e-08,False,doormat,1.740170e-10,False
107,667873844930215936,https://pbs.twimg.com/media/CUTDtyGXIAARxus.jpg,1,common_iguana,0.999647,False,frilled_lizard,1.811500e-04,False,African_chameleon,1.283570e-04,False
112,667911425562669056,https://pbs.twimg.com/media/CUTl5m1WUAAabZG.jpg,1,frilled_lizard,0.257695,False,ox,2.351600e-01,False,triceratops,8.531690e-02,False
115,667937095915278337,https://pbs.twimg.com/media/CUT9PuQWwAABQv7.jpg,1,hamster,0.172078,False,guinea_pig,9.492420e-02,False,Band_Aid,5.999520e-02,False
117,668142349051129856,https://pbs.twimg.com/media/CUW37BzWsAAlJlN.jpg,1,Angora,0.918834,False,hen,3.779340e-02,False,wood_rabbit,1.101490e-02,False
118,668154635664932864,https://pbs.twimg.com/media/CUXDGR2WcAAUQKz.jpg,1,Arctic_fox,0.473584,False,wallaby,2.614110e-01,False,white_wolf,8.094780e-02,False
123,668226093875376128,https://pbs.twimg.com/media/CUYEFlQXAAUkPGm.jpg,1,trombone,0.390339,False,cornet,3.141490e-01,False,French_horn,2.551820e-01,False
130,668291999406125056,https://pbs.twimg.com/media/CUZABzGW4AE5F0k.jpg,1,web_site,0.995535,False,skunk,1.363490e-03,False,badger,6.856500e-04,False
132,668466899341221888,https://pbs.twimg.com/media/CUbfGbbWoAApZth.jpg,1,shopping_basket,0.398361,False,hamper,3.632220e-01,False,bassinet,8.417350e-02,False
140,668544745690562560,https://pbs.twimg.com/media/CUcl5jeWsAA6ufS.jpg,1,bearskin,0.427870,False,bow,2.588580e-01,False,panpipe,2.156260e-02,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1839,837482249356513284,https://pbs.twimg.com/media/C59VqMUXEAAzldG.jpg,2,birdhouse,0.541196,False,can_opener,1.210940e-01,False,carton,5.613670e-02,False
1844,838916489579200512,https://pbs.twimg.com/media/C6RkiQZUsAAM4R4.jpg,2,web_site,0.993651,False,monitor,1.405900e-03,False,envelope,1.093090e-03,False
1847,839290600511926273,https://pbs.twimg.com/media/C6XBt9XXEAEEW9U.jpg,1,web_site,0.670892,False,monitor,1.015650e-01,False,screen,7.530610e-02,False
1851,840370681858686976,https://pbs.twimg.com/media/C6mYrK0UwAANhep.jpg,1,teapot,0.981819,False,cup,1.402580e-02,False,coffeepot,2.420540e-03,False
1853,840696689258311684,https://pbs.twimg.com/media/C6rBLenU0AAr8MN.jpg,1,web_site,0.841768,False,rule,7.087310e-03,False,envelope,6.820300e-03,False
1869,844580511645339650,https://pbs.twimg.com/media/C7iNfq1W0AAcbsR.jpg,1,washer,0.903064,False,dishwasher,3.248900e-02,False,printer,1.645620e-02,False
1886,847962785489326080,https://pbs.twimg.com/media/C8SRpHNUIAARB3j.jpg,1,sea_lion,0.882654,False,mink,6.688020e-02,False,otter,2.567870e-02,False
1887,847971574464610304,https://pbs.twimg.com/media/C8SZH1EWAAAIRRF.jpg,1,coffee_mug,0.633652,False,cup,2.733920e-01,False,toilet_tissue,6.665580e-02,False
1891,849051919805034497,https://pbs.twimg.com/media/C8hwNxbXYAAwyVG.jpg,1,fountain,0.997509,False,American_black_bear,1.413120e-03,False,sundial,6.811150e-04,False
1892,849336543269576704,https://pbs.twimg.com/media/C8lzFC4XcAAQxB4.jpg,1,patio,0.521788,False,prison,1.495440e-01,False,restaurant,2.715260e-02,False
1900,851464819735769094,https://pbs.twimg.com/media/C9ECujZXsAAPCSM.jpg,2,web_site,0.919649,False,menu,2.630610e-02,False,crossword_puzzle,3.481510e-03,False
1902,851861385021730816,https://pbs.twimg.com/media/C8W6sY_W0AEmttW.jpg,1,pencil_box,0.662183,False,purse,6.650550e-02,False,pillow,4.472530e-02,False
1905,852226086759018497,https://pbs.twimg.com/ext_tw_video_thumb/85222...,1,prison,0.352793,False,dishwasher,1.107230e-01,False,file,9.411200e-02,False
1906,852311364735569921,https://pbs.twimg.com/media/C9QEqZ7XYAIR7fS.jpg,1,barbell,0.971581,False,dumbbell,2.841790e-02,False,go-kart,5.595040e-07,False
1910,853299958564483072,https://pbs.twimg.com/media/C9eHyF7XgAAOxPM.jpg,1,grille,0.652280,False,beach_wagon,1.128460e-01,False,convertible,8.625230e-02,False
1931,859074603037188101,https://pbs.twimg.com/media/C-wLyufW0AA546I.jpg,1,revolver,0.190292,False,projectile,1.490640e-01,False,fountain,6.604660e-02,False
1936,860184849394610176,https://pbs.twimg.com/media/C-_9jWWUwAAnwkd.jpg,1,chimpanzee,0.267612,False,gorilla,1.042930e-01,False,orangutan,5.990750e-02,False
1937,860276583193509888,https://pbs.twimg.com/media/C_BQ_NlVwAAgYGD.jpg,1,lakeside,0.312299,False,dock,1.598420e-01,False,canoe,7.079450e-02,False
1940,860924035999428608,https://pbs.twimg.com/media/C_KVJjDXsAEUCWn.jpg,2,envelope,0.933016,False,oscilloscope,1.259140e-02,False,paper_towel,1.117850e-02,False
1946,862457590147678208,https://pbs.twimg.com/media/C_gQmaTUMAAPYSS.jpg,1,home_theater,0.496348,False,studio_couch,1.672560e-01,False,barber_chair,5.262500e-02,False
1953,863907417377173506,https://pbs.twimg.com/media/C_03NPeUQAAgrMl.jpg,1,marmot,0.358828,False,meerkat,1.747030e-01,False,weasel,1.234850e-01,False
1956,864873206498414592,https://pbs.twimg.com/media/DAClmHkXcAA1kSv.jpg,2,pole,0.478616,False,lakeside,1.141820e-01,False,wreck,5.592650e-02,False
1975,870063196459192321,https://pbs.twimg.com/media/DBMV3NnXUAAm0Pp.jpg,1,comic_book,0.534409,False,envelope,2.807220e-01,False,book_jacket,4.378550e-02,False
1979,870804317367881728,https://pbs.twimg.com/media/DBW35ZsVoAEWZUU.jpg,1,home_theater,0.168290,False,sandbar,9.804040e-02,False,television,7.972940e-02,False
2012,879050749262655488,https://pbs.twimg.com/media/DDMD_phXoAQ1qf0.jpg,1,tabby,0.311861,False,window_screen,1.691230e-01,False,Egyptian_cat,1.329320e-01,False
2021,880935762899988482,https://pbs.twimg.com/media/DDm2Z5aXUAEDS2u.jpg,1,street_sign,0.251801,False,umbrella,1.151230e-01,False,traffic_light,6.953380e-02,False
2022,881268444196462592,https://pbs.twimg.com/media/DDrk-f9WAAI-WQv.jpg,1,tusker,0.473303,False,Indian_elephant,2.456460e-01,False,ibex,5.566070e-02,False
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,1.399520e-01,False,car_wheel,4.417270e-02,False
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,2.917540e-02,False,shopping_cart,2.632080e-02,False
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,8.585110e-02,False,banana,7.611000e-02,False

Let's check a few:

In [30]:
s = ("""
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Meet Elliot. He&#39;s a Canadian Forrest Pup. Unusual number of antlers for a dog. Sneaky tongue slip to celebrate <a href="https://twitter.com/hashtag/Canada150?src=hash&amp;ref_src=twsrc%5Etfw">#Canada150</a>. 12/10 would pet <a href="https://t.co/cgwJwowTMC">pic.twitter.com/cgwJwowTMC</a></p>&mdash;  WeRateDogs (@dog_rates) <a href="https://twitter.com/dog_rates/status/881268444196462592?ref_src=twsrc%5Etfw">July 1, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
""")

Tweet(s)

In [31]:
s = ("""
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This is Steven. He has trouble relating to other dogs. Quite shy. Neck longer than average. Tropical probably. 11/10 would still pet <a href="https://t.co/2mJCDEJWdD">pic.twitter.com/2mJCDEJWdD</a></p>&mdash;  WeRateDogs (@dog_rates) <a href="https://twitter.com/dog_rates/status/879050749262655488?ref_src=twsrc%5Etfw">June 25, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
""")
Tweet(s)

In [32]:
s = ("""
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Real funny guys. Sending in a pic without a dog in it. Hilarious. We&#39;ll rate the rug tho because it&#39;s giving off a very good vibe. 11/10 <a href="https://t.co/GCD1JccCyi">pic.twitter.com/GCD1JccCyi</a></p>&mdash;  WeRateDogs (@dog_rates) <a href="https://twitter.com/dog_rates/status/870804317367881728?ref_src=twsrc%5Etfw">June 3, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
""")
Tweet(s)

Hmmm. Most are right. The last one shown is a dog, but I wouldn't have the foggiest what breed and can't blame the AI for not seeing it.

<a id="counts-assess"></a>
##### Likes and Retweets Counts Data

In [33]:
counts_df.head()

             tweet_id                                          temp_data
0  892420643555336193  [{'url': 'https://twitter.com/dog_rates/status...
1  892177421306343426  [{'url': 'https://twitter.com/dog_rates/status...
2  891815181378084864  [{'url': 'https://twitter.com/dog_rates/status...
3  891689557279858688  [{'url': 'https://twitter.com/dog_rates/status...
4  891327558926688256  [{'url': 'https://twitter.com/dog_rates/status...

In [34]:
counts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 2 columns):
tweet_id     2340 non-null object
temp_data    2340 non-null object
dtypes: object(2)
memory usage: 36.6+ KB

In [35]:
counts_df.describe()

                  tweet_id                                          temp_data
count                 2340                                               2340
unique                2340                                               2340
top     666691418707132416  [{'url': 'https://twitter.com/dog_rates/status...
freq                     1                                                  1

There are 16 missing entries - not bad out of 2356 ids. Also, this is a very popular account so I find the min of 0 likes or retweets odd. In order to assess, it will be a lot easier if we pull the dat out the temp_data column into their own columns. While this is sort of a cleaning step, it is useful now.

In [36]:
# there must be a better way!
counts_df[counts_df.tweet_id == '857989990357356544'].temp_data.values[0][0]['favorite_count']

16259

In [37]:
favorites = []
retweets = []
urlarr = []
for tid in counts_df.tweet_id:
    favorites.append(counts_df[counts_df.tweet_id == tid].temp_data.values[0][0]['favorite_count'])
    retweets.append(counts_df[counts_df.tweet_id == tid].temp_data.values[0][0]['retweet_count'])
    urlarr.append(counts_df[counts_df.tweet_id == tid].temp_data.values[0][0]['url'])
counts_df['favorite_count'] = favorites
counts_df['retweet_count'] = retweets
counts_df['url'] = urlarr
counts_df.head()

,tweet_id,temp_data,favorite_count,retweet_count,url
0,892420643555336193,[{'url': 'https://twitter.com/dog_rates/status...,37950,8287,https://twitter.com/dog_rates/status/892420643...
1,892177421306343426,[{'url': 'https://twitter.com/dog_rates/status...,32593,6119,https://twitter.com/dog_rates/status/892177421...
2,891815181378084864,[{'url': 'https://twitter.com/dog_rates/status...,24539,4054,https://twitter.com/dog_rates/status/891815181...
3,891689557279858688,[{'url': 'https://twitter.com/dog_rates/status...,41293,8416,https://twitter.com/dog_rates/status/891689557...
4,891327558926688256,[{'url': 'https://twitter.com/dog_rates/status...,39484,9129,https://twitter.com/dog_rates/status/891327558...

In [38]:
counts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 5 columns):
tweet_id          2340 non-null object
temp_data         2340 non-null object
favorite_count    2340 non-null int64
retweet_count     2340 non-null int64
url               2340 non-null object
dtypes: int64(2), object(3)
memory usage: 91.5+ KB

In [39]:
counts_df[counts_df.favorite_count == 0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167 entries, 31 to 2244
Data columns (total 5 columns):
tweet_id          167 non-null object
temp_data         167 non-null object
favorite_count    167 non-null int64
retweet_count     167 non-null int64
url               167 non-null object
dtypes: int64(2), object(3)
memory usage: 7.8+ KB

167 with 0 likes and several with several thousand retweets? Hmmmm

In [40]:
counts_df[counts_df.favorite_count == 0].tweet_id

31      886054160059072513
35      885311592912609280
67      879130579576475649
72      878404777348136964
73      878316110768087041
77      877611172832227328
90      874434818259525634
95      873337748698140672
106     871166179821445120
120     868639477480148993
126     867072653475098625
132     866094527597207552
141     863471782782697472
153     860981674716409858
154     860924035999428608
159     860177593139703809
165     858860390427611136
174     857062103051644929
176     856602993587888130
179     856330835276025856
188     855245323840757760
189     855138241867124737
198     852936405516943360
205     851953902622658560
206     851861385021730816
216     849668094696017920
224     847978865427394560
225     847971574464610304
243     845098359547420673
258     841833993020538882
               ...
761     776249906839351296
766     775898661951791106
781     773336787167145985
787     772615324260794368
798     771171053431250945
802     771004394259247104
808     770093767776997377
812     769335591808995329
815     768909767477751808
819     768554158521745409
827     766864461642756096
833     766078092750233600
846     763167063695355904
854     761750502866649088
858     761371037149827077
871     760153949710192640
876     759566828574212096
881     759159934323924993
894     757729163776290825
897     757597904299253760
912     754874841593970688
922     753298634498793472
928     752701944171524096
934     752309394570878976
997     747242308580548608
1008    746521445350707200
1028    743835915802583040
1227    711998809858043904
2243    667550904950915073
2244    667550882905632768
Name: tweet_id, Length: 167, dtype: object

In [41]:
tweet = api.get_status(747242308580548608) # test one of them

In [42]:
tweet.text

'RT @dog_rates: This pupper killed this great white in an epic sea battle. Now wears it as a trophy. Such brave. Much fierce. 13/10 https://'

In [43]:
wrd_df[wrd_df.tweet_id == 747242308580548608]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1012,747242308580548608,NaN,NaN,2016-06-27 01:37:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This pupper killed this great w...,7.047611e+17,4.196984e+09,2016-03-01 20:11:59 +0000,https://twitter.com/dog_rates/status/704761120...,13,10,None,None,None,pupper,None

Ah! These are retweeted, not original rating tweets. Let's check:

* first we need to convert tweet_id to integers to match the other dataframes. Should have done this when doing the tweet harvesting.

In [44]:
counts_df['tweet_id'] = pd.to_numeric(counts_df['tweet_id'],downcast='integer')
counts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 5 columns):
tweet_id          2340 non-null int64
temp_data         2340 non-null object
favorite_count    2340 non-null int64
retweet_count     2340 non-null int64
url               2340 non-null object
dtypes: int64(3), object(2)
memory usage: 91.5+ KB

In [45]:
no_likes = counts_df[counts_df.favorite_count == 0].tweet_id.tolist()
for i in no_likes:
    temp = wrd_df[wrd_df.tweet_id == i].retweeted_status_id.item()
    print(temp)

8.860537344211026e+17
8.305833205850685e+17
8.780576130401157e+17
8.782815110064783e+17
6.690003974455337e+17
8.76850772322988e+17
8.663349647612027e+17
8.732137756329779e+17
8.41077006473257e+17
8.685522785248379e+17
8.650134204453683e+17
8.378201676945285e+17
8.630624715311677e+17
8.605637731402097e+17
8.609144852504699e+17
7.616729943768064e+17
8.395493263596708e+17
8.57061112319234e+17
8.44704788403114e+17
8.563301587682181e+17
8.421635325903749e+17
8.551225332674601e+17
8.316500515250545e+17
8.29374341691347e+17
8.482893821761004e+17
8.331246945974436e+17
8.323698773316936e+17
8.47971000004354e+17
7.733088242540298e+17
8.174238601360835e+17
8.406323370628628e+17
6.671521640794235e+17
8.392899192982241e+17
8.3890598062882e+17
7.838399664052306e+17
8.207497168456868e+17
8.366481490034852e+17
8.178278394877379e+17
7.869630643735347e+17
8.35264098648617e+17
7.530398308215112e+17
8.295019951909847e+17
8.324343582922097e+17
8.327663821985669e+17
7.867090828498289e+17
7.932864763017994e+17
7.69940425801171e+17
8.09220051211604e+17
8.269586533285929e+17
8.102541084311552e+17
8.099207643004477e+17
8.250265907194839e+17
7.950767302853919e+17
7.840579396403528e+17
8.222448165201551e+17
8.224890570873897e+17
7.862339652418273e+17
7.806013036177326e+17
7.82305867769217e+17
8.192276884602388e+17
8.203146337770619e+17
8.001414224018309e+17
8.199522364533637e+17
8.190048031079834e+17
8.19006400881918e+17
8.083448658682839e+17
7.735475969965711e+17
8.164505708148982e+17
6.924173130233324e+17
8.159660734094336e+17
7.90946055508652e+17
8.159907208174019e+17
7.320056171713372e+17
7.914069556843684e+17
6.981954092195594e+17
7.902771173469757e+17
7.93962221541933e+17
8.01167903437357e+17
7.829691400091075e+17
7.815246933963571e+17
7.833346399853896e+17
7.827225987907256e+17
7.841831657956557e+17
7.848260202937098e+17
6.914168664520827e+17
7.677549302664643e+17
7.776842335402066e+17
8.000650281163858e+17
7.75733305207554e+17
8.008540229702861e+17
7.761133056561889e+17
6.816940855398728e+17
7.750851326004429e+17
7.74314403806253e+17
7.406769760217989e+17
7.18631497683583e+17
7.128090259859784e+17
7.012147008817562e+17
6.833918525575619e+17
6.769365419361853e+17
6.755010759574897e+17
6.718968093007094e+17
6.704449556561306e+17
6.67509364010451e+17
6.671827920700621e+17
6.661041332886651e+17
7.717704565170094e+17
6.8731730631424e+17
7.809316141509837e+17
7.961497490868756e+17
7.895308770133934e+17
7.887659149929021e+17
7.916723228476375e+17
6.848309826592809e+17
6.820880793022136e+17
7.467577061161124e+17
7.638375655647805e+17
7.899864660510884e+17
7.626998581301166e+17
7.624645393884856e+17
7.507196325631427e+17
7.36392552031658e+17
7.610045478505308e+17
7.529324327441859e+17
7.594476815971082e+17
7.798343325968876e+17
6.742918370630533e+17
7.076109487234785e+17
7.424231704734638e+17
7.804657092979958e+17
7.533756688770089e+17
6.794628231356867e+17
7.580996357643592e+17
7.030419496500347e+17
7.681934045178307e+17
7.50429297815552e+17
6.798284471878574e+17
7.007477885150208e+17
7.33109485275861e+17
7.713807980962816e+17
7.652220986336911e+17
6.733201328113664e+17
7.710021304507433e+17
7.410673068187976e+17
7.069045238146499e+17
7.001437520531825e+17
7.399791916392448e+17
7.599237987370516e+17
7.258422890467492e+17
6.732952685536051e+17
6.853251128501248e+17
7.116947884295537e+17
7.601538332596019e+17
7.395440793195889e+17
6.703191306214359e+17
6.790626142704681e+17
7.575971410995487e+17
6.791583739888763e+17
6.815231776636764e+17
6.835159323633295e+17
6.75354435921576e+17
7.047611207714652e+17
6.678667242938778e+17
6.671382696715059e+17
7.119982797733478e+17
6.675486956640707e+17
6.67548415174144e+17

Yes, that's it. Also check for where retweets = 0

In [46]:
counts_df[counts_df.retweet_count == 0].tweet_id.item()

838085839343206401

In [47]:
wrd_df[wrd_df.tweet_id == 838085839343206401]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
291,838085839343206401,8.380855e+17,2.894131e+09,2017-03-04 17:56:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@bragg6of8 @Andy_Pace_ we are still looking fo...,NaN,NaN,NaN,NaN,15,10,None,None,None,None,None

Only one zero in retweet_count and it is in fact a reply_to.

In [48]:
counts_df.head()

,tweet_id,temp_data,favorite_count,retweet_count,url
0,892420643555336193,[{'url': 'https://twitter.com/dog_rates/status...,37950,8287,https://twitter.com/dog_rates/status/892420643...
1,892177421306343426,[{'url': 'https://twitter.com/dog_rates/status...,32593,6119,https://twitter.com/dog_rates/status/892177421...
2,891815181378084864,[{'url': 'https://twitter.com/dog_rates/status...,24539,4054,https://twitter.com/dog_rates/status/891815181...
3,891689557279858688,[{'url': 'https://twitter.com/dog_rates/status...,41293,8416,https://twitter.com/dog_rates/status/891689557...
4,891327558926688256,[{'url': 'https://twitter.com/dog_rates/status...,39484,9129,https://twitter.com/dog_rates/status/891327558...

In [49]:
counts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 5 columns):
tweet_id          2340 non-null int64
temp_data         2340 non-null object
favorite_count    2340 non-null int64
retweet_count     2340 non-null int64
url               2340 non-null object
dtypes: int64(3), object(2)
memory usage: 91.5+ KB

Note that the lack of null values in url is not really true, since I put in the empty string where urls were not found. This is not going to impact the intended analysis, but would be irritating to someone planning to use the urls in an analysis.

### Quality

#### wrd_df
1. <font color='green'>Do not want retweeted/reply_to - just original dog_rates tweets</font>
1. <font color='green'>Unused columns retweets, reply-to, source, extended urls</font>
1. <font color='green'>tweet_id is int64 but should be non-numeric (we don't perform arithmetic on them, or shouldn't, at least)</font>
1. <font color='green'>Timestamp is str not datetime</font>
1. <font color='green'>Missing names due to typos</font>
1. <font color= 'green'>Udactity rating_numerator extract failed when decimal values were used (340 Logan, 695 Logan (again) ,793 Sophie, 1712 this is a group)</font>
1.  <font color= 'green'>Many denominators not 10</font>
1. <font color='green'>Columns doggo, floofer, etc are not used once data is extracted (which is a tidiness issue, so this will happen at the end)</font>

#### breed_df
1. <font color='green'>Tweet_id is integer, not string.</font>
1. <font color='green'>Pepe's breed is wrong (tweet_id = 666983947667116034)</font>
1. <font color='green'>tweet_id 667866724293877760 misidentified - can't identify, so instead well drop any with no id as dog.</font>
1. <font color='green'>There are 324 tweets not identified as dogs</font>

#### counts_df
1. <font color='green'>Tweet_id is integer</font>
1. <font color='green'>16 of the tweet_ids from wrd_df are missing (dealt with in wrd_df clean step)</font>
1. <font color='green'>favorite_count and retweet_count == 0 are retweets</font>

### Tidiness

#### wrd_df
1. <font color='green'>Floofer, doggo, puppo and pupper are different columns.</font>

#### Tidiness for analysis
1. Makes sense to pull data for analysis into one dataframe. Dataframe should have tweet_id, breed prediction p1 (best guess), rating (calculated numerator over denominator), favorite_count, retweet_count.

<a id='clean'></a>
## Clean

<a id='wrd-qual'></a>
### wrd_df  - Quality

#### Define: Do not want retweeted/reply_to - just original dog_rates tweets
Drop rows with values in retweeted/reply_to columns

#### Code

In [153]:
# copy dataframe for cleaning
wrd_clean = wrd_df.copy()
wrd_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [154]:
wrd_clean = wrd_df[wrd_df.in_reply_to_user_id.isnull()]
wrd_clean = wrd_clean[wrd_clean.retweeted_status_id.isnull()]

#### Test

In [155]:
wrd_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2097 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2097 non-null object
source                        2097 non-null object
text                          2097 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2094 non-null object
rating_numerator              2097 non-null int64
rating_denominator            2097 non-null int64
name                          2097 non-null object
doggo                         2097 non-null object
floofer                       2097 non-null object
pupper                        2097 non-null object
puppo                         2097 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 294.9+ KB

In [156]:
len(wrd_df)

2356

In [157]:
2356-2097

259

Dropped 259 rows.

In [158]:
wrd_clean.reset_index(inplace=True,drop=True)

In [159]:
wrd_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 17 columns):
tweet_id                      2097 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2097 non-null object
source                        2097 non-null object
text                          2097 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2094 non-null object
rating_numerator              2097 non-null int64
rating_denominator            2097 non-null int64
name                          2097 non-null object
doggo                         2097 non-null object
floofer                       2097 non-null object
pupper                        2097 non-null object
puppo                         2097 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 278.6+ KB

#### Define: drop unused columns retweets, reply-to, source, extended urls

#### Code:

In [160]:
wrd_clean.columns.values.tolist()

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'retweeted_status_id',
 'retweeted_status_user_id',
 'retweeted_status_timestamp',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo']

In [161]:
drop_list = ['in_reply_to_status_id',
 'in_reply_to_user_id',
 'source',
 'retweeted_status_id',
 'retweeted_status_user_id',
 'retweeted_status_timestamp',
 'expanded_urls']
wrd_clean.drop(columns=drop_list,inplace=True)
# TEST
wrd_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 10 columns):
tweet_id              2097 non-null int64
timestamp             2097 non-null object
text                  2097 non-null object
rating_numerator      2097 non-null int64
rating_denominator    2097 non-null int64
name                  2097 non-null object
doggo                 2097 non-null object
floofer               2097 non-null object
pupper                2097 non-null object
puppo                 2097 non-null object
dtypes: int64(3), object(7)
memory usage: 163.9+ KB

#### Define: Change tweet_id type from integer to str

#### Code:

In [162]:
wrd_clean.tweet_id = wrd_clean.tweet_id.astype(str)

# TEST

wrd_clean.info()
wrd_clean.tweet_id[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 10 columns):
tweet_id              2097 non-null object
timestamp             2097 non-null object
text                  2097 non-null object
rating_numerator      2097 non-null int64
rating_denominator    2097 non-null int64
name                  2097 non-null object
doggo                 2097 non-null object
floofer               2097 non-null object
pupper                2097 non-null object
puppo                 2097 non-null object
dtypes: int64(2), object(8)
memory usage: 163.9+ KB

'892420643555336193'

#### Define: Timestamp is str not datetime

#### Code:

In [163]:
wrd_clean.timestamp = pd.to_datetime(wrd_clean.timestamp)

# Test
wrd_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 10 columns):
tweet_id              2097 non-null object
timestamp             2097 non-null datetime64[ns]
text                  2097 non-null object
rating_numerator      2097 non-null int64
rating_denominator    2097 non-null int64
name                  2097 non-null object
doggo                 2097 non-null object
floofer               2097 non-null object
pupper                2097 non-null object
puppo                 2097 non-null object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 163.9+ KB

#### Define: Re-extract ratings_numerators from text to capture decimals correctly

#### Code:

In [164]:
import re
for x in wrd_clean.index:
    m = re.search('((?:\d+\.)?\d+)\/(\d+)',wrd_clean.loc[x,'text'])[0] # this is the extracted rating as a string
    num = round(float(m.split('/')[0]))
    den = int(m.split('/')[1])
    wrd_clean.loc[x,'rating_numerator'] = num
    wrd_clean.loc[x,'rating_denominator'] = den
# regex was suggested by reviewer and worked well

#### Test:

In [165]:
wrd_clean[wrd_clean.name == 'Sophie'].text.values[1]

"This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back https://t.co/QFaUiIHxHq"

In [166]:
wrd_clean[wrd_clean.name == 'Sophie'].rating_numerator.values[1]

11

In [167]:
wrd_clean[wrd_clean.name == 'Logan'].text.values[0]

"This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS"

In [168]:
wrd_clean[wrd_clean.name == 'Logan'].rating_numerator.values[0] # I rounded up the numerators

10

#### Define: Denominators not all out of 10 either normalize all to denominator of 10 or just make calculation into a rating column.

#### Code:

In [169]:
wrd_clean[wrd_clean.rating_denominator != 10]

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
339,820690176645140481,2017-01-15 17:52:40,The floofs have been released I repeat the flo...,84,70,None,None,None,None,None
403,810984652412424192,2016-12-19 23:06:23,Meet Sam. She smiles 24/7 &amp; secretly aspir...,24,7,Sam,None,None,None,None
700,758467244762497024,2016-07-28 01:00:57,Why does this never happen at my front door......,165,150,None,None,None,None,None
853,740373189193256964,2016-06-08 02:41:38,"After so many requests, this is Bretagne. She ...",9,11,None,None,None,None,None
904,731156023742988288,2016-05-13 16:15:54,Say hello to this unbelievably well behaved sq...,204,170,this,None,None,None,None
948,722974582966214656,2016-04-21 02:25:47,Happy 4/20 from the squad! 13/10 for all https...,4,20,None,None,None,None,None
985,716439118184652801,2016-04-03 01:36:11,This is Bluebert. He just saw that both #Final...,50,50,Bluebert,None,None,None,None
1011,713900603437621249,2016-03-27 01:29:02,Happy Saturday here's 9 puppers on a bench. 99...,99,90,None,None,None,None,None
1036,710658690886586372,2016-03-18 02:46:49,Here's a brigade of puppers. All look very pre...,80,80,None,None,None,None,None
1056,709198395643068416,2016-03-14 02:04:08,"From left to right:\nCletus, Jerome, Alejandro...",45,50,None,None,None,None,None
1129,704054845121142784,2016-02-28 21:25:30,Here is a whole flock of puppers. 60/50 I'll ...,60,50,a,None,None,None,None
1210,697463031882764288,2016-02-10 16:51:59,Happy Wednesday here's a bucket of pups. 44/40...,44,40,None,None,None,None,None
1399,684222868335505415,2016-01-05 04:00:18,Someone help the girl is being mugged. Several...,121,110,None,None,None,None,None
1426,682962037429899265,2016-01-01 16:30:13,This is Darrel. He just robbed a 7/11 and is i...,7,11,Darrel,None,None,None,None
1540,677716515794329600,2015-12-18 05:06:23,IT'S PUPPERGEDDON. Total of 144/120 ...I think...,144,120,None,None,None,None,None
1602,675853064436391936,2015-12-13 01:41:41,Here we have an entire platoon of puppers. Tot...,88,80,None,None,None,None,None
2076,666287406224695296,2015-11-16 16:11:11,This is an Albanian 3 1/2 legged Episcopalian...,1,2,an,None,None,None,None

In [170]:
wrd_clean.loc[2076,'text'] # another misread rating. Fix this first

'This is an Albanian 3 1/2 legged  Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv'

In [171]:
wrd_clean.loc[2076,'rating_numerator'] = 9
wrd_clean.loc[2076,'rating_denominator'] = 10
wrd_clean[wrd_clean.tweet_id == '666287406224695296']

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2076,666287406224695296,2015-11-16 16:11:11,This is an Albanian 3 1/2 legged Episcopalian...,9,10,an,None,None,None,None

In [172]:
wrd_clean[wrd_clean.rating_denominator != 10]

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
339,820690176645140481,2017-01-15 17:52:40,The floofs have been released I repeat the flo...,84,70,None,None,None,None,None
403,810984652412424192,2016-12-19 23:06:23,Meet Sam. She smiles 24/7 &amp; secretly aspir...,24,7,Sam,None,None,None,None
700,758467244762497024,2016-07-28 01:00:57,Why does this never happen at my front door......,165,150,None,None,None,None,None
853,740373189193256964,2016-06-08 02:41:38,"After so many requests, this is Bretagne. She ...",9,11,None,None,None,None,None
904,731156023742988288,2016-05-13 16:15:54,Say hello to this unbelievably well behaved sq...,204,170,this,None,None,None,None
948,722974582966214656,2016-04-21 02:25:47,Happy 4/20 from the squad! 13/10 for all https...,4,20,None,None,None,None,None
985,716439118184652801,2016-04-03 01:36:11,This is Bluebert. He just saw that both #Final...,50,50,Bluebert,None,None,None,None
1011,713900603437621249,2016-03-27 01:29:02,Happy Saturday here's 9 puppers on a bench. 99...,99,90,None,None,None,None,None
1036,710658690886586372,2016-03-18 02:46:49,Here's a brigade of puppers. All look very pre...,80,80,None,None,None,None,None
1056,709198395643068416,2016-03-14 02:04:08,"From left to right:\nCletus, Jerome, Alejandro...",45,50,None,None,None,None,None
1129,704054845121142784,2016-02-28 21:25:30,Here is a whole flock of puppers. 60/50 I'll ...,60,50,a,None,None,None,None
1210,697463031882764288,2016-02-10 16:51:59,Happy Wednesday here's a bucket of pups. 44/40...,44,40,None,None,None,None,None
1399,684222868335505415,2016-01-05 04:00:18,Someone help the girl is being mugged. Several...,121,110,None,None,None,None,None
1426,682962037429899265,2016-01-01 16:30:13,This is Darrel. He just robbed a 7/11 and is i...,7,11,Darrel,None,None,None,None
1540,677716515794329600,2015-12-18 05:06:23,IT'S PUPPERGEDDON. Total of 144/120 ...I think...,144,120,None,None,None,None,None
1602,675853064436391936,2015-12-13 01:41:41,Here we have an entire platoon of puppers. Tot...,88,80,None,None,None,None,None

The easiest thing is to just compute all of the ratings numerator/denominator and mulitply by 10. I will round.

In [173]:
wrd_clean['rating10'] = None
wrd_clean['rating10'] = (wrd_clean.rating_numerator/wrd_clean.rating_denominator)*10
wrd_clean['rating10'] = wrd_clean['rating10'].astype(int)

#### Test:

In [174]:
wrd_clean.head()

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating10
0,892420643555336193,2017-08-01 16:23:56,This is Phineas. He's a mystical boy. Only eve...,13,10,Phineas,None,None,None,None,13
1,892177421306343426,2017-08-01 00:17:27,This is Tilly. She's just checking pup on you....,13,10,Tilly,None,None,None,None,13
2,891815181378084864,2017-07-31 00:18:03,This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,None,None,None,None,12
3,891689557279858688,2017-07-30 15:58:51,This is Darla. She commenced a snooze mid meal...,13,10,Darla,None,None,None,None,13
4,891327558926688256,2017-07-29 16:00:24,This is Franklin. He would like you to stop ca...,12,10,Franklin,None,None,None,None,12

In [175]:
wrd_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 11 columns):
tweet_id              2097 non-null object
timestamp             2097 non-null datetime64[ns]
text                  2097 non-null object
rating_numerator      2097 non-null int64
rating_denominator    2097 non-null int64
name                  2097 non-null object
doggo                 2097 non-null object
floofer               2097 non-null object
pupper                2097 non-null object
puppo                 2097 non-null object
rating10              2097 non-null int32
dtypes: datetime64[ns](1), int32(1), int64(2), object(7)
memory usage: 172.1+ KB

In [176]:
wrd_clean.head()

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating10
0,892420643555336193,2017-08-01 16:23:56,This is Phineas. He's a mystical boy. Only eve...,13,10,Phineas,None,None,None,None,13
1,892177421306343426,2017-08-01 00:17:27,This is Tilly. She's just checking pup on you....,13,10,Tilly,None,None,None,None,13
2,891815181378084864,2017-07-31 00:18:03,This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,None,None,None,None,12
3,891689557279858688,2017-07-30 15:58:51,This is Darla. She commenced a snooze mid meal...,13,10,Darla,None,None,None,None,13
4,891327558926688256,2017-07-29 16:00:24,This is Franklin. He would like you to stop ca...,12,10,Franklin,None,None,None,None,12

<a id='breed-qual'></a>
### Breed identification - Quality

#### Define: change tweet_id type to string (non-numeric)

#### Code:

In [177]:
breed_clean = breed_df.copy()
breed_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [178]:
breed_clean.tweet_id = breed_clean.tweet_id.astype(str)

# TEST

breed_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null object
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 152.1+ KB

#### Define: Pepe's breed in wrong. Should be ticonderoga per the tweet text
Look up text for tweet_id 666983947667116034. Overwrite p1 with correct breed and confidence interval as 1, and dog to True

In [179]:
wrd_clean[wrd_clean.tweet_id == '666983947667116034']

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating10
2045,666983947667116034,2015-11-18 14:18:59,This is a curly Ticonderoga named Pepe. No fee...,11,10,a,None,None,None,None,11

In [180]:
breed_clean[breed_clean.tweet_id == '666983947667116034']

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
51,666983947667116034,https://pbs.twimg.com/media/CUGaXDhW4AY9JUH.jpg,1,swab,0.589446,False,chain_saw,0.190142,False,wig,0.03451,False

In [181]:
breed_clean.loc[51,'p1'] = 'Ticonderoga'
breed_clean[breed_clean.tweet_id == '666983947667116034']

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
51,666983947667116034,https://pbs.twimg.com/media/CUGaXDhW4AY9JUH.jpg,1,Ticonderoga,0.589446,False,chain_saw,0.190142,False,wig,0.03451,False

In [182]:
breed_clean.loc[51,'p1_conf'] = 1.0
breed_clean.loc[51,'p1_dog'] = True

#Test
breed_clean[breed_clean.tweet_id == '666983947667116034']

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
51,666983947667116034,https://pbs.twimg.com/media/CUGaXDhW4AY9JUH.jpg,1,Ticonderoga,1.0,True,chain_saw,0.190142,False,wig,0.03451,False

#### Define: tweet_id 667866724293877760 misidentified.

In [183]:
breed_clean[breed_clean.tweet_id == '667866724293877760']

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
106,667866724293877760,https://pbs.twimg.com/media/CUS9PlUWwAANeAD.jpg,1,jigsaw_puzzle,1.0,False,prayer_rug,1.011300e-08,False,doormat,1.740170e-10,False

In [184]:
s  = ("""
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This is Shaggy. He knows exactly how to solve the puzzle but can&#39;t talk. All he wants to do is help. 10/10 great guy <a href="https://t.co/SBmWbfAg6X">pic.twitter.com/SBmWbfAg6X</a></p>&mdash;  WeRateDogs (@dog_rates) <a href="https://twitter.com/dog_rates/status/667866724293877760?ref_src=twsrc%5Etfw">November 21, 2015</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
""")
Tweet(s)

My best guess on this one is that he is a cockapoo, but I'm going to leave him out because, what do I know?

#### Define: Drop rows that are not identified as dogs in px. 
While some will be like Shaggy (above), we don't have access to the AI to try and get a better guess (by cropping the photos, etc), we're just going to have to drop the "non-dogs" since they have to be dogs to find our schema. First we'll get the breed from whichever is the first to have px_dog == True, with p1 > p2 > p3. We'll store that in a new column, breed

Create new column 'breed' and put in the p value of the first px_dog == True for each row. After that, drop the rows in which no breed was identified

#### Code

In [185]:
breed_clean['breed'] = None

In [186]:
no_breed = []
for tid in breed_clean.tweet_id:
    if breed_clean[breed_clean.tweet_id == tid].p1_dog.values[0]:
        breed_clean.loc[breed_clean[breed_clean.tweet_id == tid].index[0],'breed'] = breed_clean[breed_clean.tweet_id == tid].p1.values[0]
    elif breed_clean[breed_clean.tweet_id == tid].p2_dog.values[0]:
        breed_clean.loc[breed_clean[breed_clean.tweet_id == tid].index[0],'breed'] = breed_clean[breed_clean.tweet_id == tid].p2.values[0]
    elif breed_clean[breed_clean.tweet_id == tid].p3_dog.values[0]:
        breed_clean.loc[breed_clean[breed_clean.tweet_id == tid].index[0],'breed'] = breed_clean[breed_clean.tweet_id == tid].p3.values[0]
    else:
        no_breed.append(tid)
no_breed

['666051853826850816',
 '666104133288665088',
 '666268910803644416',
 '666293911632134144',
 '666362758909284353',
 '666411507551481857',
 '666786068205871104',
 '666837028449972224',
 '667012601033924608',
 '667065535570550784',
 '667188689915760640',
 '667369227918143488',
 '667437278097252352',
 '667443425659232256',
 '667549055577362432',
 '667550882905632768',
 '667724302356258817',
 '667766675769573376',
 '667782464991965184',
 '667866724293877760',
 '667873844930215936',
 '667911425562669056',
 '667937095915278337',
 '668142349051129856',
 '668154635664932864',
 '668226093875376128',
 '668291999406125056',
 '668466899341221888',
 '668544745690562560',
 '668614819948453888',
 '668620235289837568',
 '668643542311546881',
 '668645506898350081',
 '668981893510119424',
 '668988183816871936',
 '668992363537309700',
 '669015743032369152',
 '669214165781868544',
 '669351434509529089',
 '669571471778410496',
 '669583744538451968',
 '669661792646373376',
 '669682095984410625',
 '669749430875258880',
 '669923323644657664',
 '669972011175813120',
 '670037189829525505',
 '670055038660800512',
 '670069087419133954',
 '670079681849372674',
 '670361874861563904',
 '670408998013820928',
 '670417414769758208',
 '670420569653809152',
 '670449342516494336',
 '670465786746662913',
 '670468609693655041',
 '670474236058800128',
 '670668383499735048',
 '670727704916926465',
 '670733412878163972',
 '670783437142401025',
 '670826280409919488',
 '670838202509447168',
 '670842764863651840',
 '671159727754231808',
 '671166507850801152',
 '671347597085433856',
 '671362598324076544',
 '671390180817915904',
 '671488513339211776',
 '671497587707535361',
 '671511350426865664',
 '671533943490011136',
 '671538301157904385',
 '671544874165002241',
 '671547767500775424',
 '671744970634719232',
 '671763349865160704',
 '671855973984772097',
 '671874878652489728',
 '671879137494245376',
 '671882082306625538',
 '672231046314901505',
 '672256522047614977',
 '672475084225949696',
 '672591271085670400',
 '672609152938721280',
 '672614745925664768',
 '672828477930868736',
 '672884426393653248',
 '672898206762672129',
 '672902681409806336',
 '672970152493887488',
 '672984142909456390',
 '673148804208660480',
 '673363615379013632',
 '673576835670777856',
 '673697980713705472',
 '673700254269775872',
 '673715861853720576',
 '674008982932058114',
 '674045139690631169',
 '674063288070742018',
 '674265582246694913',
 '674318007229923329',
 '674372068062928900',
 '674632714662858753',
 '674664755118911488',
 '674690135443775488',
 '674754018082705410',
 '674767892831932416',
 '674781762103414784',
 '675113801096802304',
 '675135153782571009',
 '675153376133427200',
 '675483430902214656',
 '675501075957489664',
 '676098748976615425',
 '676215927814406144',
 '676776431406465024',
 '676897532954456065',
 '676942428000112642',
 '676948236477857792',
 '677228873407442944',
 '677573743309385728',
 '677662372920729601',
 '678675843183484930',
 '678767140346941444',
 '679503373272485890',
 '679527802031484928',
 '679877062409191424',
 '680085611152338944',
 '680176173301628928',
 '680206703334408192',
 '680221482581123072',
 '680440374763077632',
 '680583894916304897',
 '680798457301471234',
 '681242418453299201',
 '681302363064414209',
 '681679526984871937',
 '682003177596559360',
 '682047327939461121',
 '682059653698686977',
 '682242692827447297',
 '682406705142087680',
 '682697186228989953',
 '682788441537560576',
 '684122891630342144',
 '684200372118904832',
 '684567543613382656',
 '684880619965411328',
 '684959798585110529',
 '685547936038666240',
 '685667379192414208',
 '686003207160610816',
 '686749460672679938',
 '686947101016735744',
 '687102708889812993',
 '687476254459715584',
 '688179443353796608',
 '688211956440801280',
 '688894073864884227',
 '688908934925697024',
 '689289219123089408',
 '689659372465688576',
 '690248561355657216',
 '690932576555528194',
 '690938899477221376',
 '691090071332753408',
 '691820333922455552',
 '692417313023332352',
 '693486665285931008',
 '693590843962331137',
 '693647888581312512',
 '694669722378485760',
 '694905863685980160',
 '695064344191721472',
 '696877980375769088',
 '697482927769255936',
 '697881462549430272',
 '699088579889332224',
 '699691744225525762',
 '700062718104104960',
 '700796979434098688',
 '702932127499816960',
 '703041949650034688',
 '703407252292673536',
 '703631701117943808',
 '704113298707505153',
 '704819833553219584',
 '706593038911545345',
 '706901761596989440',
 '707693576495472641',
 '707995814724026368',
 '709901256215666688',
 '711652651650457602',
 '711694788429553666',
 '711968124745228288',
 '712065007010385924',
 '712092745624633345',
 '714631576617938945',
 '715360349751484417',
 '717790033953034240',
 '718454725339934721',
 '719704490224398336',
 '720340705894408192',
 '728653952833728512',
 '729113531270991872',
 '729838605770891264',
 '729854734790754305',
 '730196704625098752',
 '731156023742988288',
 '735274964362878976',
 '737310737551491075',
 '737322739594330112',
 '740365076218183684',
 '740699697422163968',
 '742161199639494656',
 '742465774154047488',
 '742528092657332225',
 '743510151680958465',
 '743595368194129920',
 '745314880350101504',
 '746906459439529985',
 '747204161125646336',
 '747461612269887489',
 '748307329658011649',
 '748692773788876800',
 '748705597323898880',
 '749981277374128128',
 '750506206503038976',
 '753420520834629632',
 '754482103782404096',
 '754747087846248448',
 '755206590534418437',
 '756526248105566208',
 '757596066325864448',
 '757597904299253760',
 '760190180481531904',
 '760252756032651264',
 '760641137271070720',
 '761371037149827077',
 '761672994376806400',
 '761745352076779520',
 '762035686371364864',
 '762316489655476224',
 '767191397493538821',
 '767884188863397888',
 '768193404517830656',
 '770655142660169732',
 '771004394259247104',
 '771014301343748096',
 '775729183532220416',
 '775733305207554048',
 '776113305656188928',
 '778396591732486144',
 '779377524342161408',
 '780931614150983680',
 '781955203444699136',
 '783839966405230592',
 '785639753186217984',
 '788039637453406209',
 '792913359805018113',
 '793135492858580992',
 '794205286408003585',
 '795076730285391872',
 '798673117451325440',
 '800018252395122689',
 '800443802682937345',
 '800459316964663297',
 '801285448605831168',
 '802323869084381190',
 '803380650405482500',
 '804026241225523202',
 '805487436403003392',
 '812503143955202048',
 '815390420867969024',
 '816450570814898180',
 '819006400881917954',
 '819015331746349057',
 '819924195358416896',
 '820078625395449857',
 '824297048279236611',
 '824796380199809024',
 '825876512159186944',
 '828046555563323392',
 '832769181346996225',
 '834167344700198914',
 '836380477523124226',
 '836677758902222849',
 '837012587749474308',
 '837482249356513284',
 '838916489579200512',
 '839290600511926273',
 '840370681858686976',
 '840696689258311684',
 '844580511645339650',
 '847962785489326080',
 '847971574464610304',
 '849051919805034497',
 '849336543269576704',
 '851464819735769094',
 '851861385021730816',
 '852226086759018497',
 '852311364735569921',
 '853299958564483072',
 '859074603037188101',
 '860184849394610176',
 '860276583193509888',
 '860924035999428608',
 '862457590147678208',
 '863907417377173506',
 '864873206498414592',
 '870063196459192321',
 '870804317367881728',
 '879050749262655488',
 '880935762899988482',
 '881268444196462592',
 '886680336477933568',
 '887517139158093824',
 '892420643555336193']

In [187]:
breed_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 13 columns):
tweet_id    2075 non-null object
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
breed       1752 non-null object
dtypes: bool(3), float64(3), int64(1), object(6)
memory usage: 168.3+ KB

In [188]:
# Just for fun: this is a barbell
s = ("""
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This is Wiggles. She would like you to spot her. Probably won&#39;t need your help but just in case. 13/10 powerful as h*ck <a href="https://t.co/2d370P0OEg">pic.twitter.com/2d370P0OEg</a></p>&mdash;  WeRateDogs (@dog_rates) <a href="https://twitter.com/dog_rates/status/852311364735569921?ref_src=twsrc%5Etfw">April 13, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
""")
Tweet(s)

In [189]:
# And this is a meercat or a marmot ("Nice marmot.")
s = ("""
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This is Albus. He&#39;s quite impressive at hide and seek. Knows he&#39;s been found this time. 13/10 usually elusive as h*ck <a href="https://t.co/ht47njyZ64">pic.twitter.com/ht47njyZ64</a></p>&mdash;  WeRateDogs (@dog_rates) <a href="https://twitter.com/dog_rates/status/863907417377173506?ref_src=twsrc%5Etfw">May 15, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
""")
Tweet(s)

In [190]:
len(no_breed)

323

In [191]:
len(breed_clean)

2075

#### Redefine: Instead of dropping, I'll just peel out the rows where breed is not null

#### Code:

In [192]:
breed_clean = breed_clean[breed_clean.breed.notnull()]
breed_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1752 entries, 0 to 2073
Data columns (total 13 columns):
tweet_id    1752 non-null object
jpg_url     1752 non-null object
img_num     1752 non-null int64
p1          1752 non-null object
p1_conf     1752 non-null float64
p1_dog      1752 non-null bool
p2          1752 non-null object
p2_conf     1752 non-null float64
p2_dog      1752 non-null bool
p3          1752 non-null object
p3_conf     1752 non-null float64
p3_dog      1752 non-null bool
breed       1752 non-null object
dtypes: bool(3), float64(3), int64(1), object(6)
memory usage: 155.7+ KB

In [193]:
breed_clean.reset_index(inplace=True,drop=True)
breed_clean.index.values[:40]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39], dtype=int64)

<a id='counts-qual'></a>
### Counts - Quality

#### Define: remove entries with retweets and favorites equal to zero. These are retweets or replies themselves.

#### Code:

In [194]:
counts_clean = counts_df[(counts_df.retweet_count != 0) & (counts_df.favorite_count != 0)]

In [195]:
counts_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2172 entries, 0 to 2339
Data columns (total 5 columns):
tweet_id          2172 non-null int64
temp_data         2172 non-null object
favorite_count    2172 non-null int64
retweet_count     2172 non-null int64
url               2172 non-null object
dtypes: int64(3), object(2)
memory usage: 101.8+ KB

In [196]:
counts_clean.reset_index(inplace=True,drop=True)
counts_clean.index.values[:40]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39], dtype=int64)

In [197]:
counts_clean.tweet_id = counts_clean.tweet_id.astype(str)
counts_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2172 entries, 0 to 2171
Data columns (total 5 columns):
tweet_id          2172 non-null object
temp_data         2172 non-null object
favorite_count    2172 non-null int64
retweet_count     2172 non-null int64
url               2172 non-null object
dtypes: int64(2), object(3)
memory usage: 84.9+ KB

#### Describe: check that favorite_count == 0 and retweet_count == 0 have been removed

#### Code:

In [198]:
counts_clean.describe()

       favorite_count  retweet_count
count     2172.000000    2172.000000
mean      8557.424954    2632.534070
std      12562.385729    4667.654874
min         51.000000       2.000000
25%       1824.000000     569.000000
50%       3864.000000    1258.000000
75%      10637.250000    3011.750000
max     163883.000000   83323.000000

In [199]:
counts_clean[counts_clean.favorite_count == 0]

Empty DataFrame
Columns: [tweet_id, temp_data, favorite_count, retweet_count, url]
Index: []

In [200]:
counts_clean[counts_clean.retweet_count == 0]

Empty DataFrame
Columns: [tweet_id, temp_data, favorite_count, retweet_count, url]
Index: []

#### Define: drop temp_data column since all info has been extracted into columns

#### Code:

In [201]:
counts_clean.drop(columns='temp_data', inplace=True)

# Test

counts_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2172 entries, 0 to 2171
Data columns (total 4 columns):
tweet_id          2172 non-null object
favorite_count    2172 non-null int64
retweet_count     2172 non-null int64
url               2172 non-null object
dtypes: int64(2), object(2)
memory usage: 68.0+ KB

<a id='wrd-tidy'></a>
### wrd_clean - tidyness

#### Define: Drop unused columns

#### Code:

In [202]:
wrd_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 11 columns):
tweet_id              2097 non-null object
timestamp             2097 non-null datetime64[ns]
text                  2097 non-null object
rating_numerator      2097 non-null int64
rating_denominator    2097 non-null int64
name                  2097 non-null object
doggo                 2097 non-null object
floofer               2097 non-null object
pupper                2097 non-null object
puppo                 2097 non-null object
rating10              2097 non-null int32
dtypes: datetime64[ns](1), int32(1), int64(2), object(7)
memory usage: 172.1+ KB

#### Define: Floofer, doggo, puppo, and pupper need to become one categorical column
Melt doggo, floofer, pupper, puppo columns into one column good_dog_type

#### Code:

In [203]:
wrd_clean.columns.values.tolist()

['tweet_id',
 'timestamp',
 'text',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo',
 'rating10']

In [204]:
wrd_clean.replace('None', wrd_clean.replace(['None'], [None]),inplace=True) # turn string 'None' into actual none

In [205]:
wrd_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 11 columns):
tweet_id              2097 non-null object
timestamp             2097 non-null datetime64[ns]
text                  2097 non-null object
rating_numerator      2097 non-null int64
rating_denominator    2097 non-null int64
name                  1494 non-null object
doggo                 83 non-null object
floofer               10 non-null object
pupper                230 non-null object
puppo                 24 non-null object
rating10              2097 non-null int64
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 180.3+ KB

In [206]:
for tid in wrd_clean.tweet_id:
    if (wrd_clean[wrd_clean.tweet_id == tid].doggo == 'doggo').values[0]:
        wrd_clean.loc[wrd_clean[wrd_clean.tweet_id==tid].index,'type'] = 'doggo'
    elif (wrd_clean[wrd_clean.tweet_id == tid].floofer == 'floofer').values[0]:
        wrd_clean.loc[wrd_clean[wrd_clean.tweet_id==tid].index,'type'] = 'floofer'
    elif (wrd_clean[wrd_clean.tweet_id == tid].pupper == 'pupper').values[0]:
        wrd_clean.loc[wrd_clean[wrd_clean.tweet_id==tid].index,'type'] = 'pupper'
    elif (wrd_clean[wrd_clean.tweet_id == tid].puppo == 'puppo').values[0]:
        wrd_clean.loc[wrd_clean[wrd_clean.tweet_id==tid].index,'type'] = 'puppo'
wrd_clean[wrd_clean.type == 'floofer']

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating10,type
42,883360690899218434,2017-07-07 16:22:55,Meet Grizzwald. He may be the floofiest floofe...,13,10,Grizzwald,None,floofer,None,None,13,floofer
450,800388270626521089,2016-11-20 17:20:08,This is Doc. He takes time out of every day to...,12,10,Doc,None,floofer,None,None,12,floofer
593,776218204058357768,2016-09-15 00:36:55,Atlas rolled around in some chalk and now he's...,13,10,None,None,floofer,None,None,13,floofer
775,749317047558017024,2016-07-02 19:01:20,This is Blu. He's a wild bush Floofer. I wish ...,12,10,Blu,None,floofer,None,None,12,floofer
809,746542875601690625,2016-06-25 03:17:46,Here's a golden floofer helping with the groce...,11,10,None,None,floofer,None,None,11,floofer
875,737445876994609152,2016-05-31 00:49:32,Just wanted to share this super rare Rainbow F...,13,10,None,None,floofer,None,None,13,floofer
894,733822306246479872,2016-05-21 00:50:46,This is Moose. He's a Polynesian Floofer. Dapp...,10,10,Moose,None,floofer,None,None,10,floofer
1303,689993469801164801,2016-01-21 02:10:37,Here we are witnessing a rare High Stepping Al...,12,10,None,None,floofer,None,None,12,floofer
1381,685307451701334016,2016-01-08 03:50:03,Say hello to Petrick. He's an Altostratus Floo...,11,10,Petrick,None,floofer,None,None,11,floofer

In [207]:
wrd_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 12 columns):
tweet_id              2097 non-null object
timestamp             2097 non-null datetime64[ns]
text                  2097 non-null object
rating_numerator      2097 non-null int64
rating_denominator    2097 non-null int64
name                  1494 non-null object
doggo                 83 non-null object
floofer               10 non-null object
pupper                230 non-null object
puppo                 24 non-null object
rating10              2097 non-null int64
type                  336 non-null object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 196.7+ KB

In [208]:
wrd_clean[wrd_clean.type == 'doggo']

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating10,type
9,890240255349198849,2017-07-26 15:59:51,This is Cassie. She is a college pup. Studying...,14,10,Cassie,doggo,None,None,None,14,doggo
39,884162670584377345,2017-07-09 21:29:42,Meet Yogi. He doesn't have any important dog m...,12,10,Yogi,doggo,None,None,None,12,doggo
86,872967104147763200,2017-06-09 00:02:31,Here's a very large dog. He has a date later. ...,12,10,None,doggo,None,None,None,12,doggo
94,871515927908634625,2017-06-04 23:56:03,This is Napolean. He's a Raggedy East Nicaragu...,12,10,Napolean,doggo,None,None,None,12,doggo
95,871102520638267392,2017-06-03 20:33:19,Never doubt a doggo 14/10 https://t.co/AbBLh2FZCH,14,10,None,doggo,None,None,None,14,doggo
104,869596645499047938,2017-05-30 16:49:31,This is Scout. He just graduated. Officially a...,12,10,Scout,doggo,None,None,None,12,doggo
143,858843525470990336,2017-05-01 00:40:27,I have stumbled puppon a doggo painting party....,13,10,None,doggo,None,None,None,13,doggo
154,855851453814013952,2017-04-22 18:31:02,Here's a puppo participating in the #ScienceMa...,13,10,None,doggo,None,None,puppo,13,doggo
161,854010172552949760,2017-04-17 16:34:26,"At first I thought this was a shy doggo, but i...",11,10,None,doggo,floofer,None,None,11,doggo
192,846514051647705089,2017-03-28 00:07:32,This is Barney. He's an elder doggo. Hitches a...,13,10,Barney,doggo,None,None,None,13,doggo
199,845397057150107648,2017-03-24 22:08:59,Say hello to Mimosa. She's an emotional suppor...,13,10,Mimosa,doggo,None,None,None,13,doggo
237,836753516572119041,2017-03-01 01:42:39,This is Meera. She just heard about taxes and ...,12,10,Meera,doggo,None,None,None,12,doggo
249,834574053763584002,2017-02-23 01:22:14,Here's a doggo fully pupared for a shower. H*c...,13,10,None,doggo,None,None,None,13,doggo
253,834089966724603904,2017-02-21 17:18:39,DOGGO ON THE LOOSE I REPEAT DOGGO ON THE LOOSE...,10,10,None,doggo,None,None,None,10,doggo
260,832998151111966721,2017-02-18 17:00:10,This is Rhino. He arrived at a shelter with an...,13,10,Rhino,doggo,None,None,None,13,doggo
267,832273440279240704,2017-02-16 17:00:25,Say hello to Smiley. He's a blind therapy dogg...,14,10,Smiley,doggo,None,None,None,14,doggo
268,832032802820481025,2017-02-16 01:04:13,This is Miguel. He was the only remaining dogg...,12,10,Miguel,doggo,None,None,None,12,doggo
269,831939777352105988,2017-02-15 18:54:34,This is Emanuel. He's a h*ckin rare doggo. Dwe...,12,10,Emanuel,doggo,None,None,None,12,doggo
274,831322785565769729,2017-02-14 02:02:51,This is Pete. He has no eyes. Needs a guide do...,12,10,Pete,doggo,None,None,None,12,doggo
283,829449946868879360,2017-02-08 22:00:52,Here's a stressed doggo. Had a long day. Many ...,11,10,None,doggo,None,None,None,11,doggo
284,829374341691346946,2017-02-08 17:00:26,This is Astrid. She's a guide doggo in trainin...,13,10,Astrid,doggo,None,None,None,13,doggo
292,828381636999917570,2017-02-05 23:15:47,Meet Doobert. He's a deaf doggo. Didn't stop h...,14,10,Doobert,doggo,None,None,None,14,doggo
303,826958653328592898,2017-02-02 01:01:21,This is Loki. He smiles like Elvis. Ain't noth...,12,10,Loki,doggo,None,None,None,12,doggo
304,826848821049180160,2017-02-01 17:44:55,This is Cupid. He was found in the trash. Now ...,13,10,Cupid,doggo,None,None,None,13,doggo
306,826476773533745153,2017-01-31 17:06:32,This is Pilot. He has mastered the synchronize...,12,10,Pilot,doggo,None,None,None,12,doggo
308,826204788643753985,2017-01-30 23:05:46,"Here's a little more info on Dew, your favorit...",13,10,None,doggo,None,None,None,13,doggo
332,821765923262631936,2017-01-18 17:07:18,This is Duchess. She uses dark doggo forces to...,13,10,Duchess,doggo,None,None,None,13,doggo
334,821407182352777218,2017-01-17 17:21:47,This is Sundance. He's a doggo drummer. Even s...,14,10,Sundance,doggo,None,None,None,14,doggo
336,821107785811234820,2017-01-16 21:32:06,Here's a doggo who looks like he's about to gi...,11,10,None,doggo,None,None,None,11,doggo
343,819924195358416896,2017-01-13 15:08:56,Here we have a doggo who has messed up. He was...,11,10,None,doggo,None,None,None,11,doggo
...,...,...,...,...,...,...,...,...,...,...,...,...
643,768193404517830656,2016-08-23 21:09:14,Meet Gerald. He's a fairly exotic doggo. Floof...,8,10,Gerald,doggo,None,None,None,8,doggo
647,767191397493538821,2016-08-21 02:47:37,I don't know any of the backstory behind this ...,13,10,None,doggo,None,None,None,13,doggo
678,760893934457552897,2016-08-03 17:43:45,This is Wishes. He has the day off. Daily stru...,11,10,Wishes,doggo,None,None,None,11,doggo
682,760521673607086080,2016-08-02 17:04:31,Doggo want what doggo cannot have. Temptation ...,12,10,None,doggo,None,None,None,12,doggo
689,759793422261743616,2016-07-31 16:50:42,"Meet Maggie &amp; Lila. Maggie is the doggo, L...",12,10,Maggie,doggo,None,pupper,None,12,doggo
697,758828659922702336,2016-07-29 00:57:05,This doggo is just waiting for someone to be p...,13,10,None,doggo,None,None,None,13,doggo
710,757393109802180609,2016-07-25 01:52:43,Here's a doggo completely oblivious to the dou...,10,10,None,doggo,None,None,None,10,doggo
715,756526248105566208,2016-07-22 16:28:07,All hail sky doggo. 13/10 would jump super hig...,13,10,None,doggo,None,None,None,13,doggo
720,755206590534418437,2016-07-19 01:04:16,This is one of the most inspirational stories ...,14,10,one,doggo,None,None,None,14,doggo
737,752682090207055872,2016-07-12 01:52:49,Nothing better than a doggo and a sunset. 10/1...,10,10,None,doggo,None,None,None,10,doggo
738,752660715232722944,2016-07-12 00:27:52,Hooman used Pokeball\n*wiggle*\n*wiggle*\nDogg...,10,10,None,doggo,None,None,None,10,doggo
741,752334515931054080,2016-07-11 02:51:40,Here's a doggo trying to catch some fish. 8/10...,8,10,None,doggo,None,None,None,8,doggo
748,751583847268179968,2016-07-09 01:08:47,Please stop sending it pictures that don't eve...,5,10,None,doggo,None,pupper,None,5,doggo
768,750011400160841729,2016-07-04 17:00:26,Meet Piper. She's an airport doggo. Please ret...,11,10,Piper,doggo,None,None,None,11,doggo
776,749075273010798592,2016-07-02 03:00:36,This is Boomer. He's self-baptizing. Other dog...,11,10,Boomer,doggo,None,None,None,11,doggo
780,748932637671223296,2016-07-01 17:33:49,Say hello to Divine Doggo. Must be magical af....,13,10,Divine,doggo,None,None,None,13,doggo
783,748692773788876800,2016-07-01 01:40:41,That is Quizno. This is his beach. He does not...,10,10,his,doggo,None,None,None,10,doggo
816,745433870967832576,2016-06-22 01:50:58,This is Lenox. She's in a wheelbarrow. Silly d...,10,10,Lenox,doggo,None,None,None,10,doggo
825,744234799360020481,2016-06-18 18:26:18,Here's a doggo realizing you can stand in a po...,13,10,None,doggo,None,None,None,13,doggo
836,742534281772302336,2016-06-14 01:49:03,"For anyone who's wondering, this is what happe...",11,10,None,doggo,None,None,None,11,doggo
848,741067306818797568,2016-06-10 00:39:48,This is just downright precious af. 12/10 for ...,12,10,just,doggo,None,pupper,None,12,doggo
860,739623569819336705,2016-06-06 01:02:55,Here's a doggo that don't need no human. 12/10...,12,10,None,doggo,None,None,None,12,doggo
864,739238157791694849,2016-06-04 23:31:25,Here's a doggo blowing bubbles. It's downright...,13,10,None,doggo,None,None,None,13,doggo
887,735256018284875776,2016-05-24 23:47:49,This is Kellogg. He accidentally opened the fr...,8,10,Kellogg,doggo,None,None,None,8,doggo
897,733109485275860992,2016-05-19 01:38:16,"Like father (doggo), like son (pupper). Both 1...",12,10,None,doggo,None,pupper,None,12,doggo
901,732375214819057664,2016-05-17 01:00:32,This is Kyle (pronounced 'Mitch'). He strives ...,11,10,Kyle,doggo,None,None,None,11,doggo
924,727644517743104000,2016-05-03 23:42:26,Here's a doggo struggling to cope with the win...,13,10,None,doggo,None,None,None,13,doggo
939,724771698126512129,2016-04-26 01:26:53,Nothin better than a doggo and a sunset. 11/10...,11,10,None,doggo,None,None,None,11,doggo
959,719991154352222208,2016-04-12 20:50:42,This doggo was initially thrilled when she saw...,10,10,None,doggo,None,None,None,10,doggo
987,716080869887381504,2016-04-02 01:52:38,Here's a super majestic doggo and a sunset 11/...,11,10,None,doggo,None,None,None,11,doggo

### wrd_clean - Quality

#### Define: drop unused doggo, floofer, puppo and pupper columns once dog type info is combined into one column

#### Code:

In [209]:
wrd_clean.drop(columns=['doggo','floofer','puppo','pupper'],inplace=True)
wrd_clean[wrd_clean.type == 'doggo']

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,rating10,type
9,890240255349198849,2017-07-26 15:59:51,This is Cassie. She is a college pup. Studying...,14,10,Cassie,14,doggo
39,884162670584377345,2017-07-09 21:29:42,Meet Yogi. He doesn't have any important dog m...,12,10,Yogi,12,doggo
86,872967104147763200,2017-06-09 00:02:31,Here's a very large dog. He has a date later. ...,12,10,None,12,doggo
94,871515927908634625,2017-06-04 23:56:03,This is Napolean. He's a Raggedy East Nicaragu...,12,10,Napolean,12,doggo
95,871102520638267392,2017-06-03 20:33:19,Never doubt a doggo 14/10 https://t.co/AbBLh2FZCH,14,10,None,14,doggo
104,869596645499047938,2017-05-30 16:49:31,This is Scout. He just graduated. Officially a...,12,10,Scout,12,doggo
143,858843525470990336,2017-05-01 00:40:27,I have stumbled puppon a doggo painting party....,13,10,None,13,doggo
154,855851453814013952,2017-04-22 18:31:02,Here's a puppo participating in the #ScienceMa...,13,10,None,13,doggo
161,854010172552949760,2017-04-17 16:34:26,"At first I thought this was a shy doggo, but i...",11,10,None,11,doggo
192,846514051647705089,2017-03-28 00:07:32,This is Barney. He's an elder doggo. Hitches a...,13,10,Barney,13,doggo
199,845397057150107648,2017-03-24 22:08:59,Say hello to Mimosa. She's an emotional suppor...,13,10,Mimosa,13,doggo
237,836753516572119041,2017-03-01 01:42:39,This is Meera. She just heard about taxes and ...,12,10,Meera,12,doggo
249,834574053763584002,2017-02-23 01:22:14,Here's a doggo fully pupared for a shower. H*c...,13,10,None,13,doggo
253,834089966724603904,2017-02-21 17:18:39,DOGGO ON THE LOOSE I REPEAT DOGGO ON THE LOOSE...,10,10,None,10,doggo
260,832998151111966721,2017-02-18 17:00:10,This is Rhino. He arrived at a shelter with an...,13,10,Rhino,13,doggo
267,832273440279240704,2017-02-16 17:00:25,Say hello to Smiley. He's a blind therapy dogg...,14,10,Smiley,14,doggo
268,832032802820481025,2017-02-16 01:04:13,This is Miguel. He was the only remaining dogg...,12,10,Miguel,12,doggo
269,831939777352105988,2017-02-15 18:54:34,This is Emanuel. He's a h*ckin rare doggo. Dwe...,12,10,Emanuel,12,doggo
274,831322785565769729,2017-02-14 02:02:51,This is Pete. He has no eyes. Needs a guide do...,12,10,Pete,12,doggo
283,829449946868879360,2017-02-08 22:00:52,Here's a stressed doggo. Had a long day. Many ...,11,10,None,11,doggo
284,829374341691346946,2017-02-08 17:00:26,This is Astrid. She's a guide doggo in trainin...,13,10,Astrid,13,doggo
292,828381636999917570,2017-02-05 23:15:47,Meet Doobert. He's a deaf doggo. Didn't stop h...,14,10,Doobert,14,doggo
303,826958653328592898,2017-02-02 01:01:21,This is Loki. He smiles like Elvis. Ain't noth...,12,10,Loki,12,doggo
304,826848821049180160,2017-02-01 17:44:55,This is Cupid. He was found in the trash. Now ...,13,10,Cupid,13,doggo
306,826476773533745153,2017-01-31 17:06:32,This is Pilot. He has mastered the synchronize...,12,10,Pilot,12,doggo
308,826204788643753985,2017-01-30 23:05:46,"Here's a little more info on Dew, your favorit...",13,10,None,13,doggo
332,821765923262631936,2017-01-18 17:07:18,This is Duchess. She uses dark doggo forces to...,13,10,Duchess,13,doggo
334,821407182352777218,2017-01-17 17:21:47,This is Sundance. He's a doggo drummer. Even s...,14,10,Sundance,14,doggo
336,821107785811234820,2017-01-16 21:32:06,Here's a doggo who looks like he's about to gi...,11,10,None,11,doggo
343,819924195358416896,2017-01-13 15:08:56,Here we have a doggo who has messed up. He was...,11,10,None,11,doggo
...,...,...,...,...,...,...,...,...
643,768193404517830656,2016-08-23 21:09:14,Meet Gerald. He's a fairly exotic doggo. Floof...,8,10,Gerald,8,doggo
647,767191397493538821,2016-08-21 02:47:37,I don't know any of the backstory behind this ...,13,10,None,13,doggo
678,760893934457552897,2016-08-03 17:43:45,This is Wishes. He has the day off. Daily stru...,11,10,Wishes,11,doggo
682,760521673607086080,2016-08-02 17:04:31,Doggo want what doggo cannot have. Temptation ...,12,10,None,12,doggo
689,759793422261743616,2016-07-31 16:50:42,"Meet Maggie &amp; Lila. Maggie is the doggo, L...",12,10,Maggie,12,doggo
697,758828659922702336,2016-07-29 00:57:05,This doggo is just waiting for someone to be p...,13,10,None,13,doggo
710,757393109802180609,2016-07-25 01:52:43,Here's a doggo completely oblivious to the dou...,10,10,None,10,doggo
715,756526248105566208,2016-07-22 16:28:07,All hail sky doggo. 13/10 would jump super hig...,13,10,None,13,doggo
720,755206590534418437,2016-07-19 01:04:16,This is one of the most inspirational stories ...,14,10,one,14,doggo
737,752682090207055872,2016-07-12 01:52:49,Nothing better than a doggo and a sunset. 10/1...,10,10,None,10,doggo
738,752660715232722944,2016-07-12 00:27:52,Hooman used Pokeball\n*wiggle*\n*wiggle*\nDogg...,10,10,None,10,doggo
741,752334515931054080,2016-07-11 02:51:40,Here's a doggo trying to catch some fish. 8/10...,8,10,None,8,doggo
748,751583847268179968,2016-07-09 01:08:47,Please stop sending it pictures that don't eve...,5,10,None,5,doggo
768,750011400160841729,2016-07-04 17:00:26,Meet Piper. She's an airport doggo. Please ret...,11,10,Piper,11,doggo
776,749075273010798592,2016-07-02 03:00:36,This is Boomer. He's self-baptizing. Other dog...,11,10,Boomer,11,doggo
780,748932637671223296,2016-07-01 17:33:49,Say hello to Divine Doggo. Must be magical af....,13,10,Divine,13,doggo
783,748692773788876800,2016-07-01 01:40:41,That is Quizno. This is his beach. He does not...,10,10,his,10,doggo
816,745433870967832576,2016-06-22 01:50:58,This is Lenox. She's in a wheelbarrow. Silly d...,10,10,Lenox,10,doggo
825,744234799360020481,2016-06-18 18:26:18,Here's a doggo realizing you can stand in a po...,13,10,None,13,doggo
836,742534281772302336,2016-06-14 01:49:03,"For anyone who's wondering, this is what happe...",11,10,None,11,doggo
848,741067306818797568,2016-06-10 00:39:48,This is just downright precious af. 12/10 for ...,12,10,just,12,doggo
860,739623569819336705,2016-06-06 01:02:55,Here's a doggo that don't need no human. 12/10...,12,10,None,12,doggo
864,739238157791694849,2016-06-04 23:31:25,Here's a doggo blowing bubbles. It's downright...,13,10,None,13,doggo
887,735256018284875776,2016-05-24 23:47:49,This is Kellogg. He accidentally opened the fr...,8,10,Kellogg,8,doggo
897,733109485275860992,2016-05-19 01:38:16,"Like father (doggo), like son (pupper). Both 1...",12,10,None,12,doggo
901,732375214819057664,2016-05-17 01:00:32,This is Kyle (pronounced 'Mitch'). He strives ...,11,10,Kyle,11,doggo
924,727644517743104000,2016-05-03 23:42:26,Here's a doggo struggling to cope with the win...,13,10,None,13,doggo
939,724771698126512129,2016-04-26 01:26:53,Nothin better than a doggo and a sunset. 11/10...,11,10,None,11,doggo
959,719991154352222208,2016-04-12 20:50:42,This doggo was initially thrilled when she saw...,10,10,None,10,doggo
987,716080869887381504,2016-04-02 01:52:38,Here's a super majestic doggo and a sunset 11/...,11,10,None,11,doggo

### breed_clean - quality

#### Define: This is an aferthought: drop px rows since we won't use them and we captured the best guess in column 'breed'

#### Code:

In [210]:
breed_clean.drop(columns=['p1','p1_conf','p1_dog','p2','p2_conf','p2_dog','p3','p3_conf','p3_dog'],inplace=True)
breed_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1752 entries, 0 to 1751
Data columns (total 4 columns):
tweet_id    1752 non-null object
jpg_url     1752 non-null object
img_num     1752 non-null int64
breed       1752 non-null object
dtypes: int64(1), object(3)
memory usage: 54.8+ KB

### Overall Tidiness: Combine into one dataframe and save.

#### Define
I will merge these dataframes on tweet_id to get one big dataset where each row is a dog rates tweet and has the best breed prediction, retweets, and favorite counts, as well as other data.

#### Code

In [211]:
len(wrd_clean)

2097

In [212]:
len(breed_clean)

1752

In [213]:
len(counts_clean)

2172

I'll left join on breed_clean since it has the fewest rows.

In [214]:
wrd_merge = pd.merge(breed_clean,wrd_clean,on='tweet_id',how='left')

In [215]:
wrd_merge = pd.merge(wrd_merge,counts_clean,on='tweet_id',how='left')
wrd_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1752 entries, 0 to 1751
Data columns (total 14 columns):
tweet_id              1752 non-null object
jpg_url               1752 non-null object
img_num               1752 non-null int64
breed                 1752 non-null object
timestamp             1667 non-null datetime64[ns]
text                  1667 non-null object
rating_numerator      1667 non-null float64
rating_denominator    1667 non-null float64
name                  1267 non-null object
rating10              1667 non-null float64
type                  257 non-null object
favorite_count        1685 non-null float64
retweet_count         1685 non-null float64
url                   1685 non-null object
dtypes: datetime64[ns](1), float64(5), int64(1), object(7)
memory usage: 205.3+ KB

In [216]:
wrd_merge.to_csv('twitter_archive_master.csv',index=False)

The dataset is complete. Now for a little analysis!!!

<a id="analysis"></a>
## Analysis

First I'm going to look at favorite counts vs rating to see if ratings reflect the judgement of the public

In [2]:
%%html 
<div class='tableauPlaceholder' id='viz1549858722999' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ud&#47;UdacityWRDLikesandRetweets&#47;Story3&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='UdacityWRDLikesandRetweets&#47;Story3' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ud&#47;UdacityWRDLikesandRetweets&#47;Story3&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1549858722999');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1016px';vizElement.style.height='991px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

The above Tableau code doesn't seem to create the visualization when reviewers open it, so I'll insert images as well. I want to keep the tableau code so the visualizations can be interactive.

<img src="Story 3.png">

Now I want to see what the most popular and highest rated dog breeds are. For that I need to normalize by number of times the breed is in the dataset.

This means adding a column to the dataset: norm_favorite. I'll just do simple division.

In [218]:
breed_counts = wrd_merge.groupby( ['breed'] ).count().reset_index()
breed_counts.head()

,breed,tweet_id,jpg_url,img_num,timestamp,text,rating_numerator,rating_denominator,name,rating10,type,favorite_count,retweet_count,url
0,Afghan_hound,4,4,4,3,3,3,3,3,3,0,3,3,3
1,Airedale,12,12,12,12,12,12,12,9,12,1,12,12,12
2,American_Staffordshire_terrier,16,16,16,16,16,16,16,11,16,3,16,16,16
3,Appenzeller,2,2,2,2,2,2,2,1,2,0,2,2,2
4,Australian_terrier,2,2,2,2,2,2,2,2,2,0,2,2,2

In [219]:
breed_counts[breed_counts.breed == 'Airedale'].tweet_id.values[0]

12

In [220]:
wrd_merge[wrd_merge.tweet_id == '666020888022790149']

,tweet_id,jpg_url,img_num,breed,timestamp,text,rating_numerator,rating_denominator,name,rating10,type,favorite_count,retweet_count,url
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,2015-11-15 22:32:08,Here we have a Japanese Irish Setter. Lost eye...,8.0,10.0,None,8.0,NaN,2532.0,498.0,https://twitter.com/dog_rates/status/666020888...

In [221]:
norm_dict = {}
for tid in wrd_merge.tweet_id:
    breed = wrd_merge[wrd_merge.tweet_id == tid].breed.values[0]
    nbreed = breed_counts[breed_counts.breed == breed].tweet_id.values[0]
    norm_dict[tid] = nbreed
norm_dict

{'666020888022790149': 4,
 '666029285002620928': 6,
 '666033412701032449': 21,
 '666044226329800704': 4,
 '666049248165822465': 26,
 '666050758794694657': 11,
 '666055525042405380': 51,
 '666057090499244032': 173,
 '666058600524156928': 8,
 '666063827256086533': 173,
 '666071193221509120': 4,
 '666073100786774016': 5,
 '666082916733198337': 65,
 '666094000022159362': 7,
 '666099513787052032': 5,
 '666102155909144576': 9,
 '666273097616637952': 17,
 '666287406224695296': 19,
 '666337882303524864': 7,
 '666345417576210432': 173,
 '666353288456101888': 34,
 '666373753744588802': 15,
 '666396247373291520': 95,
 '666407126856765440': 2,
 '666418789513326592': 3,
 '666421158376562688': 11,
 '666428276349472768': 96,
 '666430724426358785': 7,
 '666435652385423360': 31,
 '666437273139982337': 95,
 '666447344410484738': 3,
 '666454714377183233': 13,
 '666644823164719104': 5,
 '666649482315059201': 12,
 '666691418707132416': 21,
 '666701168228331520': 113,
 '666739327293083650': 8,
 '666776908487630848': 26,
 '666781792255496192': 17,
 '666804364988780544': 9,
 '666817836334096384': 5,
 '666826780179869698': 19,
 '666835007768551424': 12,
 '666983947667116034': 1,
 '666996132027977728': 19,
 '667044094246576128': 173,
 '667062181243039745': 31,
 '667073648344346624': 95,
 '667090893657276420': 95,
 '667119796878725120': 96,
 '667138269671505920': 16,
 '667152164079423490': 52,
 '667160273090932737': 173,
 '667165590075940865': 26,
 '667171260800061440': 4,
 '667174963120574464': 52,
 '667176164155375616': 15,
 '667177989038297088': 14,
 '667182792070062081': 173,
 '667192066997374976': 19,
 '667200525029539841': 20,
 '667211855547486208': 173,
 '667393430834667520': 8,
 '667405339315146752': 8,
 '667435689202614272': 19,
 '667453023279554560': 113,
 '667455448082227200': 4,
 '667470559035432960': 52,
 '667491009379606528': 11,
 '667495797102141441': 95,
 '667502640335572993': 113,
 '667509364010450944': 21,
 '667517642048163840': 17,
 '667524857454854144': 31,
 '667530908589760512': 173,
 '667534815156183040': 96,
 '667538891197542400': 10,
 '667544320556335104': 42,
 '667546741521195010': 52,
 '667550904950915073': 14,
 '667728196545200128': 19,
 '667773195014021121': 16,
 '667793409583771648': 13,
 '667801013445750784': 8,
 '667806454573760512': 95,
 '667832474953625600': 26,
 '667861340749471744': 34,
 '667878741721415682': 26,
 '667885044254572545': 34,
 '667886921285246976': 42,
 '667902449697558528': 12,
 '667915453470232577': 11,
 '667924896115245057': 113,
 '668113020489474048': 96,
 '668171859951755264': 95,
 '668190681446379520': 11,
 '668204964695683073': 113,
 '668221241640230912': 51,
 '668237644992782336': 51,
 '668248472370458624': 95,
 '668256321989451776': 96,
 '668268907921326080': 96,
 '668274247790391296': 15,
 '668286279830867968': 173,
 '668297328638447616': 22,
 '668480044826800133': 113,
 '668484198282485761': 12,
 '668496999348633600': 22,
 '668507509523615744': 9,
 '668528771708952576': 113,
 '668537837512433665': 19,
 '668542336805281792': 16,
 '668567822092664832': 20,
 '668623201287675904': 95,
 '668625577880875008': 2,
 '668627278264475648': 32,
 '668631377374486528': 5,
 '668633411083464705': 14,
 '668636665813057536': 3,
 '668641109086707712': 65,
 '668655139528511488': 21,
 '668779399630725120': 31,
 '668815180734689280': 6,
 '668826086256599040': 11,
 '668852170888998912': 173,
 '668872652652679168': 5,
 '668892474547511297': 13,
 '668902994700836864': 8,
 '668932921458302977': 12,
 '668955713004314625': 34,
 '668960084974809088': 31,
 '668975677807423489': 17,
 '668979806671884288': 173,
 '668986018524233728': 95,
 '668989615043424256': 65,
 '668994913074286592': 11,
 '669000397445533696': 96,
 '669006782128353280': 95,
 '669037058363662336': 95,
 '669203728096960512': 65,
 '669216679721873412': 173,
 '669324657376567296': 23,
 '669327207240699904': 173,
 '669328503091937280': 20,
 '669353438988365824': 96,
 '669354382627049472': 95,
 '669359674819481600': 113,
 '669363888236994561': 173,
 '669367896104181761': 17,
 '669371483794317312': 3,
 '669375718304980992': 12,
 '669393256313184256': 34,
 '669564461267722241': 52,
 '669567591774625800': 95,
 '669573570759163904': 16,
 '669597912108789760': 22,
 '669603084620980224': 19,
 '669625907762618368': 173,
 '669680153564442624': 13,
 '669683899023405056': 42,
 '669753178989142016': 96,
 '669926384437997569': 42,
 '669942763794931712': 14,
 '669970042633789440': 26,
 '669993076832759809': 52,
 '670003130994700288': 21,
 '670040295598354432': 11,
 '670046952931721218': 11,
 '670061506722140161': 17,
 '670073503555706880': 34,
 '670086499208155136': 8,
 '670093938074779648': 52,
 '670290420111441920': 95,
 '670303360680108032': 19,
 '670319130621435904': 7,
 '670338931251150849': 3,
 '670374371102445568': 11,
 '670385711116361728': 11,
 '670403879788544000': 65,
 '670411370698022913': 19,
 '670421925039075328': 95,
 '670427002554466305': 3,
 '670428280563085312': 51,
 '670433248821026816': 4,
 '670434127938719744': 31,
 '670435821946826752': 9,
 '670442337873600512': 2,
 '670444955656130560': 11,
 '670452855871037440': 34,
 '670676092097810432': 7,
 '670679630144274432': 5,
 '670691627984359425': 19,
 '670704688707301377': 5,
 '670717338665226240': 42,
 '670755717859713024': 4,
 '670764103623966721': 7,
 '670778058496974848': 65,
 '670780561024270336': 113,
 '670782429121134593': 95,
 '670786190031921152': 96,
 '670789397210615808': 21,
 '670792680469889025': 52,
 '670797304698376195': 96,
 '670803562457407488': 9,
 '670804601705242624': 42,
 '670807719151067136': 15,
 '670811965569282048': 17,
 '670815497391357952': 16,
 '670822709593571328': 95,
 '670823764196741120': 113,
 '670832455012716544': 11,
 '670833812859932673': 14,
 '670840546554966016': 20,
 '670995969505435648': 6,
 '671109016219725825': 9,
 '671115716440031232': 11,
 '671122204919246848': 95,
 '671134062904504320': 20,
 '671138694582165504': 46,
 '671141549288370177': 11,
 '671147085991960577': 10,
 '671151324042559489': 19,
 '671154572044468225': 113,
 '671163268581498880': 4,
 '671182547775299584': 19,
 '671186162933985280': 95,
 '671355857343524864': 8,
 '671357843010908160': 17,
 '671485057807351808': 46,
 '671486386088865792': 21,
 '671504605491109889': 52,
 '671518598289059840': 19,
 '671520732782923777': 42,
 '671528761649688577': 9,
 '671536543010570240': 65,
 '671542985629241344': 19,
 '671561002136281088': 4,
 '671729906628341761': 19,
 '671735591348891648': 1,
 '671743150407421952': 52,
 '671768281401958400': 95,
 '671789708968640512': 13,
 '671866342182637568': 113,
 '671891728106971137': 113,
 '671896809300709376': 51,
 '672068090318987265': 65,
 '672082170312290304': 52,
 '672095186491711488': 65,
 '672125275208069120': 173,
 '672139350159835138': 19,
 '672160042234327040': 65,
 '672169685991993344': 34,
 '672205392827572224': 65,
 '672222792075620352': 21,
 '672239279297454080': 65,
 '672245253877968896': 95,
 '672248013293752320': 7,
 '672254177670729728': 65,
 '672264251789176834': 95,
 '672267570918129665': 7,
 '672272411274932228': 65,
 '672466075045466113': 34,
 '672481316919734272': 12,
 '672482722825261057': 16,
 '672488522314567680': 9,
 '672523490734551040': 173,
 '672538107540070400': 95,
 '672591762242805761': 19,
 '672594978741354496': 15,
 '672604026190569472': 52,
 '672622327801233409': 173,
 '672640509974827008': 31,
 '672834301050937345': 96,
 '672877615439593473': 95,
 '672964561327235073': 95,
 '672968025906282496': 52,
 '672975131468300288': 65,
 '672980819271634944': 17,
 '672988786805112832': 19,
 '672995267319328768': 32,
 '672997845381865473': 51,
 '673213039743795200': 15,
 '673240798075449344': 12,
 '673270968295534593': 20,
 '673295268553605120': 173,
 '673317986296586240': 26,
 '673320132811366400': 46,
 '673342308415348736': 95,
 '673343217010679808': 95,
 '673345638550134785': 42,
 '673350198937153538': 16,
 '673352124999274496': 173,
 '673355879178194945': 19,
 '673359818736984064': 9,
 '673580926094458881': 21,
 '673583129559498752': 173,
 '673612854080196609': 7,
 '673636718965334016': 65,
 '673656262056419329': 5,
 '673662677122719744': 113,
 '673680198160809984': 46,
 '673686845050527744': 14,
 '673688752737402881': 15,
 '673689733134946305': 31,
 '673705679337693185': 20,
 '673707060090052608': 8,
 '673708611235921920': 173,
 '673709992831262724': 95,
 '673711475735838725': 19,
 '673887867907739649': 3,
 '673906403526995968': 15,
 '673919437611909120': 15,
 '673956914389192708': 65,
 '674014384960745472': 96,
 '674019345211760640': 11,
 '674024893172875264': 42,
 '674036086168010753': 52,
 '674038233588723717': 22,
 '674042553264685056': 52,
 '674051556661161984': 20,
 '674053186244734976': 23,
 '674075285688614912': 12,
 '674082852460433408': 42,
 '674255168825880576': 22,
 '674262580978937856': 3,
 '674269164442398721': 65,
 '674271431610523648': 21,
 '674291837063053312': 23,
 '674394782723014656': 19,
 '674410619106390016': 21,
 '674416750885273600': 95,
 '674422304705744896': 173,
 '674436901579923456': 20,
 '674447403907457024': 3,
 '674468880899788800': 51,
 '674638615994089473': 42,
 '674644256330530816': 17,
 '674646392044941312': 8,
 '674670581682434048': 34,
 '674737130913071104': 42,
 '674739953134403584': 7,
 '674743008475090944': 11,
 '674752233200820224': 14,
 '674764817387900928': 46,
 '674774481756377088': 95,
 '674788554665512960': 8,
 '674790488185167872': 113,
 '674793399141146624': 4,
 '674800520222154752': 96,
 '674805413498527744': 11,
 '674999807681908736': 19,
 '675003128568291329': 96,
 '675006312288268288': 11,
 '675015141583413248': 173,
 '675047298674663426': 46,
 '675109292475830276': 13,
 '675111688094527488': 113,
 '675145476954566656': 113,
 '675146535592706048': 23,
 '675147105808306176': 173,
 '675149409102012420': 51,
 '675166823650848770': 12,
 '675334060156301312': 96,
 '675349384339542016': 11,
 '675354435921575936': 173,
 '675362609739206656': 113,
 '675372240448454658': 95,
 '675432746517426176': 113,
 '675489971617296384': 16,
 '675497103322386432': 14,
 '675517828909424640': 4,
 '675522403582218240': 34,
 '675531475945709568': 96,
 '675534494439489536': 51,
 '675706639471788032': 11,
 '675707330206547968': 22,
 '675710890956750848': 1,
 '675740360753160193': 173,
 '675781562965868544': 19,
 '675798442703122432': 21,
 '675820929667219457': 17,
 '675822767435051008': 42,
 '675845657354215424': 65,
 '675853064436391936': 113,
 '675870721063669760': 173,
 '675878199931371520': 23,
 '675888385639251968': 16,
 '675891555769696257': 17,
 '675898130735476737': 113,
 '676089483918516224': 5,
 '676101918813499392': 20,
 '676146341966438401': 3,
 '676191832485810177': 95,
 '676219687039057920': 11,
 '676237365392908289': 32,
 '676263575653122048': 52,
 '676430933382295552': 173,
 '676440007570247681': 19,
 '676470639084101634': 173,
 '676496375194980353': 65,
 '676533798876651520': 51,
 '676575501977128964': 10,
 '676582956622721024': 12,
 '676588346097852417': 12,
 '676603393314578432': 11,
 '676606785097199616': 11,
 '676613908052996102': 9,
 '676617503762681856': 95,
 '676811746707918848': 95,
 '676819651066732545': 113,
 '676821958043033607': 15,
 '676864501615042560': 31,
 '676936541936185344': 31,
 '676946864479084545': 14,
 '676949632774234114': 4,
 '676957860086095872': 113,
 '676975532580409345': 34,
 '677187300187611136': 9,
 '677269281705472000': 19,
 '677301033169788928': 1,
 '677314812125323265': 11,
 '677328882937298944': 13,
 '677331501395156992': 21,
 '677334615166730240': 19,
 '677530072887205888': 22,
 '677547928504967168': 16,
 '677557565589463040': 20,
 '677565715327688705': 17,
 '677644091929329666': 95,
 '677673981332312066': 19,
 '677687604918272002': 96,
 '677698403548192770': 20,
 '677700003327029250': 20,
 '677716515794329600': 51,
 '677895101218201600': 13,
 '677918531514703872': 22,
 '678021115718029313': 26,
 '678255464182861824': 95,
 '678278586130948096': 19,
 '678334497360859136': 7,
 '678341075375947776': 173,
 '678380236862578688': 46,
 '678389028614488064': 26,
 '678396796259975168': 96,
 '678399652199309312': 6,
 '678410210315247616': 15,
 '678424312106393600': 19,
 '678446151570427904': 22,
 '678643457146150913': 113,
 '678740035362037760': 21,
 '678755239630127104': 34,
 '678764513869611008': 7,
 '678774928607469569': 96,
 '678798276842360832': 12,
 '678800283649069056': 113,
 '678969228704284672': 113,
 '678991772295516161': 22,
 '679047485189439488': 173,
 '679062614270468097': 15,
 '679111216690831360': 13,
 '679132435750195208': 4,
 '679148763231985668': 17,
 '679158373988876288': 65,
 '679462823135686656': 52,
 '679475951516934144': 19,
 '679511351870550016': 95,
 '679530280114372609': 13,
 '679722016581222400': 11,
 '679729593985699840': 16,
 '679736210798047232': 32,
 '679777920601223168': 7,
 '679828447187857408': 95,
 '679844490799091713': 12,
 '679854723806179328': 51,
 '679862121895714818': 1,
 '680055455951884288': 46,
 '680070545539371008': 20,
 '680100725817409536': 173,
 '680115823365742593': 65,
 '680130881361686529': 19,
 '680145970311643136': 8,
 '680161097740095489': 4,
 '680191257256136705': 8,
 '680473011644985345': 19,
 '680494726643068929': 19,
 '680497766108381184': 95,
 '680609293079592961': 32,
 '680801747103793152': 65,
 '680836378243002368': 96,
 '680889648562991104': 19,
 '680913438424612864': 42,
 '680934982542561280': 113,
 '680940246314430465': 15,
 '680959110691590145': 65,
 '680970795137544192': 65,
 '681193455364796417': 42,
 '681231109724700672': 6,
 '681261549936340994': 4,
 '681281657291280384': 8,
 '681297372102656000': 5,
 '681320187870711809': 46,
 '681339448655802368': 113,
 '681523177663676416': 7,
 '681579835668455424': 19,
 '681610798867845120': 52,
 '681654059175129088': 42,
 '681694085539872773': 52,
 '681891461017812993': 95,
 '681981167097122816': 113,
 '682032003584274432': 15,
 '682259524040966145': 20,
 '682303737705140231': 19,
 '682389078323662849': 3,
 '682393905736888321': 14,
 '682429480204398592': 11,
 '682638830361513985': 11,
 '682662431982772225': 21,
 '682750546109968385': 9,
 '682962037429899265': 95,
 '683030066213818368': 11,
 '683078886620553216': 22,
 '683098815881154561': 173,
 '683111407806746624': 34,
 '683142553609318400': 3,
 '683357973142474752': 96,
 '683391852557561860': 32,
 '683449695444799489': 19,
 '683462770029932544': 17,
 '683481228088049664': 4,
 '683498322573824003': 12,
 '683742671509258241': 96,
 '683773439333797890': 26,
 '683828599284170753': 34,
 '683834909291606017': 19,
 '683849932751646720': 7,
 '683852578183077888': 52,
 '683857920510050305': 4,
 '684097758874210310': 113,
 '684177701129875456': 51,
 '684188786104872960': 13,
 '684195085588783105': 95,
 '684222868335505415': 15,
 '684225744407494656': 173,
 '684241637099323392': 96,
 '684460069371654144': 113,
 '684481074559381504': 95,
 '684538444857667585': 95,
 '684594889858887680': 4,
 '684800227459624960': 5,
 '684902183876321280': 96,
 '684914660081053696': 51,
 '684926975086034944': 113,
 '684940049151070208': 12,
 '685169283572338688': 11,
 '685198997565345792': 15,
 '685268753634967552': 65,
 '685307451701334016': 42,
 '685315239903100929': 51,
 '685321586178670592': 12,
 '685325112850124800': 173,
 '685532292383666176': 11,
 '685641971164143616': 19,
 '685663452032069632': 31,
 '685906723014619143': 10,
 '685943807276412928': 8,
 '685973236358713344': 20,
 '686007916130873345': 4,
 '686034024800862208': 11,
 '686050296934563840': 42,
 '686358356425093120': 65,
 '686377065986265092': 21,
 '686386521809772549': 10,
 '686606069955735556': 113,
 '686618349602762752': 19,
 '686683045143953408': 5,
 '686730991906516992': 5,
 '687096057537363968': 113,
 '687109925361856513': 11,
 '687124485711986689': 21,
 '687127927494963200': 65,
 '687312378585812992': 11,
 '687317306314240000': 20,
 '687460506001633280': 12,
 '687480748861947905': 11,
 '687494652870668288': 19,
 '687664829264453632': 65,
 '687704180304273409': 26,
 '687807801670897665': 22,
 '687818504314159109': 19,
 '687826841265172480': 42,
 '688064179421470721': 22,
 '688116655151435777': 65,
 '688385280030670848': 173,
 '688519176466644993': 96,
 '688547210804498433': 8,
 '688789766343622656': 16,
 '688804835492233216': 11,
 '688828561667567616': 23,
 '688898160958271489': 5,
 '688916208532455424': 96,
 '689143371370250240': 11,
 '689154315265683456': 34,
 '689275259254616065': 16,
 '689280876073582592': 95,
 '689283819090870273': 1,
 '689517482558820352': 96,
 '689557536375177216': 22,
 '689599056876867584': 34,
 '689623661272240129': 52,
 '689661964914655233': 17,
 '689835978131935233': 11,
 '689877686181715968': 15,
 '689905486972461056': 42,
 '689977555533848577': 113,
 '689999384604450816': 12,
 '690005060500217858': 46,
 '690015576308211712': 34,
 '690021994562220032': 34,
 '690360449368465409': 65,
 '690374419777196032': 19,
 '690400367696297985': 96,
 '690597161306841088': 5,
 '690649993829576704': 7,
 '690690673629138944': 19,
 '690728923253055490': 19,
 '690735892932222976': 173,
 '690959652130045952': 173,
 '691096613310316544': 11,
 '691321916024623104': 19,
 '691416866452082688': 19,
 '691444869282295808': 11,
 '691459709405118465': 19,
 '691483041324204033': 7,
 '691675652215414786': 95,
 '691756958957883396': 8,
 '692017291282812928': 4,
 '692142790915014657': 52,
 '692158366030913536': 65,
 '692187005137076224': 20,
 '692530551048294401': 20,
 '692535307825213440': 65,
 '692568918515392513': 173,
 '692752401762250755': 46,
 '692828166163931137': 46,
 '692894228850999298': 8,
 '692901601640583168': 15,
 '692905862751522816': 7,
 '692919143163629568': 8,
 '693095443459342336': 10,
 '693109034023534592': 34,
 '693155686491000832': 20,
 '693231807727280129': 14,
 '693262851218264065': 173,
 '693280720173801472': 113,
 '693622659251335168': 34,
 '693629975228977152': 65,
 '693642232151285760': 4,
 '693942351086120961': 2,
 '694001791655137281': 96,
 '694183373896572928': 14,
 '694206574471057408': 20,
 '694329668942569472': 11,
 '694352839993344000': 2,
 '694356675654983680': 42,
 '695051054296211456': 12,
 '695074328191332352': 20,
 '695095422348574720': 8,
 '695314793360662529': 19,
 '695409464418041856': 65,
 '695446424020918272': 9,
 '695629776980148225': 15,
 '695767669421768709': 15,
 '695794761660297217': 46,
 '695816827381944320': 42,
 '696405997980676096': 11,
 '696488710901260288': 3,
 '696713835009417216': 31,
 '696754882863349760': 52,
 '696886256886657024': 19,
 '696894894812565505': 2,
 '696900204696625153': 95,
 '697242256848379904': 22,
 '697255105972801536': 11,
 '697259378236399616': 11,
 '697270446429966336': 52,
 '697463031882764288': 113,
 '697575480820686848': 11,
 '697596423848730625': 19,
 '697616773278015490': 5,
 '697943111201378304': 11,
 '697990423684476929': 96,
 '697995514407682048': 22,
 '698178924120031232': 31,
 '698195409219559425': 113,
 '698262614669991936': 17,
 '698342080612007937': 11,
 '698355670425473025': 65,
 '698549713696649216': 32,
 '698635131305795584': 46,
 '698703483621523456': 8,
 '698710712454139905': 46,
 '698907974262222848': 8,
 '698953797952008193': 17,
 '698989035503689728': 7,
 '699036661657767936': 95,
 '699072405256409088': 20,
 '699079609774645248': 15,
 '699323444782047232': 113,
 '699370870310113280': 3,
 '699413908797464576': 46,
 '699423671849451520': 65,
 '699434518667751424': 173,
 '699446877801091073': 96,
 '699775878809702401': 7,
 '699779630832685056': 11,
 '699788877217865730': 7,
 '699801817392291840': 173,
 '700002074055016451': 95,
 '700029284593901568': 16,
 '700143752053182464': 173,
 '700151421916807169': 17,
 '700167517596164096': 21,
 '700462010979500032': 42,
 '700505138482569216': 12,
 '700518061187723268': 16,
 '700747788515020802': 15,
 '700847567345688576': 4,
 '700864154249383937': 19,
 '700890391244103680': 15,
 '701214700881756160': 95,
 '701545186879471618': 12,
 '701570477911896070': 10,
 '701601587219795968': 95,
 '701889187134500865': 32,
 '701952816642965504': 52,
 '701981390485725185': 42,
 '702217446468493312': 173,
 '702276748847800320': 12,
 '702321140488925184': 16,
 '702539513671897089': 42,
 '702598099714314240': 13,
 '702671118226825216': 7,

Now add a the breed_count and normalized favorites to my dataset

In [222]:
norm_df = pd.DataFrame(list(norm_dict.items()),columns=['tweet_id','breed_count'])

In [223]:
norm_df.head()

             tweet_id  breed_count
0  666020888022790149            4
1  666029285002620928            6
2  666033412701032449           21
3  666044226329800704            4
4  666049248165822465           26

In [224]:
wrd_merge = pd.merge(wrd_merge,norm_df,on='tweet_id',how='left')
wrd_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1752 entries, 0 to 1751
Data columns (total 15 columns):
tweet_id              1752 non-null object
jpg_url               1752 non-null object
img_num               1752 non-null int64
breed                 1752 non-null object
timestamp             1667 non-null datetime64[ns]
text                  1667 non-null object
rating_numerator      1667 non-null float64
rating_denominator    1667 non-null float64
name                  1267 non-null object
rating10              1667 non-null float64
type                  257 non-null object
favorite_count        1685 non-null float64
retweet_count         1685 non-null float64
url                   1685 non-null object
breed_count           1752 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(2), object(7)
memory usage: 219.0+ KB

In [225]:
wrd_merge['normalized_fav'] = wrd_merge.favorite_count/wrd_merge.breed_count

In [226]:
wrd_merge.normalized_fav

0        633.000000
1         20.833333
2          5.857143
3         73.250000
4          4.076923
5         11.818182
6          8.411765
7          1.676301
8         13.625000
9          2.693642
10        35.750000
11        63.000000
12         1.753846
13        23.142857
14        30.200000
15         8.666667
16        10.058824
17         7.578947
18        27.285714
19         1.653179
20         6.323529
21        12.133333
22         1.705263
23        52.500000
24        40.666667
25        28.454545
26         1.697917
27        44.285714
28         5.258065
29         1.294737
           ...
1722     542.230769
1723    2907.454545
1724     421.969231
1725     648.937500
1726     622.052632
1727     362.452632
1728     651.260870
1729    4714.000000
1730     704.156250
1731    1739.235294
1732     666.093750
1733            NaN
1734     971.050000
1735     144.815029
1736     164.919075
1737    2249.000000
1738      85.601156
1739     831.343750
1740     491.104167
1741     851.500000
1742     653.043478
1743     325.718750
1744    3892.714286
1745    1524.476190
1746    5799.500000
1747     639.967742
1748    2322.588235
1749     365.424779
1750     258.305263
1751     343.084211
Name: normalized_fav, Length: 1752, dtype: float64

In [227]:
wrd_merge.to_csv('twitter_archive_master.csv', index=False)

In [3]:
%%html
<div class='tableauPlaceholder' id='viz1549842926324' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ud&#47;UdacityWRDBestBreeds&#47;Story1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='UdacityWRDBestBreeds&#47;Story1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ud&#47;UdacityWRDBestBreeds&#47;Story1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1549842926324');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1016px';vizElement.style.height='991px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

And the image for the above Tableau html that doesn't load for reviewers:

<img src="Story 1.png">

In [4]:
%%html
<div class='tableauPlaceholder' id='viz1549857350556' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ud&#47;UdacityWRDRatingsOverTime&#47;Story2&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='UdacityWRDRatingsOverTime&#47;Story2' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ud&#47;UdacityWRDRatingsOverTime&#47;Story2&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1549857350556');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1016px';vizElement.style.height='991px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

And the last visualization image from the Tableau story code above:

<img src="Story 2.png">

In [230]:
wrd_merge[wrd_merge.breed == 'Brabancon_griffon'].url.values

array(['https://twitter.com/dog_rates/status/669371483794317312/photo/1',
       'https://twitter.com/dog_rates/status/673887867907739649/photo/1',
       'https://twitter.com/dog_rates/status/674447403907457024/photo/1'],
      dtype=object)

Totally underrated. This dataset is an outrage! No pitbulls at all, either!

In [231]:
wrd_merge[wrd_merge.breed == 'pitbull']

Empty DataFrame
Columns: [tweet_id, jpg_url, img_num, breed, timestamp, text, rating_numerator, rating_denominator, name, rating10, type, favorite_count, retweet_count, url, breed_count, normalized_fav]
Index: []

In [232]:
wrd_merge[wrd_merge['rating10'] == 14].count()

tweet_id              22
jpg_url               22
img_num               22
breed                 22
timestamp             22
text                  22
rating_numerator      22
rating_denominator    22
name                  15
rating10              22
type                  10
favorite_count        22
retweet_count         22
url                   22
breed_count           22
normalized_fav        22
dtype: int64

In [233]:
wrd_merge[wrd_merge['rating10'] == 13].count()

tweet_id              221
jpg_url               221
img_num               221
breed                 221
timestamp             221
text                  221
rating_numerator      221
rating_denominator    221
name                  163
rating10              221
type                   42
favorite_count        221
retweet_count         221
url                   221
breed_count           221
normalized_fav        221
dtype: int64

In [234]:
wrd_merge.groupby('breed').count()['tweet_id'].max()

173

In [235]:
wrd_grouped = wrd_merge.groupby('breed').count()

In [236]:
wrd_grouped[wrd_grouped.tweet_id == 173]

,tweet_id,jpg_url,img_num,timestamp,text,rating_numerator,rating_denominator,name,rating10,type,favorite_count,retweet_count,url,breed_count,normalized_fav
breed,,,,,,,,,,,,,,,
golden_retriever,173,173,173,156,156,156,156,111,156,34,158,158,158,173,158

In [237]:
wrd_grouped

,tweet_id,jpg_url,img_num,timestamp,text,rating_numerator,rating_denominator,name,rating10,type,favorite_count,retweet_count,url,breed_count,normalized_fav
breed,,,,,,,,,,,,,,,
Afghan_hound,4,4,4,3,3,3,3,3,3,0,3,3,3,4,3
Airedale,12,12,12,12,12,12,12,9,12,1,12,12,12,12,12
American_Staffordshire_terrier,16,16,16,16,16,16,16,11,16,3,16,16,16,16,16
Appenzeller,2,2,2,2,2,2,2,1,2,0,2,2,2,2,2
Australian_terrier,2,2,2,2,2,2,2,2,2,0,2,2,2,2,2
Bedlington_terrier,6,6,6,6,6,6,6,3,6,2,6,6,6,6,6
Bernese_mountain_dog,11,11,11,11,11,11,11,11,11,2,11,11,11,11,11
Blenheim_spaniel,11,11,11,10,10,10,10,9,10,2,10,10,10,11,10
Border_collie,12,12,12,12,12,12,12,10,12,4,12,12,12,12,12
Border_terrier,7,7,7,7,7,7,7,6,7,0,7,7,7,7,7
Boston_bull,12,12,12,12,12,12,12,10,12,1,12,12,12,12,12
Bouvier_des_Flandres,1,1,1,1,1,1,1,0,1,0,1,1,1,1,1
Brabancon_griffon,3,3,3,3,3,3,3,1,3,1,3,3,3,3,3
Brittany_spaniel,8,8,8,8,8,8,8,7,8,2,8,8,8,8,8
Cardigan,23,23,23,21,21,21,21,16,21,2,21,21,21,23,21
Chesapeake_Bay_retriever,31,31,31,31,31,31,31,23,31,3,31,31,31,31,31
Chihuahua,95,95,95,90,90,90,90,69,90,9,91,91,91,95,91
Dandie_Dinmont,7,7,7,7,7,7,7,5,7,1,7,7,7,7,7
Doberman,9,9,9,9,9,9,9,9,9,0,9,9,9,9,9
English_setter,9,9,9,8,8,8,8,5,8,1,8,8,8,9,8
English_springer,11,11,11,10,10,10,10,5,10,2,10,10,10,11,10
EntleBucher,1,1,1,1,1,1,1,0,1,0,1,1,1,1,1
Eskimo_dog,22,22,22,22,22,22,22,14,22,6,22,22,22,22,22
French_bulldog,32,32,32,31,31,31,31,26,31,4,30,30,30,32,30
German_shepherd,21,21,21,21,21,21,21,17,21,7,21,21,21,21,21
German_short-haired_pointer,8,8,8,8,8,8,8,5,8,2,8,8,8,8,8
Gordon_setter,4,4,4,4,4,4,4,2,4,0,4,4,4,4,4
Great_Dane,11,11,11,11,11,11,11,8,11,2,11,11,11,11,11
Great_Pyrenees,15,15,15,15,15,15,15,11,15,3,15,15,15,15,15
Greater_Swiss_Mountain_dog,3,3,3,3,3,3,3,2,3,1,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
cocker_spaniel,34,34,34,30,30,30,30,21,30,5,30,30,30,34,30
collie,11,11,11,11,11,11,11,10,11,0,11,11,11,11,11
curly-coated_retriever,3,3,3,3,3,3,3,3,3,1,3,3,3,3,3
dalmatian,13,13,13,12,12,12,12,8,12,3,12,12,12,13,12
flat-coated_retriever,8,8,8,8,8,8,8,3,8,1,8,8,8,8,8
giant_schnauzer,4,4,4,3,3,3,3,3,3,0,4,4,4,4,4
golden_retriever,173,173,173,156,156,156,156,111,156,34,158,158,158,173,158
groenendael,2,2,2,2,2,2,2,2,2,0,2,2,2,2,2
keeshond,4,4,4,4,4,4,4,4,4,1,4,4,4,4,4
kelpie,13,13,13,13,13,13,13,11,13,2,13,13,13,13,13
komondor,3,3,3,3,3,3,3,3,3,1,3,3,3,3,3
kuvasz,19,19,19,17,17,17,17,13,17,3,18,18,18,19,18
malamute,34,34,34,33,33,33,33,26,33,3,33,33,33,34,33
malinois,11,11,11,11,11,11,11,7,11,0,11,11,11,11,11
miniature_pinscher,26,26,26,24,24,24,24,19,24,3,25,25,25,26,25
miniature_poodle,8,8,8,8,8,8,8,8,8,1,8,8,8,8,8
miniature_schnauzer,5,5,5,5,5,5,5,5,5,0,5,5,5,5,5
papillon,8,8,8,7,7,7,7,7,7,3,7,7,7,8,7
pug,65,65,65,62,62,62,62,49,62,11,62,62,62,65,62
redbone,6,6,6,6,6,6,6,4,6,1,6,6,6,6,6
schipperke,15,15,15,13,13,13,13,12,13,3,13,13,13,15,13
silky_terrier,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1
soft-coated_wheaten_terrier,15,15,15,14,14,14,14,8,14,0,15,15,15,15,15
standard_poodle,12,12,12,11,11,11,11,9,11,1,11,11,11,12,11
standard_schnauzer,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1
toy_poodle,52,52,52,50,50,50,50,43,50,8,51,51,51,52,51
toy_terrier,3,3,3,3,3,3,3,3,3,0,3,3,3,3,3
vizsla,14,14,14,13,13,13,13,11,13,1,13,13,13,14,13
whippet,11,11,11,11,11,11,11,9,11,2,11,11,11,11,11
wire-haired_fox_terrier,2,2,2,2,2,2,2,2,2,1,2,2,2,2,2